<div id="films_table">
{% for fov in film_on_venue %}
<p>
<button type="button"
    class="edit-film"
    data-id="{{ fov.id }}"
    data-film-id="{{ fov.film.id }}"
    data-film-name="{{ fov.film.title }}"
    data-section="{{ fov.section }}"
    data-awards="{{ fov.awards }}"
    data-year="{{ fov.year }}">{{ fov.film }}</button>

<button  type="button" class="delete-film" data-id="{% if fov.id %}{{ fov.id }}{% endif %}" data-name="{{ fov.festival.name }}">- DELETE</button>
</p>
{% endfor %}
</div>
