{% extends "base.html" %}


{% block title %}
{% if venue %}{{ venue.value }}{% else %}NEW VENUE{% endif %}
{% endblock %}

{% block content %}

<div id="pg--venue-form">
<div class="page-title">
    <h1>{% if venue %}<a href="{% url "venue-details" venue.id %}">{{ venue.name }}</a>{% else %}NEW EXHIBITION{% endif %}</h2>
</div>

<div>
    <div class="pages" style="line-height: normal">
        <p>
        <a id="basic-info-page" href="{% if venue %}{% url "edit-venue" venue.id %}{% else %}#{% endif %}">1</a>
        <a id="add-films-page" href="{% if venue %}{% url "add-venue-films" venue.id %}{% else %}#{% endif %}">2</a>
        </p>
    </div>
</div>


{% block form %}{% endblock %}

{% endblock %}
