{% extends "add_venue/base.html" %}
{% load common_tags %}

{% block form %}

<section class="basic">
    <h2>FILMS PLAYED</h2>

    <div id="film_list" style="margin-bottom: 50px">
        {% include 'add_venue/_added_films.html' %}
    </div>

    <div class="add-new">
        <button class="add" type="button" id="add-new-film">+ ADD FILM</button>
    </div>

    <div class="fields" id="add-film-to-venue-box">
        <div class="control-group" id="add-film-to-venue">
            <form action="." method="post" id="add-venue-films-form">
                {% csrf_token %}
                {% render_form form %}
                <input type="hidden" id="id-year" name="year" placeholder="YEAR"/>
                <span class="help-block" style="display:none" id="year-required">These are both required</span>
            </form>
        </div>

        <div id="add-films-to-venue-optional-box">
            <div id="film-on-venue">
                <p>OPTIONAL:</p>
                <input type="text" name="section" placeholder="SECTION" />
                <input type="text" name="awards" placeholder="AWARDS"/>
            </div>
            <button class="done" id="done-adding-film" type="button">+ DONE</button>
            <button class="cancel" id="cancel-adding-film" type="button">- CANCEL </button>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){
        hideAddFilmForm();

        // Submit on click
        $("button.submit").on("click", function(e){
            $("form#add-venue-films-form").submit();
        });

        // Done button
        $("#done-adding-film").on("click", function(e){
            e.preventDefault();
            var pk = $(e.target).attr('data-id')
            addFilmAjax(pk);
        });

        // Select2 for year
        $("input#id-year").select2({
            placeholder: 'YEAR',
            data: {{ available_years|safe }},
            tokenSeparators: [','],
            multiple: true,
            maximumSelectionSize: 1
        });

        // Film select2
        SM.singleChoiceDropdown($("input#id_film"), '{% url "json-films" %}', true, true);

        // Add Button
        $("button#add-new-film").on('click', function(e){
            showAddFilmForm();
        })

        // Close add new form
        $("button#cancel-adding-film").on('click', function(e){
            e.preventDefault();
            hideAddFilmForm();
        })

        // Edit added film
        $("div#film_list").on('click', 'button.edit-film', function(e){
            var object = $(e.currentTarget);
            var fov_data = {
                'film_id': object.attr('data-film-id'),
                'film_name': object.attr('data-film-name'),
                'id': object.attr('data-id'),
                'section': object.attr('data-section'),
                'awards': object.attr('data-awards'),
                'year': object.attr('data-year')
            }

            showAddFilmForm(fov_data);
        })

        // Delete button
        $("div#film_list").on('click', 'button.delete-film', function(e){
            e.preventDefault();
            var fov_id = $(e.currentTarget).attr('data-id');
            $.ajax({
                type: 'post',
                data: { id: fov_id },
                url: "{% url "delete-fov" %}",
                success: function(response){
                    hideAddFilmForm();
                    $('div#film_list').html(response.html);
                }
            });
        })

        // Select active wizard step
        $("div.pages a#add-films-page").addClass("active");

        function addFilmAjax(pk){
            var section = $("div#film-on-venue input[name='section']").val();
            var awards = $("div#film-on-venue input[name='awards']").val();
            var film_id = $("input#id_film").val();
            var year = $("input[name='year']").val();

            if (!year || !film_id) {
                $("#year-required").show();
                $("div#add-film-to-venue").addClass("error");
                return false;
            } else {
                $("div#add-film-to-venue").removeClass("error");
                $("#year-required").hide();
            }

            return $.ajax({
                url: '{% url "add-venue-films-ajax" %}',
                type: "POST",
                data: {
                    'section': section,
                    'awards': awards,
                    'film_id': film_id,
                    'pk': pk,
                    'year': year,
                    'venue_pk': {{ venue.id }}
                },
                success: function(resp){
                    $("div#film_list").html(resp);
                    hideAddFilmForm();
                }
            });
        }

        function hideAddFilmForm(){
            $("div#add-film-to-venue-box").hide();
            $("div.add-new").show();
        }

        function showAddFilmForm(fov_data){
            if (fov_data){
                $("input#id-year").select2("data", {
                    'id': fov_data.year,
                    'text': fov_data.year
                });

                $('input#id_film').select2("data", {
                    'id': fov_data.film_id,
                    'text': fov_data.film_name
                });
                $("div#film-on-venue input[name='section']").val(fov_data.section);
                $("div#film-on-venue input[name='awards']").val(fov_data.awards);
                $("button#done-adding-film").attr('data-id', fov_data.id);
            }
            else {
                $("input[name='year']").select2("val", null);
                $('input#id_film').select2("val", null);
                $("button#done-adding-film").removeAttr("data-id");
                $("div#film-on-venue input[name='section']").val('');
                $("div#film-on-venue input[name='awards']").val('');
            }

            $("div#add-film-to-venue").removeClass("error");
            $("#year-required").hide();
            $("div#add-film-to-venue-box").show();
            $("div.add-new").hide();
        }
    });
</script>

{% endblock %}
