{% extends "add_venue/base.html" %}
{% load common_tags %}

{% block form %}

<section class="basic">

<h2>BASIC INFORMATION</h2>

<div class="fields">
    <form action="." method="post" id="add-venue-form">
        {% csrf_token %}
        {% render_form form %}

        {% if venue %}
        <h3>DELETE EXHIBITION</h3>
        <p>This is where you delete this exhibition from Simple Machine forever. Are you sure you want to do this?</p>
        <button href="{% url "delete-venue" venue.id %}" class="delete-venue" id="delete-venue" type="button" >DELETE!</button>
        {% endif %}
    </form>
</div>

<div class="save">
    <button id="save-step" href="#" class="submit">SAVE & FINISH</button>
</div>
</div>
</section>

<script type="text/javascript">
    $(window).ready(function(){
        // Submit on click
        $("button.submit").on("click", function(e){
            $("form#add-venue-form").submit();
        });

        $("#delete-venue").on("click", function(ev){
            ev.preventDefault();
            var lnk = $(ev.currentTarget).attr("href");
            var r=confirm("Are you sure you want to delete this venue?");
            if (r==true){
              window.location = lnk;
            }
        });

        $("div.pages a#basic-info-page").addClass("active");
    });
</script>

{% endblock %}
