{% extends "base.html" %}
{% load common_tags %}

{% block title %}
{% if film %}{{ film.title }}{% else %}NEW FILM{% endif %}
{% endblock %}


{% block extracss %}
    <style type="text/css">

    </style>
{% endblock %}


{% block content %}
<div id="pg--film-wizard">

<div class="page-title">
        <h1>{% if film %}<a href="{% url "film-details" film.id %}">{{ film.title }}</a>{% else %}NEW FILM{% endif %}</h1>
</div>

<div>
    <div class="pages" style="line-height: normal">
        <p>
        <a id="basic-info-page" href="{% if film %}{% url "edit-film" film.id %}{% else %}#{% endif %}">1</a>
        <a id="media-page" href="{% if film %}{% url "add-film-media" film.id %}{% else %}#{% endif %}">2</a>
        <a id="festivals-page" href="{% if film %}{% url "add-film-festivals" film.id %}{% else %}#{% endif %}">3</a>
        <a id="reviews-page" href="{% if film %}{% url "add-film-reviews" film.id %}{% else %}#{% endif %}">4</a>
        <a id="cast-page" href="{% if film %}{% url "add-film-cast" film.id %}{% else %}#{% endif %}">5</a>
        <a id="logistics-page" href="{% if film %}{% url "add-film-logistics" film.id %}{% else %}#{% endif %}">6</a>
        </p>
    </div>
</div>
<div>
{% block form %}{% endblock %}
</div>

<div class="save">
    {% if not last_step %}
        <button id="save-step" class="submit">SAVE CHANGES</button>
    {% else %}
        <button id="save-step" class="submit">SAVE & FINISH</button>
    {% endif %}
</div>

</div>

<script type="text/javascript">
    $(window).ready(function(){
        $("#save-step").on("click", function(e){
            var uploadsInProgress = $("#uploads-in-progress");
            if (uploadsInProgress) {
                var count = parseInt(uploadsInProgress.val());
                if (count > 0) {
                    var c = confirm("You have uploads in progress, are you sure you want to navigate away from this page?");
                    if (c != true) {
                        return false;
                    }
                }
            }
            $("form.step-form").submit();
        });
    });
</script>

{% block extra_content %}{% endblock %}
{% endblock %}
