{% extends "add_film_wizard/base.html" %}
{% load common_tags %}

{% block form %}

<section class="basic">

<h2>BASIC INFORMATION</h2>

<form action="." method="post" class="step-form form-horizontal">
<div class="create-profile-image {% if form.image.errors %} control-group error {% endif %}">
        {% csrf_token %}
        <div id="profile-image-uploader">
            {% if film %}
            {% include "_file_upload_with_crop.html" with img=film.profile_image.url edit="1" %}
            {% else %}
            {% include "_file_upload_with_crop.html" with img=form.image.value %}
            {% endif %}
        </div>
        {% if form.image.errors %}<span class="help-block">Header image is required.</span>{% endif %}
</div>
<div class="fields">
        {% render_form form %}

        <span id="captioned-box">
            <div class="control-group" style="margin-bottom: 1em">
                <h3 style="margin-top: 0em">CAPTIONED?</h3>
                <button id="captioned-yes" class="toggle-yes" type="button">YES!</button>
                <button id="captioned-no" class="toggle-no" type="button">NO!</button>
            </div>
        </span>
</div>
</form>

</section>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function () {
        fileUploadWithCrop($("form input[name='coordinates']"));

        {% if film and film.captioned %}
            $("#captioned-yes").addClass("active");
        {% else %}
            $("#captioned-no").addClass("active");
        {% endif %}

        $("#captioned-yes").on("click", function(e){
            e.preventDefault();
            $("input#captioned").val("true");
            $("#captioned-yes").addClass("active");
            $("#captioned-no").removeClass("active");
        });

        $("#captioned-no").on("click", function(e){
            e.preventDefault();
            $("input#captioned").val("false");
            $("#captioned-no").addClass("active");
            $("#captioned-yes").removeClass("active");
        });
    });

    $("div.pages a").removeClass("active");
    $("div.pages a#basic-info-page").addClass("active");
</script>

{% endblock %}
