{% extends "add_film_wizard/base.html" %}
{% load common_tags %}

{% block form %}
<form action="." method="post" class="step-form form-horizontal" style="margin:0" id="cast">
    {% csrf_token %}
    {% render_form form %}
</form>

<section class="cast">

<h2>CAST+CREW</h2>

<div>
    <h3>PRINCIPLE CAST</h3>
    <div id="added_cast">
        {% include "add_film_wizard/partials/_added_cast.html" %}
    </div>
</div>

<div class="fields" id="add_cast" style="display: none">
    <input type="text" name="character" placeholder="CHARACTER" />
    <input type="text" name="actor" placeholder="ACTOR" />
    <button name="submit" id="add-cast-button" class="done" type="button">+ DONE</button>
    <button id="cancel-adding-cast" class="cancel" type="button">- CANCEL</button>
</div>
<div class="add-new">
    <button class="add" id="add-new-cast-link" type="button">+ ADD NEW</button>
</div>
<div style="clear:both"></div> <!-- Clearfix HACK that should be cleaned up -->


<div>
    <h3>CREW</h3>
    <div id="added_crew">
        {% include "add_film_wizard/partials/_added_crew.html" %}
    </div>
</div>


<div class="fields" id="add_crew" style="display: none">
    <input type="text" name="role" placeholder="ROLE" />
    <input type="text" name="name" placeholder="NAME" />
    <button href="#" id="add-crew-button" class="done" type="button">+ DONE</button>
    <button id="cancel-adding-crew" class="cancel" type="button">- CANCEL</button>
</div>
<div class="add-new">
    <button id="add-new-crew-link" class="add" type="button">+ ADD NEW</button>
</div>


</section>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    function clearCastForm(){
        $("div#add_cast input[name='character']").val('');
        $("div#add_cast input[name='actor']").val('');
        $("#add-cast-button").removeAttr("data-edit-pk");
    }

    function clearCrewForm(){
        $("div#add_crew input[name='role']").val('');
        $("div#add_crew input[name='name']").val('');
        $("#add-crew-button").removeAttr("data-edit-pk");
    }

    function hideCastForm(){
        $("div#add_cast").hide();
        $("#add-new-cast-link").show();
        clearCastForm();
    }

    function hideCrewForm(){
        $("div#add_crew").hide();
        $("#add-new-crew-link").show();
        clearCrewForm();
    }

    function showCastForm(character, actor) {
        if (character && actor) {
            $("div#add_cast input[name='character']").val(character);
            $("div#add_cast input[name='actor']").val(actor);
        }
        $("div#add_cast").show();
        $("#add-new-cast-link").hide();
    }

    function showCrewForm(role, name) {
        if (role && name) {
            $("div#add_crew input[name='role']").val(role);
            $("div#add_crew input[name='name']").val(name);
        }
        $("div#add_crew").show();
        $("#add-new-crew-link").hide();
    }

    $(window).ready(function(){
        $("div.pages a").removeClass("active");
        $("div.pages #cast-page").addClass("active");

        $("#add-cast-button").on("click", function(e){
            e.preventDefault();
            var character = $("div#add_cast input[name='character']").attr("value");
            var actor = $("div#add_cast input[name='actor']").attr("value");
            var edit_pk = $(e.target).attr("data-edit-pk");
            $.ajax({
                type: 'post',
                data: {'character':character, 'actor':actor, 'edit_pk': edit_pk},
                url: '{% url "add-cast" film.id %}',
                success: function(response) {
                    $("div#added_cast").html(response);
                    clearCastForm()
                    $("div#add_cast input[name='character']").focus();
                }
            });
        });

        $("#add-crew-button").on("click", function(e){
            e.preventDefault();
            var role = $("div#add_crew input[name='role']").attr("value");
            var name = $("div#add_crew input[name='name']").attr("value");
            var edit_pk = $(e.target).attr("data-edit-pk");
            $.ajax({
                type: 'post',
                data: {'role':role, 'name':name, 'edit_pk': edit_pk},
                url: '{% url "add-crew" film.id %}',
                success: function(response) {
                    $("div#added_crew").html(response);
                    clearCrewForm();
                    $("div#add_crew input[name='role']").focus();
                }
            });
        });

        $("#cancel-adding-cast").on("click", function(e){
            e.preventDefault();
            e.stopPropagation();
            hideCastForm();
        });

        $("#cancel-adding-crew").on("click", function(e){
            e.preventDefault();
            e.stopPropagation();
            hideCrewForm();
        });

        $("#add-new-cast-link").on("click", function(e){
            e.preventDefault();
            $("#add-cast-button").removeAttr("data-edit-pk");
            showCastForm();
            $("div#add_cast input[name='character']").focus();
        });

        $("#add-new-crew-link").on("click", function(e){
            e.preventDefault();
            $("#add-crew-button").removeAttr("data-edit-pk");
            showCrewForm();
            $("div#add_crew input[name='role']").focus();
        });

        // DELETE CAST
        $("div#added_cast").on("click", "button.delete-cast", function(e){
            e.preventDefault();
            e.stopPropagation();
            $.ajax({
                type: 'post',
                url: $(e.target).attr("data-url"),
                success: function(response){
                    $('div#added_cast').html(response);
                }
            });
        });

        // DELETE CREW
        $("div#added_crew").on("click", "button.delete-crew", function(e){
            e.preventDefault();
            e.stopPropagation();
            $.ajax({
                type: 'post',
                url: $(e.target).attr("data-url"),
                success: function(response){
                    $('div#added_crew').html(response);
                }
            });
        });

        // EDIT CAST
        $("div#added_cast").on("click", "tr.edit-cast", function(e){
            e.preventDefault();
            var character = $(e.currentTarget).find("td.character").attr('data-character');
            var actor = $(e.currentTarget).find("td.actor").attr('data-actor');
            $("#add-cast-button").attr("data-edit-pk", $(e.currentTarget).attr("data-id"));
            showCastForm(character, actor);
        });


        // EDIT CREW
        $("div#added_crew").on("click", "tr.edit-crew", function(e){
            e.preventDefault();
            var role = $(e.currentTarget).find("td.role").attr('data-role');
            var name = $(e.currentTarget).find("td.name").attr('data-name');
            $("#add-crew-button").attr("data-edit-pk", $(e.currentTarget).attr("data-id"));
            showCrewForm(role, name);
        });

    });
</script>

{% endblock %}
