{% extends "add_film_wizard/base.html" %}
{% load common_tags %}

{% block form %}

<section class="festivals">

    <h2>SHOWCASES <span> Showcases include any film festivals, online collections, awards, or notable exhibitions in which this film was included.</span></h2>

    <div id="festival_list">
        {% include 'add_film_wizard/partials/_added_festivals.html' %}
    </div>

    <div class="add-new">
        <button class="add" type="button" id="add-new-festival">+ ADD SHOWCASE</button>
    </div>

    <div class="fields">
        <div class="control-group" id="add-festival-name-box">
                <form action="." method="post" class="step-form form-horizontal" id="festivals">
                    {% csrf_token %}
                    {% render_form form %}
                    <input type="hidden" id="id-year" name="year" placeholder="YEAR"/>
                    <span class="help-block" style="display:none" id="year-required">These are both required</span>
                </form>
        </div>

        <div id="add-festival-optional-box">
                <div id="film-on-festival">
                    <p>OPTIONAL:</p>
                    <input type="text" name="section" placeholder="SECTION" />
                    <input type="text" name="awards" placeholder="AWARDS"/>
                </div>
            <button class="done" id="done-adding-festival" type="button">+ DONE</button>
            <button class="cancel" id="cancel-adding-festival" type="button">- CANCEL </button>
        </div>
    </div>

</section>

{% endblock %}


{% block extra_js %}
	<script type="text/javascript">
        function hideAddFestivalForm(){
            $("div#add-festival-name-box").hide();
            $("div#add-festival-optional-box").hide();
            $("#add-new-festival").show();

            // clear form
            $("div#film-on-festival input[name='section']").val("");
            $("div#film-on-festival input[name='awards']").val("");
            $("input#id-festival").select2("val", "");
        };

		$(window).ready(function(){
            $("#save-step").off("click");
            $("div.pages a").removeClass("active");
            $("div.pages a#festivals-page").addClass("active");

            hideAddFestivalForm();

            $("#add-new-festival").on("click", function(e){
                e.preventDefault();
                showFestivalForm();
            });

            $("#cancel-adding-festival").on("click", function(e){
                e.preventDefault();
                hideAddFestivalForm();
                $("div#add-festival-name-box").removeClass("error");
                $("#year-required").hide();
            });

            $("#done-adding-festival").on("click", function(e){
                e.preventDefault();
                var pk = $(e.target).attr('data-pk')
                addFestivalAjax(pk);
            });

            // Delete festival
            $("div#festival_list").on("click", "button.delete-festival", function(e){
                e.preventDefault();
                var id = $(e.target).attr("data-id");
                var name = $(e.target).attr("data-name");
                $.ajax({
                    type: 'post',
                    data: { id: id, name:name },
                    url: "{% url "delete-fof" %}",
                    success: function(response){
                        hideAddFestivalForm();
                        $('div#festival_list').html(response.html);
                    }
                });
            });

            // Sort festival
            $("div#festival_list").on("click", "button.festival-up-button", function(e){
                e.preventDefault();
                var id = $(e.target).attr("data-id");
                $.ajax({
                    type: 'post',
                    data: { id: id },
                    url: "{% url "sort-up-fof" %}",
                    success: function(response){
                        $('div#festival_list').html(response.html);
                    }
                });
            });

            // Edit already added festival
            $("div#festival_list").on("click", "button.edit-festival", function(e){
                e.preventDefault();
                var festival_id = $(e.target).attr('data-id');
                var festival_to_edit_data = getDataForAddedFestival(festival_id);
                showFestivalForm(festival_to_edit_data);
            });

            var addFestivalAjax = function(pk){
                var section = $("div#film-on-festival input[name='section']").val();
                var awards = $("div#film-on-festival input[name='awards']").val();
                var festival_id = $("input#id-festival").select2("val");
                var year = $("input[name='year']").val();

                if (!year) {
                    $("#year-required").show();
                    $("div#add-festival-name-box").addClass("error");
                    return false;
                } else {
                    $("#year-required").hide();
                }

                return $.ajax({
                    url: '{% url "add-film-on-festival" %}',
                    type: "POST",
                    data: {
                        'section': section,
                        'awards': awards,
                        'id-festival': festival_id,
                        'pk': pk,
                        'year': year,
                        'film_pk': {{ film.id }}
                    },
                    success: function(resp){
                        $("div#festival_list").html(resp);
                        hideAddFestivalForm();
                    }
                });
            }

            var getDataForAddedFestival = function(festival_id){
                var festival_link = $('button.edit-festival[data-id="'+festival_id+'"]');
                return {
                    id: festival_link.attr('data-id'),
                    festival_id: festival_link.attr('data-festival-id'),
                    festival_name: festival_link.attr('data-festival-name'),
                    section: festival_link.attr('data-section'),
                    year: festival_link.attr('data-year'),
                    awards: festival_link.attr('data-awards'),
                }
            };

            var formIsShown = function(){
                var form = $("div#add-festival-name-box");
                return form.is(":visible");
            };

            $("#save-step").on("click", function(e){
                e.preventDefault();
                e.stopPropagation();
                var pk = $(e.target).attr('data-pk')
                if (formIsShown()) {
                    var jqXHR = addFestivalAjax(pk);
                    $.when(jqXHR).then(function(data){
                        $("form.step-form").submit();
                    });
                } else {
                    $("form.step-form").submit();
                }
            });

            var showFestivalForm = function(festival_data){
                if (festival_data) {
                    $('input#id_url').val(festival_data.url);
                    $('input#id-festival').select2("data", {
                        'id':festival_data.festival_id,
                        'text':festival_data.festival_name
                    });
                    $('input[name="section"]').val(festival_data.section);
                    $('input[name="awards"]').val(festival_data.awards);
                    $('input[name="year"]').select2("data", {
                        'id': festival_data.year,
                        'text': festival_data.year
                    });

                    $("#done-adding-festival").html("UPDATE");
                    $("#cancel-adding-festival").html("CANCEL");
                    $("#done-adding-festival").attr("data-pk", festival_data.id);
                    $("#year-required").hide();
                    $("div#add-festival-name-box").removeClass("error");
                }
                else {
                    $("#done-adding-festival").html("+ DONE");
                    $("#cancel-adding-festival").html("- CANCEL");
                    $("#done-adding-festival").removeAttr("data-pk");
                }
                $("#add-new-festival").hide();
                $("div#add-festival-name-box").show();
                $("div#add-festival-optional-box").show();
            };

            $("input#id-year").select2({
                placeholder: 'YEAR',
                data: {{ available_years|safe }},
                tokenSeparators: [','],
                multiple: true,
                maximumSelectionSize: 1
            });

			$("input#id-festival").select2({
                placeholder: 'NAME OF FESTIVAL',
                data: jQuery.parseJSON($("input#id-festival").attr("data")),
                tokenSeparators: [','],
                multiple: true,
                maximumSelectionSize: 1,
                minimumInputLength: 2,
                createSearchChoice: function(term, data){
                    return {'id':'99999999', 'text':'Create new Festival: ' + term, 'festival_name':term}
                },
                ajax: {
                    url: "{% url "list-festivals" %}",
                    dataType: 'json',
                    quietMilis: 200,
                    data: function(term, page) {
                        return {q:term};
                    },
                    results: function(data, page) {
                        return {results:data};
                    }
                }
            });

            $("input#id-festival").on("change", function(e){
                e.preventDefault();
                if (e.val == "99999999") {
                    var festivalName = $("input#id-festival").select2("data")[0]['festival_name'];
                    // Remove just added stub element
                    var current_values = $("input#id-festival").select2("data");
                    var without = _.without(current_values, e.added);
                    $("input#id-festival").select2("data", without);

                    $.ajax({
                        url: '{% url "add-festival" %}',
                        type: 'POST',
                        data: {'name':festivalName},
                        success: function(resp){
                            $("input#id-festival").select2("data", {'id':resp, 'text':festivalName});
                        }
                    });
                }
            });
		});
	</script>
{% endblock %}

