{% extends "add_film_wizard/base.html" %}

{% block form %}
<input type="hidden" id="uploads-in-progress" value="0" />

<section class="media">

<h2>MEDIA</h2>

<div>
    <form action="." method="post" class="step-form"enctype="multipart/form-data">
        {% csrf_token %}

        <h3> TRAILER </h3>
        <div class="fields">
        {% include "helpers/form_field.html" with field=form.trailer_url %}
        {% include "helpers/form_field.html" with field=form.coordinates %}
        {% include "helpers/form_field.html" with field=form.image %}
        </div>

        <h3>SECURE ONLINE SCREENER</h3>
        <p>If you have a secure online screener of your film on Vimeo you can link that video here. This allows other users, upon your approval, to preview your film right here on Simple Machine.</p>
        <div class="fields">
        {% include "helpers/form_field.html" with field=form.vimeo_url %}
        {% include "helpers/form_field.html" with field=form.vimeo_password %}
        </div>

        <h3> STILLS </h3>
        <div id="stills">
            <div id="uploaded-stills">
                {% for still in film.stills.all %}
                    <div>
                        <img src='{{ still.small.url }}' />
                        <button id="{{ still.id }}" class="remove-still" type="button">REMOVE</button>
                    </div>
                {% endfor %}
            </div>
            <div class="add-new">
                <div class="fileinput-button">
                    <button id="upload-still-button" class="add"><span id="upload-still-button-title">ADD {% if film.stills.count > 0 %} MORE {% endif %} HIGH RESOLUTION STILLS </span>
                    </button>
                    <input id="fileupload2" type="file" name="file" data-url="{% url "upload-film-still" film.id %}" multiple/>
                </div>
            </div>
        </div>
    </form>
</div>

</section>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    var attachRemoveListener = function(elem){
        elem.on("click", function(e){
            e.stopPropagation();
            e.preventDefault();
            $.post("{% url "remove-still" %}", {"still": e.target.id});
            $(e.target).parent().remove();
        });
    };

    $(document).ready(function () {
        $("div.pages a").removeClass("active");
        $("div.pages a#media-page").addClass("active");

        // STILLS
        var xhrObj = null;
        $("#fileupload2").fileupload({
            dataType: "json",
            sequentialUploads: true,
            done: function(e, data){
                var currentUploadsInProgress = parseInt($("#uploads-in-progress").val());
                $("#uploads-in-progress").val(--currentUploadsInProgress);
                if (data.result.success == true) {
                    // Hide progress bar

                    data.context.find('.progress').remove();
                    data.context.find('#cancel-upload').remove();

                    // Show uploaded image
                    data.context.append("<img src='"+data.result.url+"' />");

                    // Show remove link
                    var link = $("<button id='"+data.result.id+"' class='remove-still' >REMOVE</button>");
                    data.context.append(link);
                    attachRemoveListener(link);
                } else {
                    data.context.find('div.progress-box').remove();
                    alert(data.result.reason);
                }
            },
            add: function(e, data) {
                var currentUploadsInProgress = parseInt($("#uploads-in-progress").val());
                $("#uploads-in-progress").val(++currentUploadsInProgress);
                var newDiv = $("<div class='progress-box' style='margin-bottom: 6em'/>");
                newDiv.append("<div class='progress progress-striped active'><div class='bar' style='width: 0%'></div></div><button type='button' id='cancel-upload'>CANCEL</button>")

                if (data.files[0].type == "image/tiff") {
                    alert("Sorry! TIF files cannot be shown in most major browsers, so for now we are not accepting them! Please upload a JPEG, PNG, or GIF in RGB color space.");
                }
                else {
                    newDiv.appendTo("div#uploaded-stills");
                    data.context = newDiv;
                    xhrObj = data.submit();

                    $('#cancel-upload').on('click', function(){
                        xhrObj.abort();
                        $(this).parent().remove();
                    });

                    $("#upload-still-button-title").html('ADD MORE STILLS');
                    $("span.fileinput-button").css("border", "");
                }
            },
            progress: function(e, data){
                var progress = parseInt(data.loaded / data.total * 100, 10);
                data.context.find('.bar').css(
                    'width',
                    progress + '%'
                );
            }
        });


        // Attach remove still behaviour for existing stills
        $("button.remove-still").each(function(index, value){
            attachRemoveListener($(value));
        });
    });
</script>

{% endblock %}
