{% extends "add_film_wizard/base.html" %}
{% load common_tags %}

{% block form %}

<section class="reviews">

    <h2>REVIEWS</h2>

    <div id="added_reviews">
        {% include 'add_film_wizard/partials/_added_reviews.html' %}
    </div>

    <div class="add-new">
        <button class="add" id="add-new-review-link" type="button">+ ADD REVIEW</button>
    </div>

    <div class="fields">
        <form action="." method="post" class="step-form form-horizontal" id="reviews">
            {% csrf_token %}
            <div id="add_review" class="add-form" style="display: none;">
                <div class="review-form-holder">{% render_form review_form %}</div>
                <button class="done" id="done-adding-review" type="button">+ DONE</button>
                <button class="cancel" id="cancel-adding-review" type="button">- CANCEL</button>
            </div>

        </form>
    </div>

</section>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    function hideAddReviewForm(){
        $("div#add_review").slideUp(200);
        $("#add-new-review-link").show();

        stick_empty_review_form($('div.review-form-holder'));
    };

    $(window).ready(function(){
        $("#save-step").off("click");
        $("div.pages a").removeClass("active");
        $("div.pages a#reviews-page").addClass("active");

        $("#cancel-adding-review").on("click", hideAddReviewForm);

        $("div#added_reviews").on("click", "button.delete-review", function(e){
            var id = $(e.target).attr("data-id");
            $.ajax({
                type: 'post',
                data: { id: id },
                url: "{% url "delete-review" %}",
                success: function(response){
                    if (response.success) {
                        $('div#added_reviews').html(response.html);
                        stick_empty_review_form($('div.review-form-holder'));
                        $('div#add_review').slideUp(200);
                        $("#add-new-review-link").show();
                    } else {
                        $('div.review-form-holder').html(response.html);
                        var reviewer_id_old_val = $("input#reviewer_id").val();
                        renderReviewerSelect($("input#reviewer_id"));
                        renderOrganizationSelect($("input#organization_id"));
                        $("input#reviewer_id").select2("data", response.reviewer);
                        $("input#organization_id").select2("data", response.organization);
                    }
                }
            });

        });

        // Sort review
        $("div#added_reviews").on("click", "button.review-up-button", function(e){
            e.preventDefault();
            var id = $(e.target).attr("data-id");
            $.ajax({
                type: 'post',
                data: { id: id },
                url: "{% url "sort-up-review" %}",
                success: function(response){
                    $('div#added_reviews').html(response.html);
                }
            });
        });

        var addReviewAjax = function(pk) {
            return $.ajax({
                type: 'post',
                data: {
                    url: $('input#id_url').val(),
                    organization: $('input#organization_id').val(),
                    reviewer: $('input#reviewer_id').val(),
                    full_text: $('textarea#id_full_text').val(),
                    pull_quote: $('textarea#id_pull_quote').val(),
                    pk: pk
                },
                url: "{% url "add-review" film.id %}",
                success: function(response){
                    if (response.success) {
                        $('div#added_reviews').html(response.html);
                        stick_empty_review_form($('div.review-form-holder'));
                        $('div#add_review').slideUp(200);
                        $("#add-new-review-link").show();
                    } else {
                        $('div.review-form-holder').html(response.html);
                        var reviewer_id_old_val = $("input#reviewer_id").val();
                        renderReviewerSelect($("input#reviewer_id"));
                        renderOrganizationSelect($("input#organization_id"));
                        $("input#reviewer_id").select2("data", response.reviewer);
                        $("input#organization_id").select2("data", response.organization);
                    }
                }
            });
        };

        $("#done-adding-review").on("click", function(e){
            var pk = $(e.target).attr('data-pk')
            e.preventDefault();

            addReviewAjax(pk);
        });

        var formIsShown = function(){
            var form = $("div#add_review");
            return form.is(":visible");
        };

        $("#save-step").on("click", function(e){
            e.stopPropagation();
            e.preventDefault();
            var pk = $(e.target).attr('data-pk')
            if (formIsShown()) {
                var jqXHR = addReviewAjax(pk);
                $.when(jqXHR).then(function(data){
                    if (data.success){
                        $("form.step-form").submit();
                    }
                });
            } else {
                $("form.step-form").submit();
            }
        });

        var getDataForAddedReview = function(review_id){
            var review_link = $('button.edit-review[data-id="'+review_id+'"]');
            return {
                id: review_link.attr('data-id'),
                url: review_link.attr('data-url'),
                organization_id: review_link.attr('data-organization-id'),
                organization_name: review_link.attr('data-organization-name'),
                reviewer_id: review_link.attr('data-reviewer-id'),
                reviewer_name: review_link.attr('data-reviewer-name'),
                full_text: review_link.attr('data-full-text'),
                pull_quote: review_link.attr('data-pull-quote')
            }
        };

        var showReviewForm = function(review_data){
            renderReviewerSelect($("input#reviewer_id"));
            renderOrganizationSelect($("input#organization_id"));
            if (review_data) {
                $('input#id_url').val(review_data.url);
                if (review_data.organization_id) {
                    $('input#organization_id').select2("data", {
                        'id':review_data.organization_id,
                        'text':review_data.organization_name
                    });
                }
                if (review_data.reviewer_id) {
                    $('input#reviewer_id').select2("data", {
                        'id':review_data.reviewer_id,
                        'text':review_data.reviewer_name
                    });
                }
                $('textarea#id_full_text').val(review_data.full_text);
                $('textarea#id_pull_quote').val(review_data.pull_quote);


                $("#done-adding-review").html("UPDATE");
                $("#done-adding-review").attr("data-pk", review_data.id);
            }
            else {
                $("#done-adding-review").html("DONE");
                $("#done-adding-review").removeAttr("data-pk");
            }
            $('div#add_review').slideDown(200);
            $("#add-new-review-link").hide();
        };

        // Edit already added review
        $("div#added_reviews").on("click", "button.edit-review", function(e){
            var review_id = $(e.target).attr('data-id');
            var review_to_edit_data = getDataForAddedReview(review_id);
            showReviewForm(review_to_edit_data);
        });

        function renderReviewerSelect(elem) {
            elem.select2({
                multiple: true,
                maximumSelectionSize:1,
                minimumInputLength: 2,
                closeOnSelect: true,
                createSearchChoice: function(term, data) {
                    return {id:'999999999', text:'Create new Reviewer: ' + term, reviewer_name: term}
                },
                ajax: {
                    url: "{% url "list-reviewers" %}",
                    dataType: 'json',
                    quietMilis: 200,
                    data: function(term, page) {
                        return {q:term};
                    },
                    results: function(data, page) {
                        return {results:data};
                    }
                }
            });

            elem.on("close", function(e){
                $('div#s2id_organization_id input.select2-input').focus();
                $("input#reviewer_id").select2("close");
            });

            elem.on("change", function(e){
                var selected_data = elem.select2("data")[0];
                if (selected_data && selected_data.id == "999999999") {
                    // Send AJAX POST request to server and create new reviewer
                    $.ajax({
                        type: 'post',
                        data: {'name': selected_data.reviewer_name},
                        url: '{% url "add-reviewer" %}',
                        success: function(response){
                            elem.select2("data", {id:response, text:selected_data.reviewer_name});
                        }
                    });
                }
            });
        };

        function renderOrganizationSelect(elem) {
            elem.select2({
                multiple: true,
                maximumSelectionSize:1,
                minimumInputLength: 2,
                closeOnSelect: true,
                createSearchChoice: function(term, data) {
                    return {id:'999999999', text:'Create new Organization: ' + term, org_name: term}
                },
                ajax: {
                    url: "{% url "list-organizations" %}",
                    dataType: 'json',
                    quietMilis: 200,
                    data: function(term, page) {
                        return {q:term};
                    },
                    results: function(data, page) {
                        return {results:data};
                    }
                }
            });

            elem.on("close", function(e){
                $("input#reviewer_id").select2("close");
            });

            elem.on("change", function(e){
                var selected_data = elem.select2("data")[0];
                if (selected_data && selected_data.id == "999999999") {
                    // Send AJAX POST request to server and create new organization
                    $.ajax({
                        type: 'post',
                        data: {'name': selected_data.org_name},
                        url: '{% url "add-organization" %}',
                        success: function(response){
                            elem.select2("data", {id:response, text:selected_data.org_name});
                        }
                    });
                }
            });
        };

        window.stick_empty_review_form = function(el) {
            $.get('{% url "add-review" film.id %}', function(data){
                $(el).html(data);
            });
        }

        $('div#add_review').on('focus', 'input.select2-input', function(e){
            if ($(e.currentTarget).parents('div.select2-container').attr("id") == "s2id_reviewer_id") {
                if ($("input#organization_id").select2("isFocused")) {
                    return false;
                }
                if ($("input#reviewer_id").select2("val").length == 0){
                    $("input#reviewer_id").select2("open");
                }
            } else {
                if ($("input#organization_id").select2("val").length == 0){
                    $("input#organization_id").select2("open");
                }
            }
        });

        $('#add-new-review-link').click(function(){
            showReviewForm();
            $('input#id_url').focus();
        });
    });
</script>
{% endblock %}
