{% extends "add_film_wizard/base.html" %}
{% load common_tags %}

{% block form %}

<section class="logistics">

<h2>LOGISTICS</h2>

<form action="." method="post" class="step-form form-horizontal" style="margin-top: 50px;" id="logistics">
    {% csrf_token %}

    <input type="hidden" name="allow_verified" />
    <input type="hidden" name="is_public" />
        
        
        <h3>UPLOAD EXHIBITION FILE</h3>
        <p>You can upload a high-quality quicktime file of your film for exhibition purposes, but you do this directly on your film's <a href="{% url "film-details" film.id %}">profile page.</a> </p>
        
        <h3>MAKE FILM PUBLIC</h3>
        <p>If you make this film public it will show up in search results, venue, festival and critic pages. Otherwise it will be unlisted, but still reachable by direct link.</p>

        <button id="make-public-yes" class="toggle-yes" type="button">YES!</button>
        <button id="make-public-no" class="toggle-no" type="button">NO!</button>

        <h3>ALLOW WATCH WITHOUT ASKING</h3>
        <p>Allow verified venues to watch this movie without asking?</p>
        <button id="allow-preview-yes" class="toggle-yes" type="button">YES!</button>
        <button href="#" id="allow-preview-no" class="toggle-no" type="button">NO!</button>

        <h3>PAYPAL INFORMATION</h3>
        <p>In order to recieve payments you need a paypal account. Enter the email associated with your paypal account here.</p>
        <div class="fields">
        {% include "helpers/form_field.html" with field=form.paypal_email %}
        </div>

        <h3>DELETE FILM</h3>
        <p>This is where you delete this film from Simple Machine forever. Are you sure you don't just want to unlist it (above)?</p>
        <button href="{% url "delete-film" film.id %}" class="delete-film" id="delete-film" type="button" >DELETE!</button>

</form>


</section>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){
        $("div.pages a").removeClass("active");
        $("div.pages a#logistics-page").addClass("active");

        $("#allow-preview-yes").on("click", function(e){
            e.preventDefault();
            $("input[name='allow_verified']").val("true");
            $("#allow-preview-yes").addClass("active");
            $("#allow-preview-no").removeClass("active");
        });

        $("#allow-preview-no").on("click", function(e){
            e.preventDefault();
            $("input[name='allow_verified']").val("");
            $("#allow-preview-no").addClass("active");
            $("#allow-preview-yes").removeClass("active");
        });
        {% if form.allow_verified.value %}
        $("#allow-preview-yes").addClass("active");
        $("input[name='allow_verified']").val("true");
        {% else %}
        $("#allow-preview-no").addClass("active");
        {% endif %}


        $("#make-public-yes").on("click", function(e){
            e.preventDefault();
            $("input[name='is_public']").val("true");
            $("#make-public-yes").addClass("active");
            $("#make-public-no").removeClass("active");
        });

        $("#make-public-no").on("click", function(e){
            e.preventDefault();
            $("input[name='is_public']").val("false");
            $("#make-public-no").addClass("active");
            $("#make-public-yes").removeClass("active");
        });

        {% if form.is_public.value %}
        $("#make-public-yes").addClass("active");
        $("input[name='is_public']").val("true");
        {% else %}
        $("#make-public-no").addClass("active");
        {% endif %}

        $("#delete-film").on("click", function(ev){
            ev.preventDefault();
            var lnk = $(ev.currentTarget).attr("href");
            var r=confirm("Are you sure you want to delete this film?");
            if (r==true){
              window.location = lnk;
            }
        });
    });
</script>
{% endblock %}

