{% extends "base.html" %}
{% load common_tags %}

{% block content %}

<div id="pg--curation-form">

<div class="page-title">
    {% if edit %}
        <h1>EDIT LIST</h1>
    {% else %}
        <h1>NEW LIST</h1>
    {% endif %}
</div>

<form id="add-curation-form" action="." method="POST" class="form-horizontal">
        <input type="hidden" name="is_public" value="{{ form.is_public.value }}" />
        {% csrf_token %}

        <h2>NAME THIS LIST</h2>
        <div class="name">
            {% with field=form.title %}
                {% include "helpers/form_field.html" %}
            {% endwith %}
        </div>

        <h2>ADD FILMS TO THIS LIST</h2>
        <div id="tagged-films" class="tagged-films">
        </div>
        <div class="control-group {% if form.films.errors %}error{% endif %}">
            <div>
                <div class="add-films">
                    <input type="text" id="id-film" placeholder="SEARCH BY FILM TITLE" style="width: 100%"/>
                {% for f in tagged_films %}
                    <input type="hidden" class="tagged-film" data-id="{{ f.id }}" data-title="{{ f.title }}" />
                {% endfor %}
                </div>
            </div>
            {% if form.films.errors %}
            <span class="help-block">{% for e in form.films.errors %}{{ e }}{% if not forloop.last %}, {% endif %}{% endfor%}</span>
            {% endif %}
        </div>

        <h2>ADD A DESCRIPTION</h2>
        <div class="description">
            {% with field=form.description %}
                {% include "helpers/form_field.html" %}
            {% endwith %}
        </div>

        <h3>MAKE THIS LIST PUBLIC?</h3>
        <p></p>
        <div class="public">
        <button type="button" id="make-public-yes" class="toggle-yes">YES!</button>
        <button type="button" id="make-public-no" class="toggle-no">NO!</button>
        </div>

        {% if edit %}
        <h2>DELETE LIST</h2>
        <p>This is where you delete this list from Simple Machine forever. Are you sure you want to do this?</p>
        <button href="{% url "delete-curation" curation_id %}" class="delete-curation" id="delete-curation" type="button" >DELETE!</button>
        {% endif %}
    <!-- Films -->

<div class="save">
    <button class="submit">SAVE & FINISH </button>
</div>

</form>

</div>

{% endblock %}

{% block extra_js %}

<script type="text/javascript">
    $(window).ready(function(){

        SM.filmTaggerAutocomplete($("input#id-film"), '{% url "json-films" %}', $("form#add-curation-form"), $("div#tagged-films"));
        SM.showTaggedFilms($("form#add-curation-form"), $("div#tagged-films"));

        // Init remove listener for tagged films
        $("div#tagged-films").on("click", "p > a", function(ev){
            ev.preventDefault();
            var a = ev.currentTarget;
            var id = $(a).attr('data-id');
            $(a).parent().remove();
            $("form#add-curation-form").find("input[name='films'][value="+id+"]").remove();
        });

        $("#make-public-yes").on("click", function(e){
            e.preventDefault();
            $("input[name='is_public']").val("true");
            $("#make-public-yes").addClass("active");
            $("#make-public-no").removeClass("active");
        });

        $("#make-public-no").on("click", function(e){
            e.preventDefault();
            $("input[name='is_public']").val("false");
            $("#make-public-no").addClass("active");
            $("#make-public-yes").removeClass("active");
        });

        {% if form.is_public.value %}
        $("#make-public-yes").addClass("active");
        {% else %}
        $("#make-public-no").addClass("active");
        {% endif %}

        $("#delete-curation").on("click", function(ev){
            ev.preventDefault();
            var lnk = $(ev.currentTarget).attr("href");
            var r=confirm("Are you sure you want to delete this list?");
            if (r==true){
              window.location = lnk;
            }
        });

    });
</script>

{% endblock %}
