{% extends "base.html" %}
{% load staticfiles %}

{% block extracss %}

{% endblock %}


{% block content %}

<div id="pg--curation">

<div class="hero">
    <div class="title-container">
        <p>FILMS IN THE LIST</p>
        <h1>{{ curation.title|upper }}  </h1>
        <p> BY <a href="{% url "user-page" curation.user.id %}">{{ curation.user.get_profile.name|upper }} </a></p>
    </div>
</div>

{% if user == curation.user %}
<nav class="profile-menu">
    <a href="{% url "edit-curation" curation.id %}">EDIT LIST</a>
</nav>
{% endif %}

<div class="container">

<section class="basic-info">
        <div>
            <h2>DESCRIPTION</h2>
            <p> {{ curation.description }}</p>
        </div>
</section>

</div>

<section class="timeline" style="margin-top: 10em">
    <div id="film-results">
        <!-- Populated by AJAX request -->
    </div>
</section>

<div id="discover-results">
    <!-- Populated by AJAX request -->
</div>

</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){

        $("div#film-results").on("click", "a.page-link", function(ev){
            ev.preventDefault();
            var page = $(ev.currentTarget).attr("data-page");
            getResultsCuration(page);
        })

        function getResultsCuration(page){
            window.location.hash = page;
            SM.addSpinner("div#film-results");

            var filter_data = {};
            filter_data.page = page;
            filter_data.per_page = 10;

            $.ajax({
                url: "{% url "curation-films" curation.id %}",
                data: filter_data,
                success: function(data){
                    $("div#film-results").html(data);
                }
            });
        }

        $(window).on('hashchange', function() {
            page = window.location.hash.substring(1);
            getResultsCuration(page);
        });

        var page = 1;
        if (window.location.hash){
            page = window.location.hash.substring(1);
        }
        getResultsCuration(page);

        $.ajax({
            url: "{% url "load-discover-data" %}",
            data: {},
            success: function(data){
                $("div#discover-results").html(data);
            }
        });
    });
</script>
{% endblock %}
