{% extends "base.html" %}

{% block content %}
<p class="page-title" style="text-align: center">CURATIONS</p>

<p style="text-align: center">Curations are a neat way to create your own festival and put together some films you like and some other cool stuf. Nandan, write some cool copy for this :)</p>

<br />
<p style="font-size: 2em; text-align: center"><a href="{% url "add-curation" %}">+ CREATE YOUR OWN CURATION</a></p>
<br />

{% for curation in curations %}
<p>
<a href="{% url "curation-details" curation.id %}{{ curation.title|slugify }}">
    <p style="font-size: 2em">{{ curation.title }} by {{ curation.user.get_profile.name }} ({{ curation.films.all|length }} films)
    {% if curation.user == request.user %}
    <a href="{% url "edit-curation" pk=curation.id %}">(EDIT)</a>
    {% endif %}
    {% if not curation.is_public %} --private-- {% endif %}
    </p>
</a>
</p>
<br />
<br />
<br />

{% endfor %}

{% endblock %}
