/* Alerts */
.alert {
  background: #FFF;
  padding: 8px 35px 8px 14px;
  top: 0;
  lefT: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  color: #000;
  font-size: 1.5em;
  border: 3px dotted #000;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: 700;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  @extend %box-shadow-main;
}

.close {
    float: right;
}

.alert .close {
  position: relative;
  font-size: 2em;
  line-height: .75; // Needed so that large X sits on line with rest of message (1.5em of reg alert / 2em X font-size
  right: 0;
  opacity: 1;
  text-shadow: none;
  color: #000;
}

.alert .close:hover {
    color: rgba(0,0,0, .5);
}


/*
.alert-danger,
.alert-error {
}
*/


.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}


// ERRORS

$error: #F69;

.help-block {
  display: block;
  margin-bottom: 40px;
  font-size: 1.5em;
  font-weight: 900;
  text-transform:uppercase;
}

.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline,
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: $error;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: $error;
  border-width: 3px;
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: $error;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: $error;
  background-color: #f2dede;
  border-color: $error;
}

