
@mixin outer-container {
  @include clearfix;
  padding: 0 20px;
  position: relative;
  max-width: none;
    @include media(768px) {
        max-width: 768px;   
    }
    @include media(980px) {
        max-width: 980px;
    }
    @include media(1200px) {
        max-width: 1140px;
    }
    @include media(1900px) {
        max-width: 1700px;
    }
  margin: {
    left: auto;
    right: auto;
  }
}

.container {
    @include clearfix;
}

html {
    background: $bg-site;
    background-repeat: repeat;
    height: 100%;
}
body {
	background: inherit;
	font-family: $font;
    font-weight: 300;
    color: #666;
    line-height: 1.5;
    height: 100%;
}

div.mm-page {
    @include clearfix;
    min-height: 100%; // HACK FOR STICKY FOOTER WITH MMENU
}

@media (max-width: 767px) {
	body {
    	font-size:0.7em;
		padding: 0;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
    body {
        font-size:0.7em;
    }
}

@media (min-width: 980px) and (max-width: 1200px) {
    body {
        font-size:0.8em;
    }
}



// LINKS
%focus {
    border-bottom: dotted 3px #999;
    margin-bottom: -3px;
    outline: none;
}

a {
    color: #000;
    &.active {
        color: $accent !important;
    }
    &:hover {
        text-decoration: none;
        color: $accent;
    }
    &:focus {
        @extend %focus;
    }
}

button {
    font: inherit;
    display: inline-block;
    cursor:pointer;
    background: none;
    color: #000;
    &.active {
        color: $accent !important;
    }
    &:hover {
        color: $accent;
    }
    &:focus {
        @extend %focus;
    }
}


// THIS OVERRIDES SOME OF THE JQUERY FILEUPLOAD-UI STYLES TO WORK BETTER IN OUR SETUP
div.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    &:hover {
        span {
            color: $accent; // ADDS HOVER COLOR FOR BUTTON!
        }
    }
    input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

// TELEPHONE NUMBERS
a[href^=tel] {
	text-decoration: none;
	font-style: none;
	color: inherit;
}
span.skype_pnh_container {
	display:none !important;
	}
span.skype_pnh_print_container {
	display:inline !important;
	}