%button-a {
    font-family: $font-alt;
    &:before {
        content: "+";
        color: $accent;
    }
}
%button-b {
    font-family: $font;
    font-weight: 700;
    &::before {
        content: "+";
        color: $accent;
    }
}
%button {
    font-size: 2em;
    font-weight: 700;
}
%btn-delete {
    font-size: 0.7em;
    font-weight: 700;
    margin-left: 1%;
    &::before {
        content: "–";
        color: $accent;
        padding-right: .1em;
    }
}
%toggle {
    font-size: 2em;
    font-weight: 300;
    font-family: $font;
    margin-right: 1em;
    &::before {
        content: none;
    }
}
%save {
    @include span-columns(24);// needed to keep it FLOATING and stop divs from collapsing above it.
    margin-top: 8em;
    text-align: center;
    a {
        color: #000;
        &:hover {
            color: $accent;
        }
    }
    .button, button {
        @extend %button;
        border: 5px dotted $accent;
        padding: 20px;
        &:hover {
            border-color: #000;
    }
    }
    p {
    font-size: 1.8em;
    }
}

button.toggle-yes {
    @extend %toggle;
}
button.toggle-no {
    @extend %toggle;
    margin-left: 2em;
}
a.button {
    @extend %button;
}

a.small_button {
    @extend %small_button;
}
a.accordion-header {
    font-size: 4em;
    font-weight: 900;
    line-height: 0.9em;
}
