form {
    text-align: center;
}

%form-label {
    font-size: 3em;
    color: #000;
    font-weight: 100;
    margin: 2em 0 0 0;
}

%form-label-alt {
    margin-top: 3em;
    font-size: 2.5em;
    font-weight: 100;
    color: #333;
}
%forms-width {
    width: 100%;
    @media ($not-phone){
        @include center(45%);
    }
}