$input-btm-margin: 1em;
$input-border: 2px dotted #000;


input,
select,
textarea {
  font-family: $font;
  font-weight: 300;
  color: #333;
  &:focus {
     outline: none;
    }
}

input, textarea {
    width: 100%;
}


// Input placeholders
input {
    @include placeholder {
    color: #AAA;
    font-size: 1em;
    font-weight: 300 !important;
	line-height:normal;
    }
}


// NOT SURE WHAT THIS IS
input[type="submit"].btn-link {
    font-size: 1.6em;
    font-family: $font;
    font-weight: 700;
    text-align: left;
    color: #999;
}

// DOES THIS DO ANYTHING?
input[type="button"], input[type="submit"],
input[type="reset"], input[type="file"],
::-webkit-file-upload-button, button {
padding: 0;
border: none;
}

//GEN STYLING
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  padding: 4px 6px !important; //!important overrides Select2 Defaults
  margin-bottom: $input-btm-margin;
  vertical-align: middle;
  height: auto;
  background-color: #ffffff;
  border: $input-border;
  line-height: normal;
  color: #333;
  font-size: 1.5em;
  box-shadow: none;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
		  -webkit-appearance: none !important;
		  -moz-appearance: none !important;
}

textarea {
  font-size: 1.5em;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance:none;
margin:0;
}

::-webkit-calendar-picker-indicator {
    display: none;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}


// --- SELECT2 STYLE CHANGES

// BASIC
.select2-container {
    border: $input-border !important;
    margin-bottom: $input-btm-margin*1.5 !important; // Spacing!
    width: 100% !important;
    .control-group.error & {
        border-color: $error !important; // ERROR!
        border-width: 3px !important; 
    }
}
.select2-input{
    font-size: 1.5em !important;
    font-family: $font !important;
    color: #AAA !important;
}
ul.select2-choices {
    border: none !important;
    background-image: none !important;
}

.select2-container .select2-choice span { // Selection text-color for dropdowns
    color: #333;
}

.select2-container .select2-choice.select2-default span { // Placeholder for dropdowns
    color: #999;
}

// SPECIFIC
.select2-container-multi .select2-choices .select2-search-field input { // Prevents collapse
    height: auto !important;
}

.select2-drop, .select2-choice, .select2-choice div  { // Drop-downs
    -webkit-border-radius: 0px !important;
         -moz-border-radius: 0px !important;
          border-radius: 0px !important;
    background-image: none !important;
    background: #FFF !important;
    border: none !important;
}

.select2-choice { // Drop-downs
    text-align: left;
    font-size: 1.5em !important;
    color: #AAA !important;
    @media ($not-phone) {
        height: 1.6em !important;
        line-height: 1.6em !important;
    }
    div b {
    @media (min-width: 1200px) {
        background-position-y: 7px !important;
        }
    }

}

.select2-container-multi .select2-choices .select2-search-choice { // Styles the selected items (tags)
        -webkit-border-radius: 0px !important;
         -moz-border-radius: 0px !important;
          border-radius: 0px !important;
    background: none !important;
    line-height: 1.5em !important;
    box-shadow: none;
}


//--- DATEPICKER


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}


.datepicker td.active, .datepicker td.active:hover, .datepicker td.active.disabled, .datepicker td.active.disabled:hover {
background-color: $accent !important;
background-image: none !important;
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
