@mixin center($center-width) {
    width: $center-width;
    margin-left: (100-$center-width)/2;
}

$gutter: golden-ratio(1em, 3);
$grid-columns: 24;
$max-width: em(1140);

$phone: "max-width: 767px";
$tablet: "min-width: 768px) and (max-width: 980px";
$large: "min-width: 980px";

$not-phone: "min-width: 768px";







