{% extends "base.html" %}
{% load staticfiles %}

{% block title %}BROWSE{% endblock %}

{% block extracss %}
<!--[if lte IE 9]>
<link rel="stylesheet" href="{% static "slider/jquery.nouislider.min.css" %}">
<![endif]-->
{% endblock %}

{% block content %}
</div>
<div id="pg--browse">
    <!-- INCLUDE SEARCH AND DASH -->
    <!-- {% include 'browse/partials/_search_and_dash.html' %} -->

    <h1 class="all-films">ALL FILMS</h1>

    <div id="browse-results">
        <!-- Populated by AJAX request - Films (TPL: partials/_film_results.html) -->
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){
        mixpanel.track("browse page all films shown", {
            "user_id": "{% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %}"
        });

        $("div#browse-results").on("click", "img.play-button",function(e){
            var film_id = $(e.currentTarget).parents('div.play-trailer').attr('data-id');
            mixpanel.track("trailer viewed on browse page", {
                "film_id": film_id
            });
        });

        $(window).on('filterValues.changed', function(){
            getFilteredResults(1);
        });

        $(window).on('hashchange', function() {
            page = window.location.hash.substring(1);
            getFilteredResults(page);
        });

        // Page links
        $("div#browse-results").on("click", "a.page-link", function(ev){
            ev.preventDefault();
            var page = $(ev.currentTarget).attr("data-page");
            getFilteredResults(page);
        });

        var page = 1;
        if (window.location.hash){
            page = window.location.hash.substring(1);
        }
        getFilteredResults(page);
    });

    function getFilteredResults(page){
        window.location.hash = page;
        SM.addSpinner("div#browse-results");

        var filter_data = SM.getFiltersValues();
        filter_data.page = page;
        filter_data.per_page = 10;

        $.ajax({
            url: "{% url "browse-films-filter" %}",
            data: filter_data,
            success: function(data){
                $("div#browse-results").html(data);
            }
        });
    }

</script>
{% endblock %}

