{% extends "base.html" %}

{% block title %}BROWSE{% endblock %}

{% block extracss %}
{% endblock %}

{% block content %}

</div>
<div id="pg--browse">
    <h1>COLLECTIONS</h1>

    <nav class="collection-types">
        <div class="filters">
        <a href="#" class="active discover" data-type="discover">DISCOVER</a>
        <a href="#" data-type="exhibitions" data-url="{% url "curators-by-type" "showcase" %}">EXHIBITIONS|<span class="showcase-count"></span></a>
        <a href="#" data-type="press" data-url="{% url "curators-by-type" "press" %}">PRESS|<span class="press-count"></span></a>
        </div>
    </nav>
    <!-- INCLUDE COLLECTION -->

    <div id="discover-results">
        <!-- Populated by AJAX request - Collections (TPL: partials/_collection_list_discover.html) -->
    </div>

    <div id="curator-results" style="display: none">
        <!-- Populated by AJAX request - Collections (TPL: partials/_collection_list.html) -->
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){
        var base_url_collections;
        var collection_type = 'discover';

        $(window).on('hashchange', function() {
            var type = window.location.hash.substring(1).split("|")[0];
            var page = window.location.hash.substring(1).split("|")[1];
            loadPageData(type, page);
        });

        mixpanel.track("browse page discover shown", {
            "user_id": "{% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %}"
        });
        if (window.location.hash){
            var type = window.location.hash.substring(1).split("|")[0];
            var page = window.location.hash.substring(1).split("|")[1];
            loadPageData(type, page);
        }
        getFilteredResultsDiscover();

        $(window).on('filterValues.changed', function(){
            getFilteredResultsDiscover();
            if (base_url_collections){
                $("div#discover-results").hide();
                getCurrentCollectionPageData(1);
                $('html, body').animate({
                    scrollTop: $($("#curator-results")).offset().top - parseInt($('body').css('paddingTop'))
                }, 500);
            }
        });

        // Load collection for collection type
        $("nav.collection-types a").on("click", function(ev){
            ev.preventDefault();

            if ($(ev.currentTarget).hasClass('discover')){
                loadPageData('discover');
            }
            else {
                loadPageData($(ev.currentTarget).attr("data-type"), 1);
            }
        });

        // Collection page links
        $("div#curator-results").on("click", "a.page-link", function(ev){
            ev.preventDefault();
            var page = $(ev.currentTarget).attr("data-page");
            getCurrentCollectionPageData(page);
        })

        function loadPageData(type, page){
            if (type == 'exhibitions' || type == 'press') {
                $("div#discover-results").hide();
                $("div#curator-results").show();
                base_url_collections = $("a[data-type='" + type + "']").attr("data-url");
                collection_type = $("a[data-type='" + type + "']").attr("data-type");
                $("nav.collection-types a").removeClass('active');
                $("a[data-type='" + type + "']").addClass('active');
                getCurrentCollectionPageData(page);
            }
            else {
                $("div#discover-results").show();
                $("div#curator-results").empty().hide();
                base_url_collections = null;
                collection_type = "discover";
                window.location.hash = "";
            }
            $("nav.collection-types a").removeClass('active');
            $("a[data-type='" + collection_type + "']").addClass('active');
        }

        function getCurrentCollectionPageData(page){
            window.location.hash = collection_type + "|" + page;
            SM.addSpinner("div#curator-results");

            var filter_data = SM.getFiltersValues();
            filter_data.page = page;
            filter_data.per_page = 40;

            $.ajax({
                url: base_url_collections,
                data: filter_data,
                success: function(data){
                    $("div#curator-results").html(data);
                }
            });
        };
 
        function getFilteredResultsDiscover(){
            SM.addSpinner("div#discover-results");
            var filter_data = SM.getFiltersValues();

            $.ajax({
                url: "{% url "browse-discover-ajax" %}",
                data: filter_data,
                success: function(data){
                    $("div#discover-results").html(data.html);
                    $("span.showcase-count").html(data.showcase_count);
                    $("span.press-count").html(data.press_count);
                },
                dataType: 'json'
            });
        }
    });
</script>
{% endblock %}
