div.acc-page-content {
    padding-top: 5em;
    @include span-columns(12);
    @include shift(6);
    @media ($phone) {
        @include fill-parent;
        @include shift(0);
        border-top: 3px dashed #000;
        padding: 3em 20px 0 20px;
        margin-top: 2em;
    }
    p {
        @extend %font-1;
    }
    form {
        text-align:left;
    }
    input {
        width: 50%;
        @media ($phone) {
            width: 100%;
        }
        &:first-of-type {
            margin-top: 1em;
        }
    }
    form[id="paypal-email-form"] {
        margin-top: 2.5em;
        margin-left: 0;
    }
    h2 {
        @extend %form-label;
        margin-top: 0;
        line-height: 1;
        margin-bottom: .5em;
        &:not(:first-of-type) {
            margin-top: 1.5em;
        }
    }
    h3 {
       font-size: 2em;
    }
    button, p.button {
        @extend %button-a;
        @extend %font-3;
        margin-top: 1em;
        display: block;
    }
    #pg--login-info {
        button {
            margin-top: 0;
        }
        p.text-success {
            @extend .current;
        }
    }
    #pq--email-settings {
        button {
            margin-top: 0;
            display: inline-block;
        }
        button.toggle-yes:before,
        button.toggle-no:before {
            content: "";
        }
    }
    p.current {
        @extend %font-3;
        margin-top: 1em;
        font-weight: 700;
    }
    p.error {
        color: $error;
    }
}



