section.aux-info {
    background: #000;
    margin-top: 8em;
}
nav.aux-info {
    @include outer-container;
    @extend %nav-base-fancy;
    padding: 2em 0;
    text-align: left;
    a {
        display: inline-block;
        @extend %font-4;
        color: #FFF;
        &:hover {
            color: $accent;
        }
        @media ($phone) {
            font-size: 1.75em;
            display: block;
            &::after {
                content: none !important;
            }
            &::before {
                content: "+ ";
                color: $accent;
            }
        }
    }
    @media ($phone) {
        padding: 0em 0;
    }
}
div.aux-info {
    @include outer-container;
    color: #FFF;
    div {
        display:none;
        margin-top: 2em;
        margin-bottom: 6em;
    }
    h2 {
        font-size: 4em;
        margin-top: 1em;
        margin-bottom: 30px;
        &:first-of-type {
            margin-top: 0em;
        }
    }
    div#dstatement br {
        line-height: 2;
    }
}

@media (max-width: 767px) {
    .aux-info {
        padding: 1em 0;
    }
    .aux-info h2{
        font-size: 1.5em;
    }
}