.basic-attributes {
    font-family: $font-alt;
    font-size: 1.2em;
    font-weight: 100;
    color: #000;
    a {
        color: $accent;
        &:hover {
            color: #666;
        }
    }
    span {
        display: inline-block;
    }
    span:not(:last-of-type):after{
        content: ".";
        color: $accent;
    }
    @media ($phone) {
        margin-bottom: 5px;
    }
}
#pg--film, #pg--venue, #pg--user {
    .basic-attributes {
        margin-top: 5em;
    }
}
