.basic-info {
    @include outer-container;
    p {
        @extend %font-2;
        margin: 0px;
        color: #333;
    }
    h2 {
        font-family: $font-alt;
        color: #000;
        font-weight: 300;
        @extend %font-4;
        margin-bottom: 0;
    }
    div {
        margin-top: 2em;
        &:first-of-type {
            margin-top: 3em;
        }
    }
    div.synopsis p br {
        line-height: 2;
    }
    div.tags a {
        font-weight: 700;
    }
    div.tags a:not(:last-of-type)::after {
        content: " | ";
        color: $accent;
        vertical-align: 10%;
    }
}

#pg--user {
    .basic-info {
        a { // TO_DO: This is grabbed from film_user FESTIVAL BLOCK -- needs DRYing!
            line-height: 1.5em;
            color: #333;
            display: block;
            &:hover {
                color: $accent;
            }
        }
    }
}

/* ---- SCREENING-INVITE PAGE */
    #pg_screening-invite .basic-info p{
        display: inline;
    }
    #pg_screening-invite .basic-info p:before {
        content: "//";
        color: #666;
        font-weight: 900;
        padding: 0 .2em;
    }
    #pg_screening-invite .basic-info p:first-of-type:before {
        content:none;
    }
    #pg_screening-invite .earnings h2, .earnings p {
        color: $accent;
    }
