#pg--browse {
    // div#browse-results {
    //     padding-top: 6em;
    // }
    h1 {
        @include outer-container;
        @extend %page-title;
        margin-top: 1em;
        text-align: left !important;
        margin-bottom: -0.1em;
        @media ($phone) {
            margin-top: 4em;
        }
        &.all-films {
            margin-bottom: .5em;
        }
    }
    nav.collection-types {
        margin: 0 0 4em 0;
    }
    div.year, div.length {
        @media ($not-phone) {
        }
    }
    .films-discover {
        h3 {
            display: none;         
        }
    }
    #discover-results {
        margin-top: 0;
    }
    .filters {
        @include outer-container;
        font-family: $font-alt;
        color: #000;
        margin-top: 0;
        @media ($phone) {
            margin-top: 2em;
        }
        a {
            @extend %font-2;
            line-height: 2;
            margin-right: 1em;
            @media ($phone) {
                display: block;
                &::before {
                    content: "+";
                    color: $accent;
                }
            }
        }
    }
}



/* div.curator-info-box {
    position: fixed;
    width: 100%;
    text-align:right;
    background-color: rgba(255,255,255, 0.9);
    padding: .5em 2em;
    z-index: 1000;
    bottom: 15px;
    right: 0px;
    color: #000;
    a {
        font-weight: 900;
        color: $accent;
        &:hover {
            color: #000;
        }
    }
    h2 {
        text-transform: uppercase;
        font-family: $font-alt;
        @extend %font-4;
        line-height: 1;
        margin: 0;
        a {
            font-weight: 300;
            color: #000;
            &:hover {
                color: $accent;
            }
        }
    }
    p {
        display: block; // Fallback for non-webkit
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media ($phone) {
        width: 100%;
    }
}
*/