%cast-crew-table {
    table {
        width: 100%;
    }
    tr { 
        cursor: pointer;
    }
    td {
        font-size: 1.5em;
        padding-top: .2em;
        vertical-align:middle;
        @media ($phone) {
            padding-top: 1em;
            font-size: .8em;
        }
        &:first-child {
            text-align: right;
            width: 47.5%;
        }
        &:nth-child(2) {
            text-align: left;
            width: 50%;
            padding-left: 2.5%
        }
        &:last-child {
        }
    }
}

#pg--film {
    div#castcrew {
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        @extend %cast-crew-table;
        tr {
            cursor: text;
        }
    }    
}
