// STILL NEEDS REFACTORING, PRETTY UGLY, NOT MODULAR

#pg--conversation {
    @include outer-container;
    .message-container {
        @include span-columns(24);
        margin-top: 3em;
        margin-bottom: 6em;
        @media ($phone) {
            margin-bottom: 8em;
        }
    }
    h1 {
        text-align:left;
        font-size: 6em;
        margin: 2em 0 0 0;
        line-height: .9;
        @media ($phone) {
            font-size: 3.1em;
            margin: 3.5em 0 0 0;
        }
    }
    h2 {
        line-height: .9;
        text-align:left !important;
        font-size: 2em; 
        text-align: center; 
        font-weight:700; 
        color: #AAA; 
        margin: 0;
        span {
            font-weight: 300; 
            color:#CCC;
        }
    }
    textarea {
        margin-top: 3em;
        margin-bottom: 0.5em;
        width: 14/24*100%;
        height: 10em;
        @media ($phone) {
            width: 100%;
        }
    }
    a#send-message-button {
        font-weight: 900;
        @extend %font-2;
    }
    div.message {
        @extend %font-1b;
        @include span-columns(14);
        text-align: left; 
        &.sender {
            float: right;
            width: auto;
            max-width: 14/24*100%;
        }
        @media ($phone) {
            @include span-columns(20);
        }
    }
    .message-date {
        color: #000;
        font-weight:700;
        @extend %font-0;
        margin-bottom: 1.333em;
        line-height: normal;
    }
    .message-generated {
        margin-bottom: 10px;
        b {
            color: $accent;
            text-transform: uppercase;
            font-weight: 700;
        }
        a {
            font-weight: 700;
            text-transform: uppercase;
        }
        &.dead {
            text-decoration:line-through;
        }
    }
    .action-links {
        margin-top: 0em;
        a {
            @extend %button-a;
            @extend %font-3;
            @media ($phone) {
                font-size: 1em;
            }
            &.toggle {
                @extend %toggle;
            }
        }
    }
}