.create-profile-image {
    margin-bottom: 5em;
    text-align: center;
    @media ($not-phone) {
    @include span-columns(12);
    @include shift(6);
    }
    div.fileinput-button {
        padding: 4em 2em; // ADDS DOTTED BORDER
        border: 3px dotted #CCC; 
        &:hover {
            border-color: #000;
        }
    }
    span {
        font-size: 2em;
        font-weight: 900;
    }
}
// ERROR adds error-colored border
.control-group.error div.fileinput-button {
    border-color: $error;
}