// --- DASHBOARD 
%item-list {
    @extend %font-2;
    @media screen and (max-width: 767px) {
        line-height: 2.5em;
    }
    span {
        color: #999;
    }
    a {
        color: #000;
        &:hover {
            color: $accent;
        }
    }
} 
.dashboard {
    @include span-columns(12);
    @include shift(6);
    margin-top: 4em;
    @media ($phone) {
        margin-top: 2em;
        border-top: 3px dashed #000;
        @include fill-parent;
        @include shift(0);
        padding: 2em 10px 0 10px;
    }
    li {
        @extend %item-list;
        margin-top: 1em;
        font-weight: 300;
        a:not(:last-of-type):after{
            @extend %divider-fancy;
            font-size: .66em;
            color: #CCC;
        }
    }
    .help {
        margin-top: 1em;
    }
}

#my-films span {
    font-weight: 300;
    font-size: .66em;
}
#my-screenings li {
    font-weight: 300;
    span:before {
        content: "•";
        color: $accent;
    }
}

a.item-edit {
    font-size: .66em;
    color: $accent !important;
    &:hover {
        color: #CCC !important ;
    }
}

a.add-new {
    @extend %button-a;
    @extend %font-4;
    color: #000;
    &:hover {
        color: $accent;
    }
    @media ($phone) {
    }
}
