#discover-results {
    margin: 15em 0 3em 0;
}
.films-discover {
    @include outer-container;
    margin-top: 0;
    h3 {
        @extend %font-6;
        color: #000;
        font-family: $font-alt;
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    div.load-more {
        margin-top: 6em;
        a {
            @extend %button-a;
            @extend %font-3;
        }
        span {
            color: $accent;
        }
    }
    .collection-container {
        position: relative;
        section {
            font-family: $font;
            line-height: 1;
            margin-bottom: .7em;
            border-bottom: 2px dotted #999;
            padding-bottom: .2em;
            transition: border-bottom .7s, color .7s;
            &:hover {
                border-bottom: 2px dotted $accent;
                color: $accent;
            }
        }
        span.pre {
            font-family: $font;
            font-size: .375em;
            color: #000;
        }
        span.post {
            font-size: .9em;
            display: inline-block;
            color: #999;
        }
        p.description {
            @extend %font-00;
            color: #666;
            line-height: 1;
            margin-top: .2em;
        }
          a {
            @extend %font-3;
            color: #FFF;
            font-weight: 300;
            background: rgba(255,255,255,0.9);
            color: #000;
            transition: color .7s;
            &:hover {
                color: $accent;
            }
            @media ($phone) {
                font-size: 1.75em
            }
        }
        @media ($phone) {
            @include fill-parent;
        }
    }
}