.event-timeline {
    @include outer-container;
    margin-top: 4em;
    div {
        @include span-columns(12);
        @include omega(2n);
        height: 22em; 
        margin-top: golden-ratio($gutter, -2); 
        position: relative; 
        background-size: cover; 
        background-position: center center;
        @media ($phone) {
            width: 100%;
        }
    }
    h1{
        font-family: $font-alt;
        @extend %font-4;
        line-height: 100%;
        font-weight: 300;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 1.7143em;
        margin-bottom: 0.8571em;
        text-transform: uppercase;
    }
    p {    
        @extend %font-1;
        font-weight: 100;
        margin: 0 15px 15px 15px;
    }
    a{
        position: absolute; 
        top: 0; 
        height: 100%; 
        width: 100%; 
        background: rgba(255,255,255,0.85); 
        color: #000;
        @include transition (all, 1s);
        &:hover {
            background: rgba(255,255,255,0);
            color: transparent;
        }
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    section.event-timeline h1{
    font-size: 2em;
    line-height: 1em;
    font-weight: 900;
    }
}
@media (max-width: 767px) {
    section.event-timeline h1 {
        font-size: 2em;
    }
    section.event-timeline p {
        margin-top: 0px;
    }
}