%whatitis {
    div.splash-links {
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-around);
        @include flex-direction(row);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        padding-top: 10%;
        padding-bottom: 15%;
        a {
            @extend %button-a;
            @extend %font-3;
            @media ($phone) {
                font-size: 1.3333em;
            }
        }
    }
    .splash-links-2 {
        @extend .splash-links;
        position: relative !important;
        width: 100%;
        margin-top: 15em;
        padding-bottom: 5% !important;
    }
	h2 {
        @extend %faq-title;
	}
    .faq {
        @include display(flex);
        @include justify-content(space-around);
        @include flex-direction(row);
        a {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .venue-questions {
        width: 40%;
        padding-left: 2%;
        @media ($phone) {
            width: 45%;
            padding-left: 3px;
        }
    }
    .film-questions {
        width: 40%;
        padding-right: 2%;
        text-align: right;
        @media ($phone) {
            width: 45%;
            padding-right: 3px;
        }
    }
}

#pg--home-anon {
    @extend %whatitis;
    div.whatitis {
       position: absolute;
       top: 85%;
    }
    .logo {
        text-align: right;
        width: 100%;
        position: absolute;
        top: 25px;
        right: 25px;
        text-transform: uppercase;
        font-family: $font-alt;
        opacity: .3;
    }
}

#pg--whatitis {
    @extend %whatitis;
    .intro {
        font-family: $font-alt;
        text-transform: uppercase;
        @extend %font-3;
        color: #000;
        text-align: center;
        margin: 10em 0;
        span {
            color: $accent;
            padding-left: .2em;
        }
    }
}
#pg--grants {
    .page-title h1 {
        @include outer-container;
        text-align: left;
    }
    .faq {
        @include outer-container;
        margin-top: 4em;
        h2 {
            @extend %faq-title;
        }
        a {
            font-weight: 700;
            text-transform: uppercase;
        }
            
    }
}