// TO-DO: RENAME/ORGANIZE THIS!!!

.festival-block {
    @include outer-container;
    margin-top: 4em;
    position: relative;
    font-weight: 300;
    text-align: left;
    h2 {
        font-family: $font-alt;
        @extend %font-4;
        color: #000;
        font-weight: 300;
        margin-bottom: 0;
    }
    a {
        @extend %font-2;
        line-height: 1.5em;
        color: #333;
        display: inline;
        &:hover {
            color: $accent;
        }
    }
    b {
    color: #CCC;
    }
}

#pg--film .tags {
    @extend .festival-block;
}