@import "trailer";

.film-module {
    @include row($direction: RTL);
    overflow:hidden;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 6em;
    .trailer {
        @include span-columns(16);
        @media ($phone) {
            width: 100%;
        }
    }
    .container {
        @include outer-container;
    }
    .has-no-trailer {
        @include display(flex);
        @include align-items(center);
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        p {
            margin: auto;
            color: #FFF;
            text-transform: uppercase;
        }
    }
    .not-trailer {
        @include span-columns(8);
        @include reset-layout-direction;
        padding-right: 1%;
        @media ($phone) {
            width: 100%;
        }

        p.tags {
            font-size: 12px;
        }
    }
    div.add {
        padding: 2px 1em 2px 0;
        padding-left: 1010%;
        margin-left: -1010%;
        background: rgba(0,0,0,1);
        margin-top: 1.5em;
        display: inline-block;
        nav {
            @extend %nav-base-fancy;
        }
        .toggle-curate-container, .learn-more {
            color: #FFF;
            font-family: $font;
            &:hover {
                color: $accent;
            }
        }
        &.active {
            display: block;
            .toggle-curate-container {
                color: $accent;
            }
        }
        .learn-more {
        }
        @media ($phone) {
            margin-bottom: 1em;
        }
    }
    .film-curate-container {
        display: none;
        overflow: auto;
        a, button {
            color: #FFF;
            &:hover {
                color: $accent;
            }
        }
        .curations {
            margin-top: 1em*1.33; // Matches height to-top from p-menu-text which has 1.33em font-size.
        }
        .create-new-curation {
            @extend %menu-button-a;
            font-size: 1.333em;
            margin-top: 0;
        }
        .add-to-curation {
            @extend %menu-button-a;
            font-size: 1.333em;
            margin-top: 0;
        }
        button#close-submenu {
            font-weight: 700;
            margin-top: 1em*1.333;
        }
        p{
            color: #FFF;
            margin-top: 1em;
        }
        p.menu-text {
            @extend %font-1;
            line-height: 1.17;
            padding-right: 5px;
            span {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .anon-login {
            @extend .menu-text;
            margin-top: 2em;
            a {
                font-weight: 700;
                font-size: 1.333em;
            }
        }

    }
    .result-title {
        font-family: $font-alt;
        @extend %nav-general;
        z-index: 2;
        text-transform: uppercase;
        font-weight: 300;
        @media ($phone) {
            padding-top: 2em;
        }
        h3 {
            @extend %font-4;
            font-family: $font;
            line-height: 1;
            font-weight: 700;
        }
        p.info {
            @extend %font-0;
            line-height: normal;
            color: #000;
            font-weight: 300;
            padding-top: .75em;
            span:not(:first-child)::before{
                @extend %divider;
                font-size: 1em;
                content: "•";
                color: $accent;
                margin: 0 .4em 0 -.1em;
            }
            @media ($phone) {
                color: #000;
                margin-top: 0;
            }
        }
    }
    .pull-quote {
        margin-top: 1.5em;
        line-height: 1.17;
        @extend %font-1;
        @media ($phone) {
            margin-top: .5em;
        }
    }
    .fests {
        margin-top: 1.5em;
        line-height: 1;
        a {
            text-transform: uppercase;
            font-weight: 700;
            &:not(:last-of-type)::after {
                content: ", ";
            }
            &:hover {
                color: $accent;
            }
        }
        span {
            font-weight: 300;
            color: auto;
        }
    }
}