nav#footer {
    @extend %nav-base-fancy;
    @extend %font-2;
    background: #000;
    display: inline-block;
    padding: 8px 15px;
    margin: 15em auto 0 auto;
     a {
        color: #FFF;
        font-weight: 300;
        &:hover {
            color: $accent;
        }
        &:after {
            color: #555;
        }
    }
    &.anon {
        display: none; // hack because home-anon has its own footer 
    }
}