#pg--online-screening {
    @include outer-container;
    button.submit {
        @extend %button
    }
    .fields {
        @extend %forms-width;
    }
    form#add-online-screening-form {
        margin-top: 6em;
    }
    .save {
        @extend %save;
    }
    h3 {
        @extend %form-label;
    }
    .datepicker {
        margin-top: 0;
    }
    .date-time-picker {
        input {
            @include span-columns(12);
            @include omega(auto);
            &[name="end_date"],
            &[name="start_date"] {
                text-align: right;
            }
        }
    }
    h2 {
        font-family: $font-alt;
        font-size: 2.333em;
        font-weight: 100;
        color: #000;
        margin: 1em 0 0 0;
        span {
            font-family: $font;
            font-weight: 300;
            font-size: .5em;
            display: block;
            color: #666;
            @media ($not-phone) {
                @include center (50%);
            }
        }
    }
}