#pg--screening-form {
    @include outer-container;
    text-align: left;
    button {
        @extend %button;
    }
    .what, .where, .when, .description, .payment {
        @extend %forms-width;
    }
    h2 {
        @extend %form-label;
    }
    .fields {
        @include center(50%);
    }
    .save {
        @extend %save;
    }
    span.selected-choice {
        font-size: 1.5em;
        color: #000;
    }
    a.remove-selection {
        @extend %btn-delete;
        display: inline-block;
    }
    p.selected-screening-time {
        font-size: 1.5em;
        color: #000;
        &:last-child {
            margin-bottom: 1.5em;
        }
    }
    button.delete-screening {
        @extend %btn-delete;
    }
    button.add-screening {
        @extend %button;
    }
    .datepicker {
	    margin-top: 0;
    }
    .date-time-picker {
        input {
            @include span-columns(12);
            @include omega(auto);
            &[name="screening_date"] {
                text-align: right;
            }
        }
    }
    .payment-options {
        margin-bottom: 4em;
        button {
            font-size:1.5em;
            &::after {
                @extend %divider-fancy;
                color: #000;
            }
            &:last-child::after {
                color: transparent; // HACK because they were not sitting evenly for some reason (invisible divider)
            }
        }
    }
    table {
       width: 100%;
        td {
            font-size: 1.5em;
            color: #000;
            vertical-align: middle;
            padding-top: 30px;
            &:first-child {
                text-align:right;
                width: 42.5%; // this math has no logic, pure trial and error.
                padding-right: 2.5%;
                }
            &:nth-child(2) {
                text-align: right;
                width: 17.5%;
                padding-right: 1%;
                }
            &:last-child {
                text-align:left;
                width: 35%;
                font-weight: 700;
            }
            input {
                font-size: 1em;
                margin-bottom: 0;
                text-align: right;
                width: 3em;
            }
            &.sm-percentage {
                font-size: 1.75em;
            }
        }
    }
    div#amounts-upfront td {
        &:nth-child(2) {
            width: 5%;
        }
        input {
            width: 4em;
            text-align: left;
        }
        span {
            color: $accent;
        }
    }
}