#pg--online-film-form {
    @include outer-container;
    div.video-box {
        @include span-columns(8);
        @include omega(3n);
        margin-bottom: 3em;
        @media ($phone) {
            @include fill-parent;
        }
        p {
            @extend %font-1;
        }
    }
    .added-videos, .unavailable-videos {
        .video-box {
            opacity: 0.7;
        }
    }
    .thumb {
        width: 80%;
        height: 0;
        margin: auto;
        padding-top: 56.25*.8%;
        background-size: cover;
    }
    .save {
        @extend %save;
    }
    .add-vimeo-video {
        margin-top: 15em;
        @media ($not-phone) {
            @include center(50%);
        }
        .thumb {
            width: 100%;
            padding-top: 56.25%;
            margin: 3em auto;
        }
        button.done {
            @extend %button;
            float: right;
        }
        button.cancel {
            @extend %button;
            font-weight: 300;
            float: left;
        }
    }

    h3 {
        font-size: 3em;
    }

    h2 {
        @extend %form-label;
        margin-bottom: 1em;
        span {
            display: block;
            font-size: .333em;
            @media ($not-phone){
                @include center(50%);
            }
        }
    }
}