#pg--curation-form {
    @include outer-container;
    button {
        @extend %button;
    }
    button.toggle-yes {
        @extend %toggle;
    }
    button.toggle-no {
        @extend %toggle;
        margin-left: 2em;
    }
    .name, .add-films, .description, .pulic {
        @extend %forms-width;
    }
    input, textarea {
        width: 100%;
    }
    .fields {
        @extend %forms-width;
    }
    .save {
        @extend %save;
        margin-top: 4em;
    }
    h3 {
        @extend %form-label-alt;
        margin-top: .5em;
    }
    h2 {
        @extend %form-label;
        margin-top: .5em;
    }
    .tagged-films  {
        font-size: 1.8em;
        font-weight: 900;
        text-transform:uppercase;
        color: #333;
        margin: 0 auto 0em auto;
    }
    .tagged-films p:last-of-type {
        margin-bottom: 1em;
    }
    .tagged-films p:first-of-type {
        margin-top: 1em;
    }
    .tagged-films a {
        font-size: .5em;
        display: inline-block;
    }
    .delete-curation {
        @extend %toggle;
    }
}
