#pg--venue-form {
    @include outer-container;
    text-align: center;
    button.submit, button.add {
        @extend %button
    }
    .create-profile-image {
        margin-top: 4em;
    }
    .save {
    @extend %save;
    }

    .delete-venue {
        @extend %toggle;
    }
    .add-new {
        margin-top: 4em;
    }
    button.done {
        @extend %button;
        float: right;
    }
    button.cancel {
        @extend %button;
        font-weight: 300;
        float: left;
    }
    .delete-film {
        @extend %btn-delete;
    }
    #film_list {
        p {
            font-size: 2em;
            margin-bottom: .2em;
            @media ($phone) {
                font-size: 1.2em;
                margin-bottom: 1.5em;
            }
        }
    }
    h2 {
        font-family: $font-alt;
        font-size: 2.333em;
        font-weight: 100;
        color: #000;
        margin: .3em 0 2em 0;
        span {
            font-family: $font;
            font-weight: 300;
            font-size: .5em;
            display: block;
            color: #666;
            @media ($not-phone) {
                @include center (50%);
            }
        }
    }
    h3 {
        @extend %form-label;
    }
    div.pages a {
        font-family: $font;
        font-weight: 300;
        font-size: 4em;
        margin-right: 1.5em;
    }
    div.pages a:last-child {
        margin-right: 0;
    }
    a.active-step {
        color: $accent;
    }
    @media (max-width:767px) {
        div.pages a {
            margin-right: 0.5em;
        }
    }

// --- FILEDS
    .fields {
        @extend %forms-width;
    }

}
