#pg--film-wizard {
    @include outer-container;
    text-align: center;
    .fields {
        @extend %forms-width;
    }
    div.pages a {
        font-family: $font;
        font-weight: 300;
        font-size: 4em;
        margin-right: 1.5em;
    }
    div.pages a:last-child {
        margin-right: 0;
    }
    a.active-step {
        color: $accent;
    }
    @media (max-width:767px) {
        div.pages a {
            margin-right: 0.5em;
        }
    }
    button.submit, button.add, button.remove-still {
        @extend %button;
    }
    button.toggle-yes {
        @extend %toggle;
    }
    button.toggle-no {
        @extend %toggle;
        margin-left: 2em;
    }
    input, textarea {
        width: 100%;
    }
    .save {
        @extend %save;
    }
    h1 a:hover {
        color: $accent;
    }
    h2 {
        font-family: $font-alt;
        font-size: 2.333em;
        font-weight: 100;
        color: #000;
        margin: .3em 0 2em 0;
        span {
            font-family: $font;
            font-weight: 300;
            font-size: .5em;
            display: block;
            color: #666;
            @media ($not-phone) {
                @include center (50%);
            }
        }
    }
    h3 {
        @extend %form-label;
    }
    .logistics h3:first-of-type {
        margin-top: 0;
    }
    .add-new {
        margin-top: 4em;
    }
    button.done {
        @extend %button;
        float: right;
    }
    button.cancel {
        @extend %button;
        font-weight: 300;
        float: left;
    }
    .delete-festival {
        @extend %btn-delete;
    }
    .festival-up-button {
        @extend %btn-delete;
        &::before {
            content: "+";
        }
    }
    .delete-review {
        @extend %btn-delete;
    }
    .review-up-button {
        @extend .festival-up-button;
    }
    .delete-cast, .delete-crew {
        @extend %btn-delete;
    }
    .progress {
        margin-bottom: 1em !important;
        @media ($not-phone) {
            @include center(50%);
        }
    }
    button#cancel-upload::before, button.remove-still::before {
        content: "- ";
        color: $accent;
    }


// --- FIELDS
    .fields {
        @extend %forms-width;
    }
    .basic .fields {
        @extend %forms-width;
    }
    .media .fields {
         margin-top: .5em;
    }
    .festivals, .reviews, .cast {
        .fields {
            margin-top: 2em;
        }
    }

// --- PAGE SPECIFIC STYLES
    .media {
        .add-new {
            margin-top: 2em;
            button::before {
                content: "+ ";
                color: $accent;
            }
        }
        p {
            margin-bottom: 1.5em;
            @media ($not-phone) {
                @include center(50%);
            }
        }
    }
    #uploaded-stills {
        margin-top: 2em;
        img {
            width: 70%;
            margin-bottom: 10px;
            @media($phone) {
                width: 100%;
            }
        }
        div:not(:last-child) {
            margin-bottom: 3em;
        }
        button {
            @extend %button;
            font-size: 1.5em;
            display: block;
            margin: auto auto;
        }
    }
    .festivals, .reviews, .cast {
        a.delete {
            @extend %btn-delete;
        }
    }
    #festival_list, #added_reviews {
        p {
            font-size: 2em;
            margin-bottom: .2em;
            @media ($phone) {
                font-size: 1.2em;
                margin-bottom: 1.5em;
            }
        }
    }
    #add-festival-optional-box p {
        color: #CCC;
        font-weight: 900;
        font-size: 1.5em;
        margin: 1em 0 .5em 0;
    }
    #add_cast, #add_crew {
        input {
            @include span-columns(12);
            @include omega(2n);
            &:first-child {
                text-align: right;
            }
        }
    }
    .logistics {
        p {
            margin-bottom: 1.5em;
            @media ($not-phone) {
                @include center(50%);
            }
        }
        .delete-film {
            @extend %toggle;
        }
    }

// ---  CAST+CREW TABLES
    section.cast {
        @extend %cast-crew-table;
        h3 {
            @extend %form-label;
            font-size: 4.25em;
        }
    }
}


