form#screening-report-form {
    @include outer-container;
}

div#report-placeholder {
    .spinner {
        margin-top: 15em;
    }
}

div.report-form {
    border-top: 4px dashed #000;
    margin-top: 6em;
    padding-top: 6em;
    h1 {
        @include outer-container;
        font-size: 7.5em;
        font-family: $font-alt;
        color: #000;
        font-weight: 100;
        margin-bottom: .5em;
        text-align: center;
        @media ($phone) {
            font-size: 5em;
        }
        line-height: 1;
    }
    h2 {
        @extend %form-label-alt;
        font-weight: 300;
        font-size: 2.33em;
        margin-top: 0;
    }
    input[name="total_revenue"]{
        width: 5em;
        text-align: center;
        color: $accent;
        font-weight: 700;
        padding: 0 auto !important;
        font-size: 1.75em;
    }
    .description {
        margin-top: 2em;
    }
    textarea {
        width: 70%;
        @media ($phone) {
            width: 100%;
        }
    }
    div.fileinput-button {
        margin-top: 4em;
    }
    button.upload-images {
        @extend %font-5;
        @extend %button-a;
    } 
    div#uploaded-photos { // TODO - This should be refactored - should be a module in and of itself, shared by report and add-film.
        margin: 0 auto;
        width: 70%;
        @media ($phone) {
            width: 100%;
        }
        .progress {
            margin-top: 3em;
        }
    }
    div.photo {
        margin-top: 3em;
        width: 100%;
    }
    button.remove-photo {
        margin-top: .5em;
        @extend %font-2;
        font-weight: 700;
    }
    .save {
        @extend %save;
        margin-top: 4em;
    }
}
div.report-form-film {
    @extend .report-form;
    li {
        @extend %toggle;
        display: inline-block;
        &:not(:first-child) {
            margin-left: 1em;
        }
    }
    p {
        font-size: 1.33em;
        margin-top: 3em;
    }

}

div.report-payment {
    color: #000;
    @extend .report-form;
    .payment-form {
        @include outer-container;
    }
    .save {
        margin-top: 8em;
    }
        .payment-form p {
        width: 70%;
        margin: auto auto;
    }
    table#payment-info {
        font-size: 2em;
        line-height: 1.2em;
        margin: 0 auto;
        margin-bottom: 2em;
        width: 70%;
    }
    .payment_user {
	    text-align: left;
	    padding-right: 10%;
	    padding-top: 1em;
        text-transform:uppercase;
    }
    td.amount {
        font-weight: 700;
    }
    .total {
            color: $accent;
    }
    @media ($phone) {
        table#payment-info {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }
}
