%hero-bg-image {
    width: 100%;
    position: relative;
    background-position: top center;
    background-size:cover;
    @media screen and (max-width: 767px) {
        min-height: 200px;
        background-size: cover;
        background-attachment: scroll;
    }
}

%hero-title-container {
    @include outer-container;
    padding-top: .3em auto .3em auto;
    @media screen and (max-width: 767px) {
        padding: 0 auto .1em auto;
    }
}

%hero-h1 {
   font-family: $font-alt;
   font-size: 7.5555em;
   font-weight: 100;
   line-height: 1.1;
   margin: 1em 0 .0 -.1em;
   color: #000; 
   @media ($phone) {
        font-size: 3.5em;
        margin: 50px 0 50px 0;
    }
}

%fit-profile-img {
    height: 0;
    padding-top: 28.2%
}

%hero-huge-container { // defunct - was for blurry image -- too janky!
    @extend %hero-bg-image;
    position: relative;
    height: 40em;
    overflow: hidden;
    @media ($phone) {
        height: 20em;
    }
}

%hero-huge-image { // defunct - was for blurry image -- too janky!
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-size: cover;
    width: 100%;
    -webkit-filter: grayscale(.5) blur(15px);
    img {
        width: 220%;
        max-width: none;
        margin: -30px 0 0 -60%;
        @media ($phone) {
            width: 220%;
        }
    }
}


#pg--film {
   .hero {
        @extend %hero-bg-image;
        @extend %fit-profile-img;
    }
    .title-container {
        @extend %hero-title-container;
        h1 {
            @extend %hero-h1;
        }
    }
}


#pg--screening { //--- SCREENING PAGE 
    .hero {
        position: relative;
        height: 100%;
        padding: 0;
        margin-bottom: 0;
        min-height: 0;
        span {
            display: inline-block;
        }
        span.at {
            color: rgba(255,255,255,.2);
        }
    }
    .black-container {
        background-color: #000;
    }
    .basic-attributes {
        color: #FFF;
        span::after {
            content: none !important;
        }
        span {
            display: block !important;
            font-size: 1em;
        }
    }
    .post-screening {
        background: #000;
        img {    
            width: 100%;
            opacity: .7;
        }
        h1 {
            margin: 0;
            font-size: 3.19em;
            line-height: 1;
            font-weight: 700;
            color: #FFF;
        }
        h2 {
            font-size: 1.33em;
            line-height: 1;
            span {
                color: rgba(255,255,255,.7);
            }
        }
        .basic-attributes {
            margin-top: 1em;
        }
        a {
            color: #FFF;
            &:hover {
                color: $accent;
            }
        }
        .title-container {
            @extend %hero-title-container; 
            position: absolute;
            top: 5em;
            padding-bottom: .7em;
            @media ($phone) {
                padding-bottom: 0;
                top: auto; 
                bottom: 0;
            }
        }
        .no-photos {
            .hero-image {
                @extend %hero-bg-image;
                height: 0;
                width: 100%;
                padding-top: 50%;
                background-size: 20%;
                background-attachment:local;
                background-repeat: repeat;
                opacity: 0.4;
            }
        }
        .basic-attributes {
            font-family: $font;
            span {
                line-height: 1;
            }
        }
    }
    .pre-screening {
        .title-container {
            @extend %hero-title-container; 
            position: relative;
            padding-top: 2em;
            background: #000;
            padding-bottom: 2em;
            @media ($phone) {
                padding-bottom: 3em;
            }
        }
        h1 {
            @extend %hero-h1;
            color: #FFF;
            margin-top: .5em;
        }
        h2 {
            display: inline;
            font-size: 2.333em;
            margin: 1em auto;
            line-height: 1;
        }
        a {
            color: #FFF;
            &:hover {
                color: $accent;
            }
        }
        .basic-attributes {
            margin-top: 1.5em;
        }
        .no-trailer {
            overflow: hidden;
            @media ($phone) {
                height: 200px;
            }
            img {
                width: 100%;
                @media ($phone) {
                    max-width: none;
                    width: 220%;
                    margin-left: -60%;
                }
            }     
        }
    }
}

#pg_screening-invite { //--- SCREENING_INVITE/DETAILS
    .hero {
        @extend %hero-bg-image;
        background-size: cover;
        background-attachment:local;
        height: 28em;
        @media (max-width: 767px) {
            padding-top: 40px;
        }
        .title-container {
            @include outer-container;
            @include display(flex);
            @include align-items(center);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        .invitation-text {
            width: 100%;
            padding-top: 20%;
            padding-bottom: 10%;
            @media ($phone) {
                padding-top: 20%;
                padding-bottom: 0;
            }
        }
        h1 {
            color: #333;
            font-size: 2em;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: normal;
            line-height: 100%;
            &.dead{
                text-decoration:line-through;
            }
            a {
                color: #333;
                font-weight: 900;
                &:hover {
                    color: $accent;
                }
            }
        }
        p {
            font-size: 1.2em;
            font-weight: 700;
            color: #000;
        }
    }
    .newsflash p{
        font-weight: 900;
        font-size: 2em;
    }
}

#pg--curation, #pg--festival, #pg--reviewer {
    .hero {
        border-bottom: 3px dotted #000;
        padding: 10em 0 4em 0;
        @media ($phone) {
            padding: 8em 0 2em 0;
        }
    }
    .title-container {
    @include outer-container;
        p {
            @extend %font-2;
            margin: .5em 0 1em .3em;
            @media ($phone) {
                margin-bottom: .3em;
                margin-top: 0;
                font-size: 1em;
            }
        }
        h1 {
            @extend %font-6;
            line-height: 1;
            width: 100%;
            color: #000;
            font-family: $font-alt;
            padding-right: 5%;
            @media ($phone) {
                font-size: 2.333em;
            }
        }
    }
}

#pg--venue {
    @extend #pg--curation;
    .profile-image {
        background-position: center center;
        background-size: contain;
        height: 0;
        padding-top: 20%;
        width: 20%;
        margin: 0 auto 4em auto;
    }
    .hero {
        padding: 10em 0 2em 0;
    }
    .title-container {
        .basic-attributes {
            margin-top: 1em;
            font-family: $font;
        }
        p {
            margin-top: 1em;
            color: #000;
        }
    }
    .profile-menu {
        margin-top: 3em;
    }
}

#pg--contact,  {
    .hero {
        height: 30em;
        background: #000;
        color: #FFF;
        text-align: center;
        padding-top: 15%;
        @media ($phone) {
            padding-top: 30%;
        }
    }
    h1 {
        @extend %font-5;
        font-weight: 700;
        @media ($phone) {
            font-size: 2.33em;
        }
        span {
            font-size: .3em;
            font-weight: 300;
            display:inline-block;
            vertical-align: 17.5%;
            color: $accent;
        }
    }
    p {
        @extend font-3;
    }
}

#pg--user, #pg--online-screening-details {
    .title-container {
        @extend %hero-title-container;
        margin-top: 5em;
        h1 {
            @extend %hero-h1;
            @media ($phone) {
                margin-bottom: 0; // negates the 50px bottom-margin to set it away from basic-attributes in other pages. 
            }
        }
    }
}

#pg--online-screening-details {
    h2 {
        a {
            font-weight: 700;
        }
        @extend %font-3;
    }
}
