nav.main {
    @extend %nav-base-fancy;
    @extend %box-shadow-main;
    @extend %font-2;
    background: rgba(0, 0, 0, 1); 
    padding: 8px 15px 8px 15px;
    position: absolute; 
    margin-top: 15px;
    z-index: 1;
    a {
        color: #FFF;
        font-weight: 300;
        &:hover {
            color: $accent;
        }
        &:after {
            color: #555;
        }
    }
    .sm {
        font-weight: 300
    }

}