 %input-search {
    background: transparent;
    text-align: left; 
    color: $accent;
    font-size: 1em;
    width: 100%;
    border: none;
    margin-bottom: 0;
    padding: 0 !important;
    @include placeholder {
        transition: color 1s;
        color: #000;
        font-size: 1.2em;
    }
    transition: color;
    &:focus {
        transition: color 1s;
        color: #000;
        outline: none;
        @include placeholder {
            color: #DDD;
        }
    }
}
/* SEARCH WAS REMOVED FROM SIDEBAR
#pg--sidebar {
    nav.search {
        width: 100%;
        @extend %font-4;
        input.search {
            @extend %input-search;
            cursor: pointer;
            font-family: $font-alt;
            font-weight: 300;
            font-size: 83.33%;
        }
    }
}
*/

#pg--search, #pg--browse {
    nav.search {
        @include outer-container;
        @extend %font-4;
        width: 100%;
        margin-top: 6em;
        margin-bottom: 5em;
        @media ($phone) {
            font-size: 2.333em;
            margin-top: 5em;
            margin-bottom: 4em;
        }   
        input.search {
           @extend %input-search;
            font-family: $font;
            @include placeholder {
                transition: color 1s;
                color: #000;
                font-size: 1em;
                font-weight: 700 !important;
            }
        }
    }
}