nav.dash {
    font-family: $font-alt;
    line-height: 2;
    @extend %font-3;
    margin-top: 10em;
    padding-left: .5em;
    @media ($phone) {
        padding-left: 10px;
    }
    & a:not(:last-of-type)::after {
        @extend %divider;
        color: $accent;
    }   
    @media ($phone) {
        margin-top: 4em;
        a {
            display: block;
            &::after {
                content: none !important;
            }
            &::before {
                content: "+";
                color: $accent;
            }
        }
    }
    input.search {
        font-family: $font-alt;
        background: transparent;
        text-align: left; 
        color: $accent;
        font-size: 1em;
        width: 5em;
        border: none;
        margin-bottom: 0;
        padding: 0 !important;
        padding-top: 5px !important;
        @include placeholder {
            line-height: 1;
            transition: color 1s;
        }
        transition: color;
        &:focus {
            transition: color 1s;
            color: #000;
            outline: none;
            with: 20em;
            @include placeholder {
                color: #EEE;
            }
        }
        @include placeholder {
            color: #000;
        }
    }
    form {
        display: inline;
    }
}

