div.pagination {
    @extend %font-3;
    width: 100%;
    @include outer-container;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: right;
    a.previous {
        margin-right: 20px;
    }
    a.next {
        margin-left: 20px;
    }
}

