%page-title {
    font-family: $font-alt;
    font-weight: 100;
	color: #000;
    font-size: 7em;
    text-align:center;
    @media ($phone) {
    	font-size: 3em;
	}
}

.page-title h1 {
    @extend %page-title;
    margin-top: 1em;
    margin-bottom: .2em;
    @media ($phone) {
        margin-top: 3em;
        margin-bottom: 1em;
        line-height: 1;
    }
    // REGISTRATION-TYPE-PAGES
    #pg--login &, #pg--register & {
        margin-top: .5em;
        margin-bottom: 0;
        font-size: 12em;
        @media ($phone) {
            font-size: 7em;
            margin-top: 1.5em;
        }
    }
}