%menu-button-a {
    @extend %button-b;
    @extend %font-4;
    margin-top: 1em;
    a {
        font-size: 1em;
    }
}

div#submenu {
    @media ($phone) {
        border-top: 2px dashed #FFF;
        margin-top: 1em;
        padding-top: 1em;
        max-width: 100%;
    }
    margin-top: 2em;
    a {
        display: inline-block;
    }
    a::after, a::before {
        content: none !important;
    }
    button {
        color: #FFF;
        &:hover {
            color: $accent;
        }
    }
    button#close-submenu {
        font-weight: 700;
        margin-top: 2em*1.333;
    }
    p {
        color: #FFF;
        margin-top: 1em;
    }
    p.menu-text {
        @extend %font-2;
    }
    h3 {
        color: #FFF;
    }
    input {
        border: none;
    }
    .preview-form {
        .instructions span {
            font-size: .7em;
        }
        .fields {
            margin-top: 2em;
            width: 50%;
            @media ($phone) {
                width: 100%;
            }
        }
        .verified p{
            margin: 3em 0 .5em 0;
        }
        .save button {
            margin: 1em 0 0 0;
            @extend %button-b;
            @extend %font-5;
        }
    }
    .current-preview {
        .vimeo-url {
            margin-top: 1em;
            @extend %font-3;
        }
        .edit-buttons {
            margin-top: 1em;
            font-weight: 700;
        }
        #unlink-preview-file {
            margin-left: 3em;
        }
    }
    .preview-file-box {
        .preview-password {
            color: #FFF;
            font-size: 3em;
            margin-bottom: .2em;
            font-weight: 700;
            span {
                font-weight: 300;
            }
        }
        .watch-film-preview {
            width: 60em;
            @media ($phone) {
                width: 34em;
            }
        }
    }
    .send-personal-message, #send-preview-request, #send-download-request, .create-new-screening, #add-video-file-link, #upload-button, .link-with-dropbox, .add-to-c-anon, .pay-to-film-post {
        @extend %menu-button-a;
    }
    .create-new-curation {
        @extend %menu-button-a;
        font-size: 1.75em;
        margin-top: 0;
    }
    .add-to-curation {
        @extend %menu-button-a;
        font-size: 1.75em;
        margin-top: 0;
    }
    div#exhibit, div#curate-container, div#anon-preview-box, div#anon-msg {
        .menu-text span {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .anon-login {
        @extend .menu-text;
        margin-top: 2em;
        a {
            font-weight: 700;
            font-size: 2.333em;
        }
    }

    .curations {
        margin-top: 2em*1.33; // Matches height to-top from p-menu-text which has 1.33em font-size.
    }
    div.exhibition-file-download {
        a {
            margin-top: 0;
            @extend %menu-button-a;
            &::before {
                content: "+" !important;
                color: $accent;
            }
            &:not(:last-child) {
                margin-right: 1em;
            }
        }
    }
    div#choose-upload-method {
        button {
            @extend %menu-button-a;
        }
        button:not(:last-child) {
            margin-right: 1em;
        }
    }
    #dropbox-files {
        h3 { // "Choose File to Upload"
            @extend %font-3;
            font-weight: 700;
            margin-top: 1em;
        }
        button {
            @extend %font-2; // Files in Dropbox
        }
        span:not(:last-child)::after { // Divider for information in Files in Dropbox
            @extend %divider-fancy;
            content: "•" !important;
            color: $accent;
        }
    }
    .progress-info {
        font-size: .8em;
        span:not(:last-child) {
            font-weight: 300;
            color: #FFF;
            &::after {
            @extend %divider;
            color: #FFF;
            font-weight: 900;
            }
        }
    }
    form.film-payment-form {
        text-align: left;
        p.payment {
            @extend %font-4;
            font-weight: 700;
        }
        input.amount {
            width: 4em;
            padding: 4px 6px;
        }
    }
}


nav.profile-menu {
    @extend %nav-base-fancy;
    position: relative;
    display: inline-block;
    padding: 0px 1.5em 0px 1.5em;
    width: auto;
    max-width: 75%;
    background: #000;
    margin: 8em 0 4em 0;
    a {
        display: inline-block;
        font-size: 1.75em;
        color: #FFF;
        &:hover {
            color: $accent;
        }
    }
    a#profile-menu-add {
        @media ($not-phone) { //Gives the '+' only when not on a phone (on phone + is on everything)
            &::before {
                content: "+";
            }
        }
    }
    @media ($phone) {
        width: 100%;
        max-width: 100%;
        margin: 6em 0 4em 0;
        padding: 1em 1.5em 1em 1.5em;
        a {
            font-size: 1.75em;
            line-height: 2;
            display: block;
            &::after {
                content: none !important;
            }
            &::before {
                content: "+ ";
                color: $accent;
            }

        }
    }
    .inactive {
        color: $accent;
        @extend %font-4;
    }
    #pg--venue & {
        margin-top: 7em;
    }
}
