div.pull-quote {
    color: #000;
    float: left;
    div{
        float:left;
    }
    p:first-letter {
        text-transform: uppercase;
    }
    .text {
        width: 100%; 
        margin-top: .5em;
        p.pull-quote {
            width: 100%;
        }
    }
    .by {
        margin-top: .5em;
        font-weight: 700;
        color: #AAA;
        span {
            font-weight: 300;
        }
        a {
            color: #AAA;
            &:hover {
                color: $accent;
            }
        }
    }
}


/* ---- SCREENING_PAGE */
#pg--screening div.pull-quote {
        color: #333; 
        font-size: 1.3em;
        line-height: 1em;
        @media ($not-phone) {
            @include span-columns(12); // 2-WIDE
            @include omega(2n);
        }
        @media ($phone) {
            &:last-of-type {
                margin-top: 3em;
            }
        }
    }


/* ---- FILM_PAGE */
    #pg--film {
        .reviews {
            @include outer-container;
            margin-top: 4em;
            h2 {
                font-family: $font-alt;
                @extend %font-4;
                color: #000;
                margin: 0;
            }
        }
        .pull-quote {
            color: #333;
            @extend %font-1;
            @media($large) {
                width: 75%;
            }
            @media($tablet) {
                width: 90%;
            }
            @media($phone) {
                width: 100%;
            }
            &:not(:last-child) {
                margin-bottom: 2em;
            }
        }
    }

