#pg--register, #pg--login {
    @include outer-container;
}

.registration-form {
    @include span-columns(14);
    @include shift(5);
    margin-top: 3em;
    @media ($phone) {
        @include fill-parent;
        @include shift(0);
    }
    p {
        font-family: $font-alt;
        @extend %font-2;
        margin-top: 1.5em; 
    }
    input[type="text"], input[type="password"], input[type="email"] {
        font-size: 2em;
        width: 80%;
    }
    button {
        margin-top: .5em;
        @extend %button-a;
        @extend %font-6;
    }
    span.form-submit-spinner {
        margin: 2em 0;
    }
}

#pg--pass-recovery-start, #pg--pass-recovery-end {
    @include outer-container;
    form {
        @extend .registration-form;
        button {
            font-size: 2.333em;
        }   
    }
}
.registration-success {
    margin-top: 100px;
    h1 {
        @extend %page-title;
        font-size: 10em;
    }
    p {
        font-size: 1.5em; 
        margin-top: 5em; 
        text-align: center;
    }
}


