/* #reviewed-films {
    @include outer-container;
    div.pull-quote {
        width: 100%;
        margin-top: 5em;
        .text {
            width: 100%;
            p {
                @extend %font-3;
                line-height: 1.411;
                margin-bottom: .5em;
            }
            a {
                text-transform: lowercase;
                font-variant: small-caps;
                font-weight: 700;
            }
        }
        .full-review {
            display: inline-block;
            margin-right: 1em;
            a {
                @extend %font-4;
                @extend %button-a;
            }
        }
    }
}
*/