#pg--search {
    font-family: $font-alt;
    
    .search-results {
        @include outer-container;
    }
    .search-results-box {
        @extend %font-2;
        @include span-columns(12);
        @include omega(2n);
        margin-bottom: golden-ratio($gutter, -2);
        min-height: 9.5em;
        img {
            width: 100%;
        }
        p.info {
            margin-top: .5em;
            line-height: .9;
        }
        span.director {
            font-size: .666em;
            color: #666;
        }
        @media ($phone) {
            @include fill-parent;
        }
        td {
            vertical-align: middle;
            height: 9.5em;
            padding: 1%;
            border: 2px dotted #CCC;
            overflow: hidden;
            @media ($phone) {
                min-height: 15em;
            }
        }
    }
    .image-container {
        width: 100%;
        height: 0;
        padding-top: 28%;
        background-size: cover;
        background-repeat:no-repeat;
    }
}
