// MMENU Adjustments
$defaultMaxWidth: 14em;
$fontSize: .8333em;
$pageShadow: none !important;

html.mm-opened .mm-page {
    box-shadow: none !important;
}
.mm-ismenu {
    @extend %bg-sidebar;
    color: #000 !important;
}
.mm-list > li::after {
    border: none !important;
}

html.mm-opened
{
    .mm-page,
    #mm-blocker,
    .mm-fixed-top,
    .mm-fixed-bottom,
    .mm-page,
    #mm-blocker
    {
        border-left: 3px dashed #000 !important;
    }
    &.mm-opening
    {
        .mm-page,
        #mm-blocker
        {
            border-left: 3px dashed #000 !important;
        }
    }
}

#pg--sidebar {
    a {
        @extend %font-2;
        font-family: $font;
        line-height: 1.5;
        font-weight: 700;
        &:hover {
            color: $accent;
        }
    }
    .countries {
        a {
            margin-right: 1em;
        }
        .active {
            color: #000 !important;

        }
    }

    input {
        width: 3.5em;
        border: 1px dotted #000;
        padding: 0;
        font-size: 1.3333em;
        font-weight: 700;
    }
    ul {
        margin-left: 5%;
        width: 95%;
    }
    li.search-bar {
        margin-top: 0em;
    }
    li.load-filter-params {
        border-top: none !important;
        padding-top: 0em;
    }
    h2 {
        @extend %font-4;
        font-family: $font-alt;
        font-weight: 300;
        color: #000;
        margin-left: -.1em;
        &:not(:first-child) {
            margin-top: 2em;
        }
    }
    p {
        @extend %font-1;
        font-family: $font-alt;
        text-transform: uppercase;
        font-weight: 300;
    }
    .explanation {
        font-size: 1.1em;
        font-family: $font;
        margin-top: 2em;
        width: 12em; // Set manually because 100% doesn't work in the sidebar...
        text-transform: none;
        color: $accent;
    }
    button.reset {
        text-align: left;
    }
    span.dash {
        vertical-align: 25%;
        font-size: 2em;
    }
}

.mm-list > li > a, .mm-list > li > span  {
    padding: 0 !important;
}

span.filter-mark {
    font-size: 1.5em;
    font-weight: 700;
    display: none;
    color: $accent;
    vertical-align: -10%;
    font-family: $font;
}