#pg--film {
    .trailer {
        background: #000;
        margin: 8em 0 4em 0;
        .container {
            @include outer-container;
        }
    }
}
.trailer {
    .play-trailer {
        z-index: 0;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        position:relative;
        background: #000;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        img {
            background-color: #FFF;
            padding: 10px;
            border-radius: 40px;
            opacity: 0.7;
            position:absolute; top: 50%; margin-top: -42px; left: 50%; margin-left: -42px;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
    .embedded-player { // New DIV created with trailer, keeps things black
        background: #000;
    }
}