{% load staticfiles %}

<div id="festivals_table">
{% for fof in film_on_festivals %}
<p>
<button type="button"
    class="edit-festival"
    data-id="{{ fof.id }}"
    data-festival-id="{{ fof.festival.id }}"
    data-festival-name="{{ fof.festival.name }}"
    data-section="{{ fof.section }}"
    data-awards="{{ fof.awards }}"
    data-year="{{ fof.year }}">{{ fof.festival }}</button>

{% if forloop.counter > 1 %}
<button  type="button" class="festival-up-button" data-id="{{ fof.id }}">UP</button>{% endif %}
<button  type="button" class="delete-festival" data-id="{{ fof.id }}" data-name="{{ fof.festival.name }}">DELETE</button>
</p>
{% endfor %}
</div>
