{% load staticfiles %}

{% for r in reviews %}
<p>
<button class="edit-review"
    data-id="{{ r.id }}"
    data-url="{{ r.url }}"
    data-pk="{{ r.id }}"
    data-organization-id="{{ r.organization.id }}"
    data-organization-name="{{ r.organization.name }}"
    data-reviewer-id="{{ r.reviewer.id }}"
    data-reviewer-name="{{ r.reviewer.name }}"
    data-full-text="{{ r.full_text }}"
    data-pull-quote="{{ r.pull_quote }}"
    type="button">
        Review by {{ r.reviewer.name }}
        {% if r.organization %}
            for {{ r.organization.name }}
        {% endif %}
    </button>
     {% if forloop.counter > 1 %}
    <button  type="button" class="review-up-button" data-id="{{ r.id }}">UP</button>{% endif %}
    <button class="delete-review" data-id="{{ r.id }}" type="button">DELETE</button>
</p>
{% endfor %}
