{% if crew %}
    <table id="crews_table">
    {% for c in crew %}
        <tr class="edit-crew" data-id="{{ c.id }}">
            <td class="role" data-role="{{ c.role }}">{{ c.role }}</td>
            <td class="name" data-name="{{ c.name }}">{{ c.name }}
            {% if allow_delete %}
            <button class="delete-crew" type="button" data-url="{% url "delete-crew" film.id c.id %}">DELETE</button>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No crew added.</p>
{% endif %}
