{% if cast %}
    <table id="casts_table">
    {% for c in cast %}
        <tr class="edit-cast" data-id="{{ c.id }}">
            <td class="character" data-character="{{ c.character }}">{{ c.character }}</td>
            <td class="actor" data-actor="{{ c.actor }}">{{ c.actor }}
            {% if allow_delete %}
                <button class="delete-cast" href="#" data-url="{% url "delete-cast" film.id c.id %}" type="button">DELETE</button>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No cast added.</p>
{% endif %}