<!-- {% if form.errors %} -->
<!-- <div class="alert alert-error" style="padding-top:20px"> -->
<!--     {% for hidden in form.hidden_fields %} -->
<!--         {% for err in hidden.errors %} -->
<!--         <p style="font-weight: 400">- {{ err }}</p> -->
<!--         {% endfor %} -->
<!--     {% endfor %} -->
<!--     {% for err in form.non_field_errors %} -->
<!--         <p style="font-weight: 400">- {{ err }}</p> -->
<!--     {% endfor %} -->
<!-- </div> -->
<!-- {% endif %} -->

{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}

{% if form.fieldsets %}
	{% for fieldset in form.fieldsets %}
		<fieldset>
			{% if fieldset.title %}<legend><b>{{fieldset.title}}</b></legend>{% endif %}
			{% for field in fieldset.fields %}
				{% if not field.is_hidden %}
					{% include "helpers/form_field.html" %}
				{% endif %}
			{% endfor %}
		</fieldset>
	{% endfor %}
{% else %}
	{% for field in form.visible_fields %}
		{% include "helpers/form_field.html" %}
	{% endfor %}
{% endif %}

<script type="text/javascript">
	$(document).ready(function() {
		$('.datepicker').datepicker({format: 'yyyy-mm-dd', autoclose:true});
	});
</script>
