{% load common_tags %}

<div class="control-group {% if field.errors %}error{% endif %}">
	<div>
		{% if field.field.widget|field_type == "DateInput" %}
			<div class="input-append date datepicker" data-date="{% if field.value %}{{field.value}}{% else %}{% now "Y-m-d" %}{% endif %}" data-date-format="yyyy-mm-dd">
				<input class="span2" size="16" type="text" value="{% if field.value %}{{field.value}}{% else %}{% now "Y-m-d" %}{% endif %}" id="id_{{field.html_name}}" name="{{field.html_name}}">
				<span class="add-on"><i class="icon-calendar"></i></span>
			</div>
		{% else %}
			{{field|safe}}
		{% endif %}
		{% if field.errors %}<span class="help-block">{% for e in field.errors %}{{ e }}{% if not forloop.last %}, {% endif %}{% endfor%}</span>{% endif %}
		{% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
	</div>
</div>
