{% if results.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a href="?page={{ results.previous_page_number }}" class="page-link previous" data-page="{{ results.previous_page_number }}">previous</a>
        {% endif %}

        {% for page in results.paginator.page_range %}
            <a href="?page={{ page }}" class="page-link {% if page == results.number %}active{% endif %}" data-page="{{ page }}">{{ page }}</a>
        {% endfor %}

        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}" class="page-link next" data-page="{{ results.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}