{% extends "base.html" %}

{% block title %}Events!{% endblock %}
    
{% block content %}
</div>
<div id="pg_events-list">

<nav class="dash">
    <a href="#future">FUTURE EVENTS</a>
    <a href="#past" class="active">PAST EVENTS</a>
</nav>

<div id="future" class="events-list" style="display: none" >  
    <section class="event-timeline">
    {% for screening in future %}  
        {% include "partials/_event_module.html" with screening=screening %}
    {% endfor %}
    </section>  
</div>

<div id="past" class="events-list active">
    <section class="event-timeline">
    {% for screening in past %}  
        {% include "partials/_event_module.html" with screening=screening %}
    {% endfor %}
    </section>  
</div>    

</div>    
    
{% endblock %}

{% block extra_js %}

<script type="text/javascript">
    $(document).ready(function () {
        $("nav.dash a").on("click", function(e){
            e.stopPropagation();
            e.preventDefault();
            var current_el = $(this);
            $("nav.dash a").removeClass("active");
            current_el.addClass("active");
            $("div.events-list").hide()
            $(current_el.attr('href')).show();
            return false;
        });
    });
</script>    
{% endblock %}