{% extends "base.html" %}
{% load common_tags %}


{% block content %}
<div id="pg--screening-form">

<div class="page-title">
    <h1>NEW SCREENING</h1>
</div>

    <form action="." method="post" id="create-screening-form">
        {{ form.screening_times }}
        {{ form.profit_share_type }}
        {{ form.profit_share_amounts }}

        {% csrf_token %}

        <h2>WHAT ARE YOU SHOWING?</h2>
        <div class="what">
            {% with field=form.film %}
                {% include "helpers/form_field.html" %}
            {% endwith %}
        </div>


        <h2>WHERE WILL YOU SHOW IT?</h2>

        <div class="where">
        {% if has_venues %}
            {% with field=form.venue %}
                {% include "helpers/form_field.html" %}
            {% endwith %}
        {% else %}
            {% if form.venue.errors %}
            {% endif %}
            <a href="{% url "add-venue" %}">+ CREATE NEW VENUE</a>
        {% endif %}
        </div>

        <h2>WHEN?</h2>

        <div class="when control-group {% if form.screening_times.errors %}  error {% endif %}" id="times">
            <div id="defined-screenings">
            </div>
            <div class="date-time-picker" id="date-time-picker">
                <input type="text" name="screening_date" placeholder="DATE *" class="datepicker"/>
                <input type="text" name="screening_time" placeholder="TIME (24:00) *" />
            </div>
            {% if form.screening_times.errors %}
                <span class="help-block">
                    <!-- How would there be multiple errors? We are checking for errors via JS after every entry! Is this outdated? -->
                    {% for e in form.screening_times.errors %}{{ e }}{% if not forloop.last %}, {% endif %}{% endfor%}
                </span>
            {% endif %}
            <button class="add-screening" id="add-screening" type="button">+ADDITIONAL SCREENING</button>
        </div>


        <h2>WHAT DOES THE FILM NEED TO KNOW?</h2>
        <div class="description">
            {% with field=form.description %}
                {% include "helpers/form_field.html" %}
            {% endwith %}
        </div>

        <h2>AND HOW WILL YOU PAY THE FILM?</h2>

            <div class="payment-options" id="profit_share">
                <button type="button" id="SHARE">PROFIT SHARE</button>
                <button type="button" id="UPFRONT">UP-FRONT</button>
                <button type="button" id="NOPROFIT">NO PROFIT</button>
            </div>

            <div class="payment {% if form.errors.profit_share_type %} control-group error {% endif %}">
                <div id="amounts-share" style="display: none;">
                    {% if form.errors.profit_share_type %}
                        <span class="help-block">{{ form.errors.profit_share_type|first }}</span>
                    {% endif %}
                    <table>
                        <tr>
                            <td>FILM </td>
                            <td>
                                {% with field=form.share_film %}
                                    {% include "helpers/form_field.html" %}
                                {% endwith %}
                            </td>
                            <td> % </td>
                        </tr>
                        <tr>
                            <td>SMPLMCHN </td>
                            <td class="sm-percentage">{{ sm_percentage }}</td>
                            <td> % </td>
                        </tr>
                        <tr>
                            <td>VENUE </td>
                            <td>
                                {% with field=form.share_venue %}
                                    {% include "helpers/form_field.html" %}
                                {% endwith %}
                            </td>
                            <td> % </td>
                        </tr>
                    </table>
                </div>
                <div id="amounts-upfront" style="display: none;">
                    {% if form.errors.profit_share_type %}
                        <span class="help-block">{{ form.errors.profit_share_type|first }}</span>
                    {% endif %}
                    <table>
                        <tr>
                            <td>FILM GETS </td>
                            <td> $ </td>
                            <td>
                                {% with field=form.upfront_film %}
                                    {% include "helpers/form_field.html" %}
                                {% endwith %}
                            </td>
                             <!-- SPACER Keeps things even with previous table -->
                        </tr>
                        <tr>
                            <td>SMPLMCHN GETS </td>
                            <td> $ </td>
                            <td>
                                {% with field=form.upfront_smplmchn %}
                                    {% include "helpers/form_field.html" %}
                                {% endwith %}
                            </td>
                        </tr>
                        <tr>
                            <td>VENUE <span>PAYS</span> </td>
                            <td> $ </td>
                            <td>
                                {% with field=form.upfront_venue %}
                                    {% include "helpers/form_field.html" %}
                                {% endwith %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="amounts-noprofit" style="display: none"></div>

            </div>
    </form>

    <div class="save">
        {% if form.instance.pk %}
            <button class="submit">UPDATE SCREENING INVITATION</button>
        {% else %}
            <button class="submit">SUBMIT SCREENING INVITATION</button>
        {% endif %}
    </div>


</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    var selectProfitType = function(type){
        $("form input#profit-share-type-id").val(type);
        $("div#profit_share button").removeClass('active');
        $("#"+type).addClass('active');


        if (type != 'NOPROFIT'){
            if (type == 'SHARE'){
                $("div#amounts-share").show();
                $("div#amounts-upfront").hide();
                $("div#amounts-noprofit").hide();
            }
            else {
                $("div#amounts-share").hide();
                $("div#amounts-upfront").show();
                $("div#amounts-noprofit").hide();
            }
        } else {
            $("div#amounts-share").hide();
            $("div#amounts-upfront").hide();
            $("div#amounts-noprofit").show();
        }
    };

    $(window).ready(function(){
        $("#id_upfront_venue").attr("readonly", "readonly");
        $("#id_upfront_smplmchn").attr("readonly", "readonly");
        $("#id_share_venue").attr("readonly", "readonly");

    {% if is_paid %}
        $("div.payment-options button").prop('disabled', 'disabled');
        $("div#amounts-upfront input").prop('readonly', 'readonly')
    {% endif %}

        $(".submit").on("click", function(e){
            var dateField = $("form input[name='screening_date']")
            var timeField = $("form input[name='screening_time']")
            if (dateField.val() || timeField.val()) {
                addFromDateAndTimeFields();
            }
            $("form#create-screening-form").submit();
        });

        if ("{{ form.profit_film.value }}" != "") {
            $("div#profit_share_amounts input[name='profit-film']").val("{{ form.profit_film.value }}");
        };



        $("#id_upfront_film").blur(function(ev){
            var film_gets = parseFloat($("#id_upfront_film").val());
            var sm_gets = film_gets / 100 * {{ sm_percentage }};
            sm_gets = sm_gets.toFixed(2);
            var venue_gives = parseFloat(film_gets) + parseFloat(sm_gets);
            venue_gives = venue_gives.toFixed(2);

            $("#id_upfront_smplmchn").val(sm_gets);
            $("#id_upfront_venue").val(venue_gives);
        });

        $("#id_share_film").blur(function(ev){
            var film_gets = parseFloat($("#id_share_film").val());
            var sm_gets = {{ sm_percentage }};
            sm_gets = sm_gets.toFixed(2);
            var venue_gives = 100 - sm_gets - film_gets;
            $("#id_share_venue").val(venue_gives);
        });

        var yesterday = new Date(); // this is today
        yesterday.setDate(new Date().getDate() - 1);
		$('.datepicker').datepicker({format: 'yyyy-mm-dd', autoclose:true, startDate: yesterday});

        SM.singleChoiceDropdown($("input#id_film"), '{% url "json-films" %}', true);
        {% if is_edit %}
        $('a.remove-selection').hide();
        {% endif %}

        SM.singleChoicePick($("select#id_venue"), "Create new venue...", "{% url "add-venue" %}");

        var addFromDateAndTimeFields = function() {
            // Remove current errors

            $("div#times").removeClass("error");
            $("div#times span").remove();

            // Append currently entered date and time to hidden field
            var dateField = $("form input[name='screening_date']")
            var timeField = $("form input[name='screening_time']")
            var current_dates = $("input#screening-times-id").val();
            var date = dateFromMultipleFields(dateField, timeField);
            if (date == "Invalid Date") {
                $("div#times").addClass("error");
                $("div#date-time-picker").after("<span class='help-block'>Please enter time in 24-hour format, eg. 19:30</span>");
            };

            $("input#screening-times-id").val(current_dates + ";" + date.toISOString());
            var timestamp = date.getTime();
            $("div#defined-screenings").append("<p data-timestamp='" + timestamp + "' class='selected-screening-time'>" + smDateTimeFormat(date) + " <button class='delete-screening' type='button'>-DELETE</button></p>");

            dateField.val("");
            timeField.val("");
        };

        // Screening dates handling
        $("button#add-screening").on("click", function(){
            addFromDateAndTimeFields();
        });

        $("div#defined-screenings").on("click", "button.delete-screening", function(elem){
            $(elem.target).parent().remove();
            var new_current_dates = [];
            $("div#defined-screenings p[data-timestamp]").each(function(){
                var timestamp = $(this).attr('data-timestamp');
                var date_to_add = new Date(parseInt(timestamp)).toISOString();
                new_current_dates.push(date_to_add);
            })
            $("input#screening-times-id").val(new_current_dates.join(';'));
        });

        $("div#profit_share button").on("click", function(e) {
            e.preventDefault();
            selectProfitType(e.target.id);
        });

        selectProfitType($("form input#profit-share-type-id").val());

        // TODO: extract to utils.js
        var dateFromMultipleFields = function(dateField, timeField){
            var date = new Date(
                dateField.val().split('-')[0],
                dateField.val().split('-')[1]-1,
                dateField.val().split('-')[2],
                timeField.val().split(':')[0],
                timeField.val().split(':')[1]
            );
            return date;
        };

        var pad = function(n){
            return n<10 ? '0'+n : n;
        }

        var smDateTimeFormat = function(d) {
            var hours = d.getHours();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            return d.getFullYear()+'-'+pad(d.getMonth()+1)+'-'+pad(d.getDate())+' @ '+pad(hours)+':'+pad(d.getMinutes())+ampm;
        };

        var defined_screenings = "{{ form.screening_times.value }}";
        if (defined_screenings != "None") {
            _.each(defined_screenings.split(';'), function(screening){
                if (screening != '') {
                    var screening_date = new Date(screening);
                    var timestamp = screening_date.getTime();
                    $("div#defined-screenings").append("<p data-timestamp='" + timestamp + "' style='font-size: 1.5em'>" + smDateTimeFormat(screening_date) + " <button class='delete-screening' type='button'>-DELETE</button></p>");
                }
            });
        };
    });
</script>
{% endblock %}
