
{% load common_tags %}
{% load tz %}

{% block content %}

{% timezone screening.venue.timezone %}

<div class="report-form-film">

<h1>SCREENING REPORT </h1>

<form action="{% url 'fill-screening-report' screening.id %}" method="post" id="screening-report-form">
    {% csrf_token %}
    <div>
        <h2> EVENT DESCRIPTION </h2>
        {% include "helpers/form_field.html" with field=form.description %}

        {% if screening.profit.type != "NOPROFIT" %}

        <p>Were you paid promptly and fairly? *</p>
        <ul id="paid_promptly">
            <li><a href="#">YES</a></li>
            <li><a href="#">KINDA</a></li>
            <li><a href="#">NO</a></li>
        </ul>
        {% include "helpers/form_field.html" with field=form.paid_promptly %}
        {% endif %}


        <p>Would you recommend this venue to another film? *</p>
        <ul id="recommend_venue">
            <li><a href="#">YES</a></li>
            <li><a href="#">EH</a></li>
            <li><a href="#">NO</a></li>
        </ul>
        {% include "helpers/form_field.html" with field=form.recommend_venue %}

        <p>Do you need to report this venue for fraud or any other violation? *</p>
        <ul id="report_fraud">
            <li><a href="#">YES</a></li>
            <li><a href="#">NO</a></li>
        </ul>
        {% include "helpers/form_field.html" with field=form.report_fraud %}
    </div>

    <div class="save">
    <button class="submit">SUBMIT REPORT</button>
    </div>

</form>

</div>

{% endtimezone %}

{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){
        $("button.submit").on("click", function(elem){
            $(elem.target).parent('form').submit();
        });

        $("li a").on("click", function(elem){
            elem.preventDefault();
            var list = $(elem.target).parents('ul');
            list.find('a').removeClass("active");
            $(elem.target).addClass("active");
            $("input[name='"+list.attr('id')+"']").attr("value", $(elem.target).html());
        });

        {% if form.paid_promptly %}
        $("ul#paid_promptly a:contains('{{ form.paid_promptly.value }}')").addClass("active");
        {% endif %}
        {% if form.recommend_venue %}
        $("ul#recommend_venue a:contains('{{ form.recommend_venue.value }}')").addClass("active");
        {% endif %}
        {% if form.report_fraud %}
        $("ul#report_fraud a:contains('{{ form.report_fraud.value }}')").addClass("active");
        {% endif %}

    });
</script>
{% endblock %}
