{% extends "base.html" %}


{% block content %}
<div>
    {% if screening.report and not screening.film_report %}
        {% if screening.venue.user == user %}
            <a href="{% url "edit-screening-report" screening.id %}">EDIT REPORT</a>
        {% elif screening.film.user == user %}
            <a href="{% url "fill-screening-report" screening.id %}">SUBMIT REPORT FOR THIS SCREENING</a>
        {% endif %}
    {% endif %}
</div>




{% endblock %}
