{% extends "base.html" %}
{% load tz %}

{% block title %}{{ screening.film.title|truncatechars:40 }} at {{ screening.venue.name|truncatechars:40 }}{% endblock %}

{% block extracss %}
<style type="text/css">
/* HERO background img */
        .hero {
            background-image: -webkit-linear-gradient( rgba(250, 250, 250, 0.8), rgba(250,250,250, 0.8) ), url({{ screening.film.profile_image.url }}); background-image: linear-gradient( rgba(250, 250, 250, 0.8), rgba(250,250,250, 0.8) ), url({{ screening.film.profile_image.url }});
        }
</style>
{% endblock %}

{% block content %}

{% timezone screening.venue.timezone %}


</div>
<div id="pg_screening-invite">

<!-- Title Block -->
<div class="hero">
<div class="title-container">
<div class="invitation-text">
    <h1 {% if screening.is_dead %} class="dead" {% endif %}>    <!-- TITLE -->
    {% if not screening.first_event_started or screening.is_dead %}
        {% if user == screening.venue.user %}
            You invited <a href="{% url "film-details" screening.film.id %}{{ screening.film.title|slugify }}">{{ screening.film.title }} </a> to screen at <a href="{% url "venue-details" screening.venue.id %}{{ screening.venue.name|slugify }}">{{ screening.venue.name }}</a>!
        {% else %}
            <a href="{% url "film-details" screening.film.id %}{{ screening.film.title|slugify }}">{{ screening.film.title }}</a> was invited to screen at <a href="{% url "venue-details" screening.venue.id %}{{ screening.venue.name|slugify }}">{{ screening.venue.name }}</a>!
        {% endif %}
    {% else %}
        {% if user == screening.venue.user %}
            You screened <a href="{% url "film-details" screening.film.id %}{{ screening.film.title|slugify }}">{{ screening.film.title }} </a>  at <a href="{% url "venue-details" screening.venue.id %}{{ screening.venue.name|slugify }}">{{ screening.venue.name }}</a>!
        {% else %}
            <a href="{% url "film-details" screening.film.id %}{{ screening.film.title|slugify }}">{{ screening.film.title }}</a> screened at <a href="{% url "venue-details" screening.venue.id %}{{ screening.venue.name|slugify }}">{{ screening.venue.name }}</a>!
        {% endif %}
    {% endif %}
    </h1>

        {% if screening.is_dead %} <!-- SCREENING IS DEAD! -->
        <div class="newsflash">
        <p>
        {% if not screening.first_event_started %}
        THIS SCREENING IS NOT HAPPENING!
        {% else %}
        THIS SCREENING NEVER HAPPENED!
        {% endif %}
        </p>
        </div>
    {% endif %}

    <br />
    <p>
    {% if screening.cancelled %} <!-- CANCELLED BY VENUE -->
        {% if user == screening.venue.user %}
        You cancelled this screening.
        {% else %}
        {{ screening.venue.name }}  cancelled this screening.
        {% endif %}
    {% elif screening.is_declined %} <!-- DECLINED SCREENING -->
        {% if user == screening.venue.user %}
        This film DECLINED the screening.
        {% else %}
        You DECLINED the screening.
        {% endif %}
    {% else %}
        {% if not screening.first_event_started %} <!-- HERE BEGINS BEFORE SCREENING -->
                {% if screening.is_accepted %} <!-- ACCEPTED SCREENING -->
                    {% if user == screening.venue.user %}
                        {{ screening.film.user.get_profile.name }} ACCEPTED the screening.
                    {% else %}
                    You have ACCEPTED the screening.
                    {% endif %}
                    {% if screening.profit.type == 'UPFRONT' and screening.requires_payment %} <!-- REQUIRES PAYMENT -->
                        {% if user == screening.venue.user %}
                        You promised some money up-front - you can pay now!
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if user == screening.venue.user %} <!-- WAITING -->
                    This invitation has been sent to {{ screening.film.user.get_profile.name }}, who has not yet responded. Feel free to send a personal message as well!
                    {% else %}
                    You have yet to respond to this - they need an answer!
                    {% endif %}
                {% endif %}
        {% else %}  <!-- HERE BEGINS AFTER SCREENING -->
            {% if not screening.is_accepted %} <!-- FILM NEVER RESPONDED -->
                {% if user == screening.venue.user %}
                The time of the event has come and gone, but {{ screening.film.user.get_profile.name }} never responded to the invitation!
                {% else %}
                The time of the event has come and gone, but you never responded to the invitation!
                {% endif %}
            {% else %}
                {% if not screening.report %}
                    {% if not screening.film_report %} <!-- NO REPORTS -->
                        {% if screening.days_past_since_last_event >= 6 %} <!-- 6 DAYS PAST -->
                            {% if user == screening.venue.user %}
                            6 days have passed and you are late with the report, you need to report immediately!
                            {% else %}
                            We haven't yet heard from {{ screening.venue.user.get_profile.name }}. We're hassling them, but in the meantime could you fill out a report and tell us how the screening was for you? Feel free to send {{ screening.venue.user.get_profile.name }} a message too if you wish.
                            {% endif %}
                        {% else %} <!-- EVENT <6 DAYS OLD, WITHOUT REPORTS -->
                            {% if user == screening.venue.user %}
                            You have not yet reported on this screening - how did it go?
                            {% else %}
                            This event happened and we're waiting to hear back from {{ screening.venue.user.get_profile.name }}. Once they report, we will ask you to report on your experience as well!
                            {% endif%}
                        {% endif %}
                    {% else %} <!-- FILM REPORT IN, STILL NO VENUE REPORT -->
                        {% if user == screening.venue.user %}
                        You have not yet reported on this screening and your report is overdue. {{ screening.film.user.get_profile.name }} has already reported, which you can read on the screening recap—but you really need to fill out your report!
                        {% else %}
                        Thanks for filling out your report! We're still waiting to hear from {{ screening.venue.user.get_profile.name }}, but hopefully we'll hear back soon.
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if not screening.film_report %}  <!-- VENUE REPORTED, FILM HASN'T YET REPORTED -->
                        {% if user == screening.venue.user %}
                        Thanks for reporting! We're still waiting to hear from {{ screening.film.user.get_profile.name }}.
                            {% if screening.requires_payment_now %}
                                But you still need to pay!
                            {% endif %}
                        {% else %}
                        {{ screening.venue.user.get_profile.name }} has written their report on this screening! You can read it in the screening recap, but please fill out your own report as well!
                        {% if screening.requires_payment_now %}
                                Also, please note that {{ screening.venue.user.get_profile.name }} has not yet sent the promised payment, don't let them forget this!
                        {% endif %}
                        {% endif %}
                    {% else %}  <!-- EVERYONE REPORTED -->
                        {% if screening.requires_payment %}
                            {% if user == screening.venue.user %}
                                Thanks for reporting, but you still need to pay the film! Please do so as soon as possible!
                            {% else %}
                                Thanks for reporting! Did you take a look at the recap? Also, please note that you still haven't been paid, don't forget and feel free to send {{ screening.venue.user.get_profile.name }} a message if it's been more than a few days!
                            {% endif %}
                        {% else %}
                            Thanks for the following-up! Did you take a look at the screening recap?
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    </p>
</div>
</div>
</div>

<nav class="profile-menu">
    {% if not screening.is_dead %}
        {% if not screening.first_event_started %} <!-- BEFORE EVENT -->
            {% if user == screening.venue.user %}
                {% if screening.requires_payment_now %}
                <a href="{% url "screening-payment" screening.id %}" class="menu-link submit-report">PAY</a>
                {% endif %}
                {% if screening.is_editable %}
                <a href="{% url "edit-screening" screening.id %}" class="menu-link">EDIT INVITATION</a>
                {% endif %}
                {% if screening.can_be_canceled %}
                <a href="{% url "cancel-screening" screening.id %}" class="menu-link">CANCEL EVENT</a>
                {% endif %}
                {% if screening.is_accepted %}
                <a href="#video-file" class="menu-link expandable">VIDEO FILE</a>
                {% endif %}
            {% endif %}
            {% if screening.is_accepted  %}
            <a href="{% url "screening-page" screening.id %}" class="menu-link">VIEW EVENT PAGE</a>
            {% elif user == screening.film.user %}
            <a class="menu-link" href="{% url "accept-screening" screening.id %}">ACCEPT</a>
            <a class="menu-link" href="{% url "decline-screening" screening.id %}">DECLINE</a>
            {% endif %}
        {% else %} <!-- AFTER EVENT -->
            {% if user == screening.film.user %}
                {% if screening.report or screening.days_past_since_last_event >= 6 %} <!-- FILM-OWNER CAN REPORT -->
                    {% if not screening.film_report %}
                    <a href="{% url "fill-screening-report" screening.id %}" class="menu-link submit-report">SUBMIT REPORT</a>
                    {% else %}
                    <a href="{% url "fill-screening-report" screening.id %}" class="menu-link submit-report">EDIT REPORT</a>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if not screening.report %}
                <a href="{% url "create-screening-report" screening.id %}" class="menu-link submit-report">SUBMIT REPORT
                    {% if screening.requires_payment %}
                    + PAY!
                    {% endif %}
                    </a>
                {% else %}
                    {% if screening.requires_payment %}
                    <a href="{% url "screening-payment" screening.id %}" class="menu-link submit-report">PAY</a>
                    {% endif%}
                <a href="{% url "create-screening-report" screening.id %}" class="menu-link submit-report">EDIT REPORT</a>
                {% endif %}
            {% endif %}
        <a href="{% url "screening-page" screening.id %}" class="menu-link">VIEW SCREENING RECAP</a>
        {% endif %}
    {% endif %}
    {% if user == screening.venue.user %}
    <a href="{% url "view-or-start-conversation" screening.film.user.id %}">MESSAGE {{ screening.film.title|upper }}</a>
    {% else %}
    <a href="{% url "view-or-start-conversation" screening.venue.user.id %}">MESSAGE {{ screening.venue.name|upper }}</a>
    {% endif %}
    </a>

    {% if not screening.is_dead and not screening.first_event_started %}
        {% if user == screening.venue.user and screening.is_accepted %}
            <div id="submenu" style="margin-top: 20px; display: none">
                <div id="video-file" class="submenu-item" style="display:none">
                    {% if screening.film.exhibition_file %}
                    <p class="menu-text">{{ screening.film.title }} has an exhibition-ready file for download. Download via:</p>
                    <div id="exhibition-file-container">
                    <p>
                        {% include "partials/_exhibition_file_download.html" with film=screening.film can_download=True %}
                    </p>
                    </div>

                    {% else %}
                    <p class="menu-text">{{ screening.film.user.get_profile.name }} does not have an exhibition file for this movie, please arrange screening format and traficking with them directly.</p>
                    {% endif %}
                </div>
                <button type="button" id="close-submenu">CLOSE</button>
            </div>
        {% endif %}
    {% endif %}
</nav>

<div class="basic-info">

{% if screening.paid %}
    {% if screening.film_owners_earning %}
        <div class="earnings">
            {% if user == screening.film.user %}
            <h2> YOU GOT PAID: </h2>
            {% else %}
            <h2> YOU PAID: </h2>
            {% endif %}
            <p>
            ${{ screening.film_owners_earning }}
            </p>
        </div>
    {% endif %}
{% endif %}

<div>
    <h2> SCREENINGS </h2>
    {% for event in screening.schedule.all %}
    <p>{{ event.time|timezone:screening.venue.timezone|date:"M d, Y"  }} {{ event.time|timezone:screening.venue.timezone|date:"g:iA" }}</p>
    {% endfor %}
</div>

<div>
        {% if profit_share %}
        <h2>PROFIT-SPLIT</h2>
	    <p>{{ screening.profit.film_share }}% FILM </p>
	    <p>{{ screening.profit.smplmchn_share }}% SMPLMCHN </p>
        <p>{{ screening.profit.venue_share }}% VENUE </p>

        {% elif upfront %}
        <h2>UP-FRONT FEE</h2>
	    <p>${{ screening.profit.film_upfront }}</p>
        {% elif noprofit %}
        <h2>NO-PROFIT!</h2>

        {% endif %}
</div>

<div>
    <h2>DESCRIPTION</h2>
    <p>{{ screening.description }}</p>
</div>

</div>


<div id="report-placeholder"></div>


{% endtimezone %}

{% endblock %}


{% block extra_js %}

<script type="text/javascript">
    $(window).ready(function(){
        $("a.menu-link.expandable").on("click", function(e){
            e.stopPropagation();
            e.preventDefault();
            var current_el = $(this);
            $("a.menu-link").removeClass("active");
            current_el.addClass("active");
            $(".submenu-item").hide()
            $("div#submenu").toggle();
            $(current_el.attr('href')).show();
            return false;
        });

        $("button#close-submenu").on("click", function(ev){
            $("div#submenu").hide();
            $("div#submenu > div").hide();
            $("a.menu-link").removeClass("active");
        });

        $('#message-film-button').click(function(e){
            var message = $('textarea[name="message_text"]').val();
            $.post('{% url "send-message" screening.film.user.id %}', { message_text: message},
                function(data){
                    if (data.status == 'success'){
                        $('div#contact').html('<p>Message sent!</p>');
                    }
                    else {
                        $('div#contact').html('<p>Problem with sending message, please try again later.</p>');
                    }
                }, "json"
            );
        });

        $('#send-message-button').click(function(e){
            var message = $('textarea[name="message_text"]').val();
            $.post('{% url "send-message" screening.venue.user.id %}', { message_text: message},
                function(data){
                    if (data.status == 'success'){
                        $('div#contact').html('<p>Message sent!</p>');
                    }
                    else {
                        $('div#contact').html('<p>Problem with sending message, please try again later.</p>');
                    }
                }, "json"
            );
        });

        $("a.submit-report").click(function(ev){
            ev.preventDefault();
            $("div#report-placeholder").html('<div class="spinner"><div class="dot1"></div><div class="dot2"></div></div>');
            var lnk = $(ev.currentTarget).attr('href');
            $.getJSON(lnk, function(json){
                $("div#report-placeholder").html(json.html);
            })

            $('html, body').animate({
                scrollTop: $($("#report-placeholder")).offset().top - parseInt($('body').css('paddingTop'))
            }, 500);
        });

        $("div#report-placeholder").on("submit", "form#screening-report-form", function(ev){
            ev.preventDefault();
            var form = $("form#screening-report-form");
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (json) {
                    if (json.type == 'url'){
                        window.location = json.url;
                    }
                    else {
                        SM.showMessage('success', "Report saved!");
                        $("div#report-placeholder").html(json.html);
                    }
                },
                error: function(data) {
                    SM.showMessage('error', "SOMETHING WENT WRONG!");
                }
            });
            return false;
        });
    });
</script>

{% endblock %}
