
{% load common_tags %}
{% load tz %}



{% block content %}

{% timezone screening.venue.timezone %}

<div class="report-form">

<h1>SCREENING REPORT </h1>

<form action="{% url 'create-screening-report' screening.id %}" method="post" id="screening-report-form">
    {% csrf_token %}
    <!-- Moneys Report -->
    {% if revenue_required %}
    <div class="revenue">
        <h2>TOTAL REVENUE ($)</h2>
        {% include "helpers/form_field.html" with field=form.total_revenue %}
    </div>
    {% endif %}

    <div class="description">
        <h2>DESCRIPTION</h2>
        {% include "helpers/form_field.html" with field=form.description %}
    </div>

    <div id="uploaded-photos">
    {% if photos %}
        {% for photo in photos %}
            <div style="margin-bottom: 3em">
                <div class="photo"><img src='{{ photo.image.url }}' /></div>
                <button id="{{ photo.id }}" class="remove-photo" type="button">- REMOVE</button>
            </div>
        {% endfor %}
    {% endif %}
    </div>

<div class="fileinput-button">
    <button id="upload-image-button" type="button" class="upload-images"><span>UPLOAD IMAGES</span></button>
    <input id="fileupload2" type="file" name="file" data-url="{% url "upload-screening-report-photo" screening.id %}" multiple/>
    
</div>

<div class="save">
<button id="submit-report">SUBMIT REPORT</button>
</div>
</form>

</div>
{% endtimezone %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){

        {% if screening.report.total_revenue %}
        $("input[name='total_revenue']").attr('readonly', 'readonly');
        {% endif %}

        $("#fileupload2").fileupload({
            dataType: "json",
            sequentialUploads: true,
            done: function(e, data){
                if (data.result.success == true){
                    // Hide progress bar
                    data.context.find('.progress').hide();
                    // Show uploaded image
                    data.context.append("<div class='photo'><img src='"+data.result.url+"' /></div>");
                    data.context.append("<button class=\"remove-photo\" type=\"button\" id='" + data.result.id + "'>- REMOVE</button>");
                } else {
                    // Hide progress bar
                    data.context.find('.progress').hide();
                    alert(data.result.reason);
                }
            },
            add: function(e, data) {
                var newDiv = $("<div style='margin-bottom: 3em'/>");
                newDiv.append("<div class='progress progress-striped active'><div class='bar' style='width: 0%'></div></div>")
                newDiv.appendTo("div#uploaded-photos");
                data.context = newDiv;
                data.submit();

                $("button#upload-photo-button").html("ADD MORE IMAGES");
            },
            progress: function(e, data){
                var progress = parseInt(data.loaded / data.total * 100, 10);
                data.context.find('.bar').css(
                    'width',
                    progress + '%'
                );
            }
        });

        $("div#uploaded-photos").on("click", "button.remove-photo", function(e){
            e.preventDefault();
            e.stopPropagation();
            var data = {};
            if ($(e.currentTarget).attr("id")) {
                data['id'] = $(e.currentTarget).attr("id");
            } else {
                data['path'] = $(e.currentTarget).attr("data-path");
            }

            $.post("{% url "remove-screening-report-photo" screening.id %}", data);
            $(e.target).parent().remove();
        });
    });
</script>


{% endblock %}
