{% block content %}

<div class="report-payment">
<div class="payment-form">
<h1> PAYMENT </h1>
    <table id="payment-info">
        <tr>
            <td class="payment_user">{{ screening.film.title }}</td>
            <td class="amount">${{ screening.film_owners_earning }}</td>
        </tr>
        <tr>
            <td class="payment_user">SMPLMCHN</td>
            <td class="amount">${{ screening.simplemachine_earning }}</td>
        </tr>
        <tr>
            <td class="payment_user">Total</td>
            <td class="amount total">${{ screening.total_payment }}</td>
        </tr>
    </table>
    <p>Actual amounts paid to Simple Machine and film owner will be different because Simple Machine will pay PayPal fees for all transactions. Total amount you pay will stay the same.</p>

    <div class="save">
        <a href="{{ paypal_url }}" class="button" disabled="disabled">PAY NOW WITH PAYPAL</a>
    </div>

</div>
</div>
{% endblock %}

