{% extends "base.html" %}
{% load tz %}
{% load staticfiles %}
{% block title %}{{ screening.film.title|truncatechars:40 }} @ {{ screening.venue.name|truncatechars:40 }}{% endblock %}

{% block content %}

{% timezone screening.venue.timezone %}

<!-- TITLE BLOCK -->
</div>
<div id="pg--screening">

<div class="hero">
    {% if screening.report %} 
        <div class="post-screening">  
            {% if screening.report.photos.count > 0 %}
                {% for photo in screening.report.photos.all|slice:":1" %}
                <img Src='{{ photo.image.url }}' />
                {% endfor %}
            {% else %}
                <div class="no-photos">
                    <div class="hero-image" style="background-image: url('{{ screening.film.profile_image.url }}');">
                    </div>
                </div>            
        {% endif %}
    {% else %}
        <div class="pre-screening">
             {% if screening.film.trailer_embed_code %}
                 <div class="black-container">
                    <div class="container">
                        {{ screening.film.trailer_embed_code }}
                    </div>
                </div>
            {% else %}
                <div class="no-trailer">
                    <img src='{{ screening.film.profile_image.url }}' />
                </div>
            {% endif %}
        {% endif %}
        <div class="black-container">
            <div class="title-container">
                <h1><a href="{% url "film-details" screening.film.id %}{{ screening.film.title|slugify }}">{{ screening.film.title|upper }}</a> </h1>  <h2><span>at</span><a href="{% url "venue-details" screening.venue.id %}{{ screening.venue.name|slugify }}"> {{ screening.venue.name|upper }}</a> </h2>
                <div class="basic-attributes">
                     
                     {% for event in screening.schedule.all %}
                        <span>{{ event.time|timezone:screening.venue.timezone|date:"Nd.Y" }} {{ event.time|timezone:screening.venue.timezone|date:"g:iA" }} </span>
                    {% endfor %}
                    {% if screening.venue.street_address %}
                       <span>{{ screening.venue.street_address }} </span>
                    {% endif %}
                    {% if screening.venue.city %}
                         <span>{{ screening.venue.city }} </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MENU BAR -->

<nav class="profile-menu">
    {% if request.user == screening.venue.user or request.user == screening.film.user %}
    <a href="{% url "screening-details" screening.id %}">VIEW INVITATION </a>
    {% endif %}
    <a href="#"
        onclick="
        window.open(
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{ screening_full_url }}'),
        'facebook-share-dialog',
        'width=626,height=436');
        return false;">SHARE ON FACEBOOK</a>
</nav>

<!-- END MENU BAR -->

<div class="container">

<!-- PULL-QUOTES -->
{% if not screening.report %}
<div style="margin-top: 2em">
    {% for r in screening.film.reviews.all|slice:":2" %}
    <div class="pull-quote">
        <div class="text">
        <p class="pull-quote">“{{ r.get_pull_quote }}”</p>
        <p class="by">—{{ r.reviewer_pretty_name|upper }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div style="clear:both"></div>    
{% endif %}


<section class="basic-info">

<!-- REPORTS -->
    <div>
    {% if screening.report %}
        <h2>{{ screening.venue.name|upper }} SAYS:</h2>
        <p>{{ screening.report.description }}</p>
        <br />
        {% if screening.film_report %}
            <h2>{{ screening.film.title|upper }} SAYS:</h2>
            <p>{{ screening.film_report.description }}</p>
        {% endif %}
    {% endif %}
    </div>
</section>
    
</div>
<!-- PHOTOS -->
    {% if screening.report.photos %}
    <section class="aux-info">
        <div class="aux-info container">
            <nav class="aux-info" id="aux-info">
            <a href="#photos">PHOTOS</a>
            </nav>
            <div id="photos">
            {% for photo in screening.report.photos.all %}
                <img style="margin-bottom: 2em" src='{{ photo.image.url }}' />
            {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    
<div class="container">    
<!-- DISQUS -->
<section class="disqus">    
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
    
    
</div>

{% endtimezone %}

{% endblock %}
{% block extra_js %}

<script type="text/javascript">
    $(window).ready(function(){

        $("nav#aux-info a").on("click", function(e){
            e.preventDefault();
            var element_id = $(e.target).attr("href");
            $("div.aux-info > div:not(" + element_id + ")").hide()
            $(element_id).toggle();
            $("nav#aux-info a").removeClass("active");
            if ($(element_id).is(":visible")){
                $(e.target).addClass("active");
            }
        });
        });
</script>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'simplemachine'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
