{% extends "base.html" %}

{% block title %}{{ venue.name }}{% endblock %}
{% block metadesc %}{{ venue.metadesc|truncatechars:155 }}{% endblock %}

{% block extracss %}
{% endblock %}


{% block content %}

</div>
<div id="pg--venue">



<div class="hero">
    <div class="profile-image" style="display: none">
    </div>
    <div class="title-container">
        <p>EXHIBITION </p>
        <h1>{{ venue.name|upper }}</h1>
         <div class="description">
        <p>{{ venue.description|linebreaks|truncatewords:75 }}</p>
        </div>
         <div class="basic-attributes">
        {% if venue.city %}
            <span> {{ venue.city }} </span>
        {% endif %}
        {% if venue.state %}
            <span> {{ venue.state }} </span>
        {% endif %}
            <span> {{ venue.country }} </span>
            <span> Listed By:<a href="{% url "user-page" venue.user.id %}"> {{ venue.user.get_profile.name }} </a></span>
        </div>

    </div>
</div>

<nav class="profile-menu">
        {% if user.is_authenticated %}
            {% if venue.deleted %}
            <!-- hack to keep text vertically centered without // -->
            <p class"inactive">INACTIVE</p>
            {% elif venue.user == user %}
                <!-- hack to keep text vertically centered without // -->
                <a href="{% url "edit-venue" venue.id %}">EDIT VENUE INFO</a>
            {% else %}
                <!-- hack to keep text vertically centered without // -->
                <a href="{% url "view-or-start-conversation" venue.user.id %}" class="menu-link contact">CONTACT</a>
            {% endif %}
        {% endif %}

        {% if venue.website %}
            <a href="{{ venue.website }}" target="_blank">OFFICIAL WEBSITE</a>
        {% endif %}
</nav>


<div style="margin-top: 5em" id="film-results">
    <!-- Populated by AJAX request -->
</div>

<div id="discover-results">
    <!-- Populated by AJAX request -->
</div>
{% endblock %}


</div>


{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){
        mixpanel.track("venue page viewed", {
            "venue_id": "{{ venue.id }}"
        });

        $("a.menu-link:not(.contact)").on("click", function(e){
            e.stopPropagation();
            e.preventDefault();
            var current_el = $(this);
            $("a.menu-link").removeClass("active");
            current_el.addClass("active");
            $(".submenu-item").hide()
            $("div#submenu").show();
            $(current_el.attr('href')).show();
            return false;
        });

        $('#send-message-button').click(function(e){
            var message = $('textarea[name="message_text"]').val();
            $.post('{% url "send-message" venue.user.id %}', { message_text: message},
                function(data){
                    if (data.status == 'success'){
                        $('div#contact').html('<p>Message sent!</p>');
                    }
                    else {
                        $('div#contact').html('<p>Problem with sending message, please try again later.</p>');
                    }
                }, "json"
            );
        });

        // Load new page
        $("div#film-results").on("click", "a.page-link", function(ev){
            ev.preventDefault();
            var page = $(ev.currentTarget).attr("data-page");
            getFilteredResultsVenue(page);
        })

        $(window).on('filterValues.changed', function(){
            getFilteredResultsVenue(1);
        });

        function getFilteredResultsVenue(page){
            window.location.hash = page;
            SM.addSpinner("div#film-results");

            var filter_data = SM.getFiltersValues();
            filter_data.page = page;
            filter_data.per_page = 10;

            $.ajax({
                url: "{% url "venue-films" venue.id %}",
                data: filter_data,
                success: function(data){
                    $("div#film-results").html(data);
                }
            });
        }

        $(window).on('hashchange', function() {
            page = window.location.hash.substring(1);
            getFilteredResultsVenue(page);
        });

        // Initial load
        var page = 1;
        if (window.location.hash){
            page = window.location.hash.substring(1);
        }
        getFilteredResultsVenue(page);

        $.ajax({
            url: "{% url "load-discover-data" %}",
            data: SM.getFiltersValues(),
            success: function(data){
                $("div#discover-results").html(data);
            }
        });

    });
</script>
{% endblock %}
