{% extends "base.html" %}
{% load common_tags %}
{% load tz %}

{% block title %}Conversations with {{ conversation.is_with.get_profile.name }}{% endblock %}

{% block content %}
<div id="pg--conversation">

<div class="page-title">
        <h1>CONVERSATIONS</h1>
        <h2> <span>W/</span> <a href="{% url "user-page" conversation.is_with.id %}">{{ conversation.is_with.get_profile.name }}</a></h2>
</div>

<div class="message-container" style="text-align: right" id="message-container">
        <textarea name="message_text" placeholder="NEW MESSAGE"></textarea>
        <br />
        <a href="#" style="margin-top: 0" class="submit" id="send-message-button">+ SEND MESSAGE</a>
</div>


{% for message in conversation.messages %}
<div class="message-container">
    <div class="message {{ message.role|lower }}">


<!-- PREVIEW REQUEST -->
    {% if message.type == 'PREVIEW_REQUEST_SENT' %}

        {% if message.role == 'RECEIVER' %}

            <p class="message-date">{{ message.date|sm_date }} // {% if message.role == 'RECEIVER' %}{{ conversation.is_with.get_profile.name }}:{% elif message.role == 'SENDER' %}You:{% endif %}</p>
            <p class="message-generated">{{ conversation.is_with.get_profile.name }} wants to watch <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>! If you accept this request, we will provide {{ conversation.is_with.get_profile.name }} with the Vimeo link and password associated with your film. Do you accept? </p>
            <p class="action-links">
                <a href="{% url "film-accept-preview-request" film_id=message.model.film.id prev_req_id=message.model.id %}" class="toggle {% if message.model.is_accepted %} active {% endif %}">YEA! &nbsp;</a>
                <a href="{% url "film-decline-preview-request" film_id=message.model.film.id prev_req_id=message.model.id %}" class="toggle {% if message.model.is_declined %} active {% endif %}">NO!</a>
            </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated">You sent {{ conversation.is_with.get_profile.name }} a request to watch <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>!</p>


        {% endif %}


<!-- PREVIEW REQUEST ACCEPTED -->
    {% elif message.type == 'PREVIEW_REQUEST_ACCEPTED' %}

        {% if message.role == 'RECEIVER' %}

         <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> {{ conversation.is_with.get_profile.name }} gave you permission to watch <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>! Watch now by going to the film's <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">profile page</a> and looking under 'watch'.
        </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> You gave {{ conversation.is_with.get_profile.name }} permission to watch <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>! We have provided them with the Vimeo link and password you have associated with this film. You can always change your answer to the original request if this was a mistake, and they will no longer be able to see your link and password.
            </p>

        {% endif %}



<!-- PREVIEW REQUEST DECLINED -->
    {% elif message.type == 'PREVIEW_REQUEST_DECLINED' %}

        {% if message.role == 'RECEIVER' %}

         <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> {{ conversation.is_with.get_profile.name }} <b>denied</b> your request to watch <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>!
        </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> You <b>denied</b> {{ conversation.is_with.get_profile.name }} permission to watch <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>!
            </p>

        {% endif %}


<!-- DOWNLOAD REQUEST -->
    {% elif message.type == 'DOWNLOAD_REQUEST_SENT' %}

        {% if message.role == 'RECEIVER' %}

            <p class="message-date">{{ message.date|sm_date }} // {% if message.role == 'RECEIVER' %}{{ conversation.is_with.get_profile.name }}:{% elif message.role == 'SENDER' %}You:{% endif %}</p>
            <p class="message-generated">{{ conversation.is_with.get_profile.name }} wants to download <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>! If you accept this request, {{ conversation.is_with.get_profile.name }} will be allowed to download the exhibition file you have associated with this film. Do you accept? </p>
            <p class="action-links">
                <a href="{% url "film-accept-download-request" film_id=message.model.film.id down_req_id=message.model.id %}" class="toggle {% if message.model.is_accepted %} active {% endif %}">YEA! &nbsp;</a>
                <a href="{% url "film-decline-download-request" film_id=message.model.film.id down_req_id=message.model.id %}" class="toggle {% if message.model.is_declined %} active {% endif %}">NO!</a>
            </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated">You sent {{ conversation.is_with.get_profile.name }} a request to download <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>!</p>


        {% endif %}


<!-- DOWNLOAD REQUEST ACCEPTED -->
    {% elif message.type == 'DOWNLOAD_REQUEST_ACCEPTED' %}

        {% if message.role == 'RECEIVER' %}

         <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> {{ conversation.is_with.get_profile.name }} gave you permission to download <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>! Download now by going to the film's <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">profile page</a> and looking under 'DOWNLOAD'.
        </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> You gave {{ conversation.is_with.get_profile.name }} permission to download <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>! They can now download your exhibition file. You can always change your answer to the original request if this was a mistake, and they will no longer be able to download your file.
            </p>

        {% endif %}

<!-- DOWNLOAD REQUEST DECLINED -->
    {% elif message.type == 'DOWNLOAD_REQUEST_DECLINED' %}

        {% if message.role == 'RECEIVER' %}

         <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> {{ conversation.is_with.get_profile.name }} <b>denied</b> your request to download <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>!
        </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> You <b>denied</b> {{ conversation.is_with.get_profile.name }} permission to download <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>!
            </p>

        {% endif %}

<!-- INVITATION -->
    {% elif message.type == 'SCREENING_INVITATION' %}

        {% if message.role == 'RECEIVER' %}
            <p class="message-date"> {{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated {% if message.model.is_dead %} dead {% endif %}">
                {{ conversation.is_with.get_profile.name }} has <b>invited</b> <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> to screen at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}!
                {% if message.model.first_event_started and not message.model.is_accepted %}
                    <p class="message-generated"> You never replied, however, and the date for this screening has now passed, so the event did not happen.</p>
                {% else %}
                You will need to view the details and accept the invitation in order for this screening to happen.
                {% endif %}
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% else %}
            <p class="message-date"> {{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated {% if message.model.is_dead %} dead {% endif %}">
                You have <b>invited</b> <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> to screen at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}!
                {% if not message.model.is_accepted %}
                    {% if message.model.first_event_started  %}
                        <p class="message-generated">{{ conversation.is_with.get_profile.name }} never replied, however, and the date for this screening has now passed, so the event did not happen.</p>
                    {% else %}
                        {{ conversation.is_with.get_profile.name }} still needs to accept the invitation in order for this screening to happen.
                    {% endif %}
                {% endif %}
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% endif %}


<!-- SCREENING ACCEPTED -->
    {% elif message.type == 'SCREENING_ACCEPTED' %}

        {% if message.role == 'RECEIVER' %}

            <p class="message-date"> {{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated {% if message.model.is_dead %} dead {% endif %}">
                {{ conversation.is_with.get_profile.name }} <b>accepted</b> your offer to screen <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }} !
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated {% if message.model.is_dead %} dead {% endif %}"> You have <b>accepted</b> {{ conversation.is_with.get_profile.name }}'s offer to screen <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}!
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% endif %}

<!-- SCREENING DECLINED -->
    {% elif message.type == 'SCREENING_DECLINED' %}

          {% if message.role == 'RECEIVER' %}

            <p class="message-date"> {{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated">
                {{ conversation.is_with.get_profile.name }} <b>declined</b> your offer to screen <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }} !
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> You have <b>declined</b> {{ conversation.is_with.get_profile.name }}'s offer to screen <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}!
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% endif %}


<!-- SCREENING CANCELLED -->
    {% elif message.type == 'SCREENING_CANCELLED' %}

          {% if message.role == 'RECEIVER' %}

            <p class="message-date"> {{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated">
                {{ conversation.is_with.get_profile.name }} <b>cancelled</b> the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }} !
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> You have <b>cancelled</b> the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}!
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% endif %}


<!-- SCREENING UPDATED -->
    {% elif message.type == 'SCREENING_UPDATED' %}

      {% if message.role == 'RECEIVER' %}

            <p class="message-date"> {{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated">
                {{ conversation.is_with.get_profile.name }} <b>updated</b> the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}! You will need to view the details and re-accept the screening in order for it to happen.
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% else %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> You have <b>updated</b> the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}. {{ conversation.is_with.get_profile.name }} will need to re-accept the invite in order for this event to happen.
            </p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
            </p>

        {% endif %}


<!-- SCREENING REPORT (VENUE) -->
       {% elif message.type == 'SCREENING_REPORT_VENUE' %}

       <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN:</p>

        <p class="message-generated"> You screened <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a>! How did this event go? Please fill out a report as soon as possible to tell everyone about the film and the screening!</p>

        <p class="action-links">
            <a href="{% url "screening-details" message.model.id %}">SUBMIT REPORT</a>
        </p>


<!-- SCREENING REPORT REMINDER (VENUE) -->
    {% elif message.type == 'SCREENING_REPORT_REMINDER_VENUE' %}

        <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN:</p>

        <p class="message-generated"> It has been 3 days since you screened <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a>! Please fill out your report!</p>

        <p class="action-links">
            <a href="{% url "screening-details" message.model.id %}">SUBMIT REPORT</a>
        </p>


<!-- SCREENING REPORT (FILM) -->
    {% elif message.type == 'SCREENING_REPORT_FILM' %}

        <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN:</p>

        <p class="message-generated"> {{ conversation.is_with.get_profile.name }} has {% if not message.model.screening.report %} not yet {% endif %} written about the screening of your film <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a>! {% if not message.model.screening.report %} But please write a report of your own if you have something to say about the event, and feel free to message {{ message.model.venue.name }} directly about the situation {% else %} Take a look at what was said and please write something of your own! {% endif %}</p>

        <p class="action-links">
            <a href="{% url "screening-details" message.model.id %}">SUBMIT REPORT</a>
        </p>


<!-- SCREENING REPORT REMINDER (FILM) -->
    {% elif message.type == 'SCREENING_REPORT_REMINDER_FILM' %}

        <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN:</p>

        <p class="message-generated"> You still have not report on the screening of your film <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}! Please fill out your report!</p>

        <p class="action-links">
            <a href="{% url "screening-details" message.model.id %}">SUBMIT REPORT</a>
        </p>


<!-- VENUE HAS TO PAY UPFRONT (MESSAGE SENT AS SOON AS SCREENING IS ACCEPTED) -->
    {% elif message.type == 'SCREENING_PAY_UPFRONT' and message.model.requires_payment %}

            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated">You promised {{ conversation.is_with.get_profile.name }} <b>${{ message.model.total_payment }}</b> to screen <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a>.</p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">PAY NOW</a>
            </p>


<!-- VENUE HAS SUBMITTED REPORT -->
    {% elif message.type == 'SCREENING_SHOWN' %}

    {% if message.role == 'RECEIVER' %}
            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated">{{ conversation.is_with.get_profile.name }} has written about the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}! {% if not message.model.film_report %} Please take a minute and write a few words about your experience as well. {% endif %}</p>
            <p class="action-links">
                <a href="{% url "screening-details" message.model.id %}">SUBMIT REPORT</a>
            </p>

        {% else %}
            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> You reported about the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}! Thanks!</p>
            <p class="action-links">
                <a href="{% url "screening-page" message.model.id %}">VIEW SCREENING RECAP</a>
            </p>

        {% endif %}



<!-- FILM-OWNER HAS SUBMITTED REPORT -->
    {% elif message.type == 'SCREENING_REPORT_FILM_SENT' %}

        {% if message.role == 'RECEIVER' %}
            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated">{{ conversation.is_with.get_profile.name }} has reported about the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}!</p>
            <p class="action-links">
                <a href="{% url "screening-page" message.model.id %}">VIEW SCREENING RECAP</a>
            </p>

        {% else %}
            <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
            <p class="message-generated"> You reported about the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name  }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}! Thanks!</p>
            <p class="action-links">
                <a href="{% url "screening-page" message.model.id %}">VIEW SCREENING RECAP</a>
            </p>

        {% endif %}


<!-- VENUE SENT PAYMENT -->
    {% elif message.type == 'SCREENING_PAID' %}

        {% if message.role == 'RECEIVER' %}
       <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
       <p class="message-generated">You got paid! {{ conversation.is_with.get_profile.name }} has sent you <b>${{ message.model.film_owners_earning }}</b> for the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}! </p>
        <p class="action-links">
            <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
        </p>

        {% else %}

        <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
        <p class="message-generated">You succesfully paid {{ conversation.is_with.get_profile.name }} <b>${{ message.model.film_owners_earning }}</b> for the screening of <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> at <a href="{% url "venue-details" message.model.venue.id %}{{ message.model.venue.name|slugify }}">{{ message.model.venue.name }}</a> on {{ message.model.schedule.all.0.time|timezone:message.model.venue.timezone|date:"M d, Y" }}! </p>
        <p class="action-links">
            <a href="{% url "screening-details" message.model.id %}">VIEW INVITATION</a>
        </p>

        {% endif %}

<!-- FILM PAYMENT -->
    {% elif message.type == 'FILM_PAID' %}

        {% if message.role == 'RECEIVER' %}
       <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
       <p class="message-generated">You got paid! {{ conversation.is_with.get_profile.name }} has sent you <b>${{ message.model.amount }}</b> for you film <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a>! </p>
        {% else %}

        <p class="message-date">{{ message.date|sm_date }} // SMPLMCHN: </p>
        <p class="message-generated">You succesfully paid {{ conversation.is_with.get_profile.name }} <b>${{ message.model.amount }}</b> for film <a href="{% url "film-details" message.model.film.id %}{{ message.model.film.title|slugify }}">{{ message.model.film.title }}</a> ! </p>
        {% endif %}

<!-- REGULAR MESSAGE -->
    {% elif message.type == 'MESSAGE' %}
        {% if message.role == 'RECEIVER' %}
            <div style="text-align: left;">
                <p class="message-date">{{ message.date|sm_date }} // {{ conversation.is_with.get_profile.name }}:</p>
                <p>{{ message.model.content|linebreaksbr }}</p>
            </div>
        {% else %}
            <div style="text-align: left; float: right;">
                <p class="message-date">{{ message.date|sm_date }} // You:</p>
                <p>{{ message.model.content|linebreaksbr }}</p>
            </div>
        {% endif %}
    {% endif %}

    </div> <!-- message-container -->
</div> <!-- message -->

{% endfor %}
</div> <!-- #pg--conversation -->
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){
        mixpanel.track("conversation viewed", {
            "conversation_id": "{{ conversation.id }}"
        });

        $('#send-message-button').click(function(e){
            e.preventDefault();
            var message = $('textarea[name="message_text"]').val();
            $.post('{% url "send-message" conversation.is_with.id %}', { message_text: message},
                function(data){
                    if (data.status == 'success'){
                        document.location.reload(true);
                    }
                    else {
                        $("div#message-container").html("<p>There was an error while trying to send your message. Plese try again later</p>");
                    }
                }, "json"
            );
        });
    });
</script>
{% endblock %}

