{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block metadesc %}Search by name, festival, critic or adjective{% endblock %}


{% block content %}


<div id="pg--search">
<!-- INCLUDE SEARCH AND DASH -->
    {% include 'browse/partials/_search_and_dash.html' %}


<div class="search-results">

    {% for result in results %}
    			{% if result.type == 'Film' %}
                    <div class="search-results-box">
                        <a href="{{ result.link }}{{ result.name|slugify }}">
                            <div>
                                <div class="image-container" style="background-image: url('{{ result.image }}')"></div>
                                <p class="info">{{ result.name|upper|truncatechars:36 }}<br /> <span class="director">{{ result.director|upper|truncatechars:40 }}</span></p>
                            </div>
                        </a>
                    </div>

                {% else %}
                    <div class="search-results-box">
	                    <a class="results_festival-title" href="{{ result.link }}">
                            <table style="width: 100%; vertical-align: middle">
                                <tr>
                                    <td>{{ result.name|upper|truncatechars:50 }}|{{ result.films|length }}</td>
                                </tr>
                            </table>
	                    </a>
                    </div>

                {% endif %}

    {% empty %}
        {% if term %}
        <p style="margin-top: 100px">No results, please try again.</p>
        {% endif %}
    {% endfor %}
{% endblock %}

</div>
</div>

{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){

    });
</script>
{% endblock %}
