{% extends "base.html" %}

{% block title %}{{ user.get_profile.name }}{% endblock %}
{% block metadesc %}{{ user.get_profile.name }}{% endblock %}

{% block content %}

</div>
<div id="pg--user">

<div class="hero">
<div class="title-container">
    <h1>{{ user.get_profile.name|upper }}</h1>
    <div class="basic-attributes">
        <span> User Since: </span>
        {{ user.date_joined|date:"M. d, Y" }}
    </div>
</div>
</div>

{% if request.user.is_authenticated %}
    {% if user != request.user %}
        <nav class="profile-menu">
            <a href="{% url "view-or-start-conversation" user.id %}">MESSAGE</a>
        </nav>
    {% endif %}
{% endif %}


<div class="basic-info">
{% if films %}
    <div>
        <h2>FILMS</h2>
        {% for f in films %}
        <p><a href="{% url "film-details" f.id %}{{ f.title|slugify }}">{{ f.title }}</a></p>
        {% endfor %}
    </div>
{% endif %}

{% if venues %}
    <div>
        <h2>EXHIBITIONS</h2>
        {% for v in venues %}
        <p><a href="{% url "venue-details" v.id %}{{ v.name|slugify }}">{{ v.name }}</a></p>
        {% endfor %}
    </div>
{% endif %}

{% if curations %}
    <div>
        <h2>LISTS</h2>
        {% for c in curations %}
        <p><a href="{% url "curation-details" c.id %}{{ c.title|slugify }}">{{ c.title }}</a></p>
        {% endfor %}
    </div>
{% endif %}


</div>

</div>

{% endblock %}
