{% extends "base.html" %}
{% load tz %}

{% timezone online_screening.timezone %}

{% block title %}{% endblock %}

{% endtimezone %}

{% block content %}
</div>

<div id="pg--online-screening-details">

<div class="hero">
    <div class="title-container">
        <h1>ONLINE FESTIVAL</h1>
        <h2>
        by <a href="{% url "user-page" online_screening.user.id %}">{{ online_screening.user.get_profile.name|upper }}</a>
        <br />{{ online_screening.start_time|timezone:online_screening.timezone }} — {{ online_screening.end_time|timezone:online_screening.timezone }}
        </h2>
    </div>
</div>

{% if user == online_screening.user and not online_screening.is_started %}
<nav class="profile-menu">
    <a href="{% url "edit-online-screening" online_screening.id %}">EDIT ONLINE SCREENING</a>
    <a href="#link" class="menu-link">FILM INVITATION LINK</a>
    <div id="submenu" class="submenu" style="display: none">
        <div id="link" class="submenu-item" style="display: none">
        <p class="menu-text">
        Send the following URL to film-owners to invite films to this screening! They will be directed to link their Vimeo account and pick one or more of their videos to include.

        <p class="menu-text">{{ online_screening_url }}</p>
        </div>
        <button type="button" id="close-submenu">CLOSE</button>
    </div>

</nav>
{% endif %}

<div style="width: 65%; margin: auto; margin-top: 100px;">
    {% if online_screening.online_films.all %}
        {% for film in online_screening.online_films.all %}
            <div style="margin-bottom: 75px;">
            {% with id=film.vimeo_id %}
                {% include 'partials/_vimeo_embed_code.html' %}
            {% endwith %}
            </div>
        {% endfor %}
    {% else %}
        <p style="text-align: center">No films have been added yet! Anyone who visits the 'invitation link' can list their film on your screening, so only send it to those you are inviting! Films can be added any time before the screening begins, but not after. </p>
    {% endif %}
</div>

<div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript">

     $("button#close-submenu").on("click", function(ev){
        $("div#submenu").hide();
        $("div#submenu > div").hide();
        $("a.menu-link").removeClass("active");
    });

    $("a.menu-link:not(.contact)").on("click", function(e){
        e.stopPropagation();
        e.preventDefault();
        var element_id = $(e.target).attr("href");
        $("div#submenu > div:not(" + element_id + ")").hide()
        $(element_id).toggle();
        $("a.menu-link").removeClass("active");
        if ($(element_id).css('display') != 'none'){
            $("div#submenu").show();
            $(e.target).addClass("active");
        }
        else {
            $("div#submenu").hide();
        }
        return false;
    });
</script>
{% endblock %}
