{% extends "base.html" %}
{% load common_tags %}

{% block content %}

<div id="pg--online-screening">

    <div class="page-title">
        {% if edit %}
            <h1>EDIT ONLINE SCREENING</h1>
        {% else %}
            <h1>NEW ONLINE SCREENING</h1>
        {% endif %}
    </div>

    <div class="fields">
        <form id="add-online-screening-form" action="." method="POST" class="form-horizontal">
            {% csrf_token %}
            {% render_form form %}

            <h2>START TIME</h2>
            <div class="when control-group {% if form.start_time.errors %} error {% endif %}" id="start-times">
                <div class="date-time-picker" id="start-date-time-picker">
                    <input type="text" name="start_date" placeholder="DATE *" class="datepicker"/>
                    <input type="text" name="start_clock" placeholder="TIME (24:00) *" />
                </div>
                <div style="clear: both"></div>
                {% if form.start_time.errors %}
                    <span class="help-block">
                        {% for e in form.start_time.errors %}{{ e }}{% if not forloop.last %}, {% endif %}{% endfor%}
                    </span>
                {% endif %}
            </div>

            <h2>END TIME</h2>
            <div class="when control-group {% if form.end_time.errors %} error {% endif %}" id="end-times">
                <div class="date-time-picker" id="end-date-time-picker">
                    <input type="text" name="end_date" placeholder="DATE *" class="datepicker"/>
                    <input type="text" name="end_clock" placeholder="TIME (24:00) *" />
                </div>
                <div style="clear: both"></div>
                {% if form.end_time.errors %}
                    <span class="help-block">
                        {% for e in form.end_time.errors %}{{ e }}{% if not forloop.last %}, {% endif %}{% endfor%}
                    </span>
                {% endif %}
            </div>

            <div class="save">
                <button class="submit">SAVE & FINISH </button>
            </div>

        </form>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    var pad = function(n){
        return n<10 ? '0'+n : n;
    }

    // TODO: extract to utils.js
    var dateFromMultipleFields = function(dateField, timeField){
        var date = new Date(
            dateField.val().split('-')[0],
            dateField.val().split('-')[1]-1,
            dateField.val().split('-')[2],
            timeField.val().split(':')[0],
            timeField.val().split(':')[1]
        );
        return date;
    };

    $(window).ready(function(){
        $(".submit").on("click", function(e){
            var dateStartField = $("form input[name='start_date']");
            var timeStartField = $("form input[name='start_clock']");
            var dateEndField = $("form input[name='end_date']");
            var timeEndField = $("form input[name='end_clock']");
            var error = false;

            $("div#start-times span").remove();
            $("div#start-times").removeClass("error");
            var dateStart = dateFromMultipleFields(dateStartField, timeStartField);
            if (dateStart == "Invalid Date") {
                $("div#start-times").addClass("error");
                $("div#start-date-time-picker").after("<span class='help-block'>Please enter time in 24-hour format, eg. 19:30</span>");
                error = true;
            }

            $("div#end-times span").remove();
            $("div#end-times").removeClass("error");
            var dateEnd = dateFromMultipleFields(dateEndField, timeEndField);
            if (dateEnd == "Invalid Date") {
                $("div#end-times").addClass("error");
                $("div#end-date-time-picker").after("<span class='help-block'>Please enter time in 24-hour format, eg. 19:30</span>");
                error = true;
            }

            if (error == false){
                $("input#id_start_time").val(dateStart.toISOString());
                $("input#id_end_time").val(dateEnd.toISOString());
                $("form#add-curation-form").submit();
            }
            else {
                return false;
            }
        });

        if ($("input#id_start_time").val()){
            var startDate = new Date($("input#id_start_time").val());
            $("input[name='start_date']").val(startDate.getFullYear()+'-'+pad(startDate.getMonth()+1)+'-'+pad(startDate.getDate()));
            $("input[name='start_clock']").val(pad(startDate.getHours())+':'+pad(startDate.getMinutes()));
        }

        if ($("input#id_end_time").val()){
            var endDate = new Date($("input#id_end_time").val());
            $("input[name='end_date']").val(endDate.getFullYear()+'-'+pad(endDate.getMonth()+1)+'-'+pad(endDate.getDate()));
            $("input[name='end_clock']").val(pad(endDate.getHours())+':'+pad(endDate.getMinutes()));
        }
    });
</script>
{% endblock %}