{% extends "base.html" %}
{% load common_tags %}

{% block content %}

<div id="pg--online-film-form">

    <div class="page-title">
        <h1>ADD FILM TO ONLINE FESTIVAL</h1>
    </div>

    <div class="field">
        <form id="add-online-film-form" action="." method="POST" class="form-horizontal">
            {% csrf_token %}

            {% if available_videos %}
            <div class="available-videos">
                <h2>CHOOSE A VIDEO:</h2>
                <div class="videos">
                    {% for video in available_videos %}
                        <div class="video-box">
                            <a class="vimeo-video" href="#" data-vimeo-id="{{ video.id }}" data-privacy="{{ video.privacy }}" data-embed-privacy="{{ video.embed_privacy }}">
                                <div class='thumb' style="background-image: url('{{ video.thumbnail }}');"></div>
                                <p>{{ video.title }}</p>
                            </a>
                        </div>
                    {% endfor %}
                    <div style="clear:both"></div>
                </div>
            </div>
            {% endif %}

            {% if unavailable_videos %}
            <div class="unavailable-videos">
                <h2>UNAVAILABLE VIDEOS
                <span> We noticed that you also have these videos on your Vimeo account, but you can't select them for a screening until you change the embed privacy to 'anywhere'.</span>
                </h2>
                <div class="videos">
                    {% for video in unavailable_videos %}
                        <div class="video-box">
                            <div class='thumb' style="background-image: url('{{ video.thumbnail }}');"></div>
                            <p>{{ video.title }}</p>
                        </div>
                    {% endfor %}
                    <div style="clear:both"></div>
                </div>
            </div>
            {% endif %}

            {% if already_added_videos %}
            <div class="added-videos">
                <h2>ADDED VIDEOS
                <span> These videos have been succesfully added to the online festival!</span>
                </h2>
                <div class="videos">
                    {% for video in already_added_videos %}
                        <div class="video-box">
                            <div class='thumb' style="background-image: url('{{ video.thumbnail }}');"></div>
                            <p>{{ video.title }}</p>
                            <a href="{% url "delete-online-film" online_screening.pk video.id %}">-REMOVE</a>
                        </div>
                    {% endfor %}
                    <div style="clear:both"></div>
                </div>
            </div>
            {% endif %}

            <div class="save">
            <a class="button" href="{% url 'online-screening-details' online_screening.pk %}">VIEW ONLINE SCREENING</a>
            </div>
            <div style="clear:both"></div>

            <div class="add-vimeo-video">
                <h2>ADD THIS VIDEO TO ONLINE SCREENING?</h2>
                {% render_form form %}
                <button id="make-public-yes" class="done" type="submit">+ADD</button>
                <button id="make-public-no" class="cancel" type="button">-CANCEL</button>

            </div>

        </form>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){
        var is_pro = {{ is_pro }};
        $("input#id_vimeo_password").parent().parent().hide();
        $("div.add-vimeo-video").hide();

        $('a.vimeo-video').on('click', function(){
            var vimeo_id = $(this).attr('data-vimeo-id');
            var vimeo_privacy = $(this).attr('data-privacy');
            var vimeo_embed_privacy = $(this).attr('data-embed-privacy');

            $('a.selected-video').removeClass('selected-video');
            $(this).addClass('selected-video');
            $('input#id_vimeo_id').val(vimeo_id);
            $('input#id_vimeo_privacy').val(vimeo_privacy);
            $('input#id_vimeo_embed_privacy').val(vimeo_embed_privacy);

            if (vimeo_privacy == "password"){
                $("input#id_vimeo_password").parent().parent().show();
            }
            else {
                $("input#id_vimeo_password").parent().parent().hide();
            }
            $("div.add-vimeo-video").show();

            var thumbnail = $(this).find('div.thumb').clone();
            $("div.add-vimeo-video div.thumb").remove();
            $("div.add-vimeo-video h2").after(thumbnail);

            if (is_pro == 0 && vimeo_embed_privacy == 'nowhere') {
                SM.showMessage("error", "You have to change embed privacy for this video to 'anywhere' on your Vimeo or we won't be able to screen it!");
            };

            $('html, body').animate({
                scrollTop: $($("div.add-vimeo-video")).offset().top - parseInt($('body').css('paddingTop'))
            }, 500);

            return false;
        });

        $('html, body').animate({
            scrollTop: parseInt($('body').css('paddingTop'))
        }, 500);

        $("button.cancel").on('click', function(){
            window.location.reload();
        });

        $("form#add-online-film-form").submit(function(){
            $("input#id_vimeo_password").parents(".control-group").removeClass('error');
            if ($('input#id_vimeo_privacy').val() == "password" && !$("input#id_vimeo_password").val()){
                $("input#id_vimeo_password").parents(".control-group").addClass('error');
                return false;
            }
        });
    });
</script>
<style type="text/css">

</style>
{% endblock %}