<a class="show-results"
data-type="{{ c.type }}"
data-id="{{ c.id }}"
data-url="{% url "films-by-curator" c.type c.id %}"
href="{% if c.type == "Reviewer" %}{% url 'reviewer-details' c.id %}
{% elif c.type == 'Organization' %}
{% url 'organization-details' c.id %}
{% elif c.type == 'Festival' %}
{% url 'festival-details' c.id %}
{% elif c.type == 'Curation' %}
{% url 'curation-details' c.id %}
{% elif c.type == 'Venue' %}
{% url 'venue-details' c.id %}
{% else %}#
{% endif %}">
<section>
    <span class="pre">
        {% if c.type == 'Reviewer' or c.type == 'Organization' %}
        FILMS LIKED BY
        {% endif %}
        {% if c.type == 'Festival' or c.type == 'Venue' %}
        FILMS THAT PLAYED IN
        {% endif %}
        {% if c.type == 'Curation' %}
        FILMS IN THE PROGRAM
        {% endif %}
    </span>
    <br />
    {{ c.name|truncatechars:75 }} <span class="post"> |{{ c.film_count }}</span>
    {% comment %}
    <!--
    {% if c.description %}
        <p class="description">
            {{ c.description|truncatechars:480 }}
        </p>
    {% endif %}
    -->
    {% endcomment %}
</section>
</a>
