{% load staticfiles %}
<div class="films-discover">
    <h3>Other Collections</h3>
    {% for c in curators %}
        <div class="collection-container" {% if forloop.counter > 5 %}style=" display: none"{% endif %}">
            {% include 'browse/partials/_collection_list_details.html' %}
        </div>
    {% endfor %}
    <div style="clear:both"></div>

    {% if curators|length > 5 %}
    <div class="load-more">
        <a href="#" class="load-more-collections-button">LOAD MORE COLLECTIONS</a>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    $(window).ready(function(){
        // Load more collections JS
        var loaded_collections_index = 5;
        $("a.load-more-collections-button").on("click", function(ev){
            loaded_collections_index += 5;
            $(ev.currentTarget).parent().siblings("div.collection-container").slice(0, loaded_collections_index).show();
            // Hide load more button if all collection are visible
            if ($(ev.currentTarget).parent().siblings("div.collection-container:visible").length == $(ev.currentTarget).parent().siblings("div.collection-container").length){
                $(ev.currentTarget).hide();
            }
            return false;
        });
    });
</script>
