{% load staticfiles %}
        {% with results=curators %}
            {% include 'helpers/pagination.html' %}
        {% endwith %}
<div class="films-discover">
        {% for c in curators %}
            <div class="collection-container">
                {% include 'browse/partials/_collection_list_details.html' %}
            </div>
        {% endfor %}
        <div style="clear:both"></div>
</div>
        {% with results=curators %}
            {% include 'helpers/pagination.html' %}
        {% endwith %}