{% load staticfiles %}
<script type="text/javascript">
    $(window).ready(function(){
        $("a#close-curator-info-box").on("click", function(ev) {
            ev.preventDefault();
            $("div#film-results").empty();
            $('html, body').animate({
                scrollTop: $($("nav.dash")).offset().top - parseInt($('body').css('paddingTop'))
            }, 500);
        });
    });
</script>

<!-- TODO: delete this -->
{% if curator %}
<div class="curator-info-box">
    <h2><a href="{{ curator_url }}">{{ curator.name }}</a></h2><a href="#" id="close-curator-info-box">CLOSE</a>
    {% if curator_type == 'curation' or curator_type == 'festival' %}
    <p>
    <!--{% if curator.description %}{{ curator.description}}{% endif %}
    -->
    </p>
    {% endif %}
</div>
{% endif %}

{% if films %}
    {% include 'partials/_film_details_module.html' %}
{% else %}
    <p style="text-align: center">No films for this search. Please try another.</p>
{% endif %}
