<nav class="search">
    <form method="get" action="/search" id="search-form">
        <input type="text" class="search" placeholder="SEARCH HERE" value="{% if term %}{{ term }}{% endif %}" name="q">
    </form>
</nav>
