{% for conversation in conversations %}
<h2 class="item-list">
<a style="{% if conversation.is_unread %}font-weight: 900 {% else %} font-weight: 300 {% endif %}" href="{% url "view-conversation" conversation.id %}">{{ conversation.is_with.userprofile.name|upper }}{% if conversation.topic %} <span>({{ conversation.topic|upper }})</span>{% endif %}</a><br />
{% empty %}
<p>You have no conversations.</p>
</h2>
{% endfor %}
