<div class="row" style="margin-bottom: 0px">
    <div class="span4 section">
        <p class="dashboard-title">FILMS</p>
        <p class="add-new"><a href="{% url "add-film" %}">+ ADD NEW</a></p>
        <div>
            {% for film in films %}
            <p class="dash-names">
            <a href="{% url "film-details" film.id %}{{ film.title|slugify }}">{{ film.title|truncatechars:32 }}</a>{% if not film.is_public %} (private){% endif %}<br />
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="visible-phone" style="margin-bottom:20px"></div>
    <div class="span4 section">
        <div style="margin: 0 auto">
            <p class="dashboard-title">VENUES</p>
            <p class="add-new"><a href="{% url "add-venue" %}" class="bold">+ ADD NEW</a></p>

            <div>
                {% for venue in venues %}
                <p class="dash-names">
                <a href="{% url "venue-details" venue.id %}{{ venue.name|slugify }}">{{ venue.name|truncatechars:32 }}</a><br />
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="visible-phone" style="margin-bottom:20px"></div>
    <div class="span4 section">
        <div>
            <p class="dashboard-title">CURATIONS</p>
            <p class="add-new"><a href="{% url "add-curation" %}" class="bold">+ ADD NEW</a></p>
            <div>
                {% for curation in curations %}
                <p class="dash-names">
                <a href="{% url "curation-details" curation.id %}">{{ curation.title }}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
