<div id="accordion-container">
{% for notification in notifications %}
<div data-notification-id="{{ notification.id }}" style="margin-top: 20px" {% if not notification.read %}class="unread"{% endif %}>
        <div style="width: 50%; float: left">
            <p href="#" style="font-size: 2em;" class="notification-title">{{ notification.title|upper }}</p>
        </div>
        <div style="text-align: right">
            <p href="#" style="font-size: 2em;" class="notification-subtitle">{{ notification.subtitle|upper }}</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12" style="border: 1px dotted gray; margin-top: 10px; margin-bottom: 20px;padding:10px">
            <p>{{ notification.date|date:"Nd.Y"}}</p>
            <table style="width: 100%">
                <tr>
                    <td>{{ notification.description }}</td>
                    <td style="text-align: right; font-size: 1.5em; line-height: 1.2em" class="action-links">
                        {% if notification.type == 'PREVIEW_REQUEST_ACCEPTED' and notification.role == 'RECEIVER' %}
                        <a href="{% url "film-details" notification.model.film.id %}{{ notification.models.film.title|slugify }}">WATCH THE MOVIE</a>
                        {% elif notification.type == 'SCREENING_INVITATION' and notification.role == 'RECEIVER' %}
                        <a href="{% url "screening-details" notification.model.id %}">VIEW SCREENING REQUEST</a>
                        {% endif %}
                        <br />
                        {% if notification.role == 'RECEIVER' %} TO REPLY: {% endif %}
                    <a href="{% url "view-conversation" notification.conversation.id %}">VIEW CONVERSATION</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% empty %}
    <p>You have no notifications.</p>
{% endfor %}
</div>

<script type="text/javascript">
    $(window).ready(function(){
        $("#accordion-container").accordion({
            collapsible: true,
            active: false,
            animated: false,
            change: function(event, ui){
                var notification_id = $(ui.newHeader).attr('data-notification-id')
                $.post('{% url "mark-notification-as-read" %}', {'pk':notification_id},
                    function(data){
                        $(ui.newHeader).removeClass('unread');
                    }
                );
            }
        });
    });
</script>
