<div style="height: 6em; padding: 5px; border: 1px dotted gray; margin-bottom: 10px">
    <table>
        <tr>
            <td style="height: 33%"></td>
            <td>{{ notification.sent_on }}</td>
        </tr>
        <tr>
            <td style="height: 33%">{{ notification.summary }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="height: 33%"></td>
            <td></td>
        </tr>
    </table>
</div>
