{% for screening in screenings %}
<h2>
{% if screening.is_published %}
<a href="{% url "screening-page" screening.id %}">{{ screening.film.title}} <span style="font-weight:900">@</span> {{ screening.venue.name}}</a><br />
{% else %}
<a href="{% url "screening-details" screening.id %}">{{ screening.film.title}} <span style="font-weight:900">@</span> {{ screening.venue.name}}</a><br />
{% endif %}
</h2>    
{% endfor %}
