{% extends "emails/email_base.html" %}
{% block content %}
<p style="margin: 1em 0; font-size: 1.333em">
    <br />
    {{ film_owner }} has accepted your request to download <a href="{{ film_page_url }}" style="text-decoration: none !important; color: #000 !important; font-weight: 900 !important; text-transform: uppercase">{{ film }}</a>! You can download this film by clicking DOWNLOAD on the film's profile page (coincidentally, the same place you requested permission to download this film in the first place).
</p>
<br />
<br />
<p class="link" style="margin: 1em 0; font-weight: 100 !important; font-family: Source Code Pro, monospace; line-height: 1 !important">
    <a href="{{ film_page_url }}" style="font-size: 2.3333em; text-decoration: none !important; color: #000 !important">
        <span style="color: #F99 !important">+</span>DOWNLOAD NOW
    </a>
</p>
{% endblock %}
