{% extends "emails/email_base.html" %}
{% block content %}
<p style="margin: 1em 0; font-size: 1.333em">
    <br />
    {{ requester_info }} would like to download <a href="{{ film_url }}" style="text-decoration: none !important; color: #000 !important; font-weight: 900 !important; text-transform: uppercase">{{ film }}</a>. Grant permission?
</p>
<br />
<br />
<p class="link" style="margin: 1em 0; font-weight: 100 !important; font-family: Source Code Pro, monospace; line-height: 1 !important">
    <a href="{{ accept_down_req_url }}" style="font-size: 2.3333em; text-decoration: none !important; color: #000 !important">  <span style="color: #F99 !important">+</span>DOWNLOAD IT!
    </a>
    <br />
    <br />
    <br />
    <a href="{{ decline_down_req_url }}" style="font-size: 2.3333em; text-decoration: none !important; color: #000 !important">
        <span style="color: #F99 !important">+</span>NO!!!
    </a>
</p>
{% endblock %}
