<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Your Message Subject or Title</title>
    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300);
        @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700);
        /* Based on The MailChimp Reset INLINE: Yes. */
        /* Client-specific Styles */
        #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
        body {
            width:100% !important;
             -webkit-text-size-adjust:100%;
             -ms-text-size-adjust:100%;
             margin:0;
             padding:0;
         }
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/
        .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
        /* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
        #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
        /* End reset */

        /* Some sensible defaults for images
        Bring inline: Yes. */
        img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
        a img {border:none;}
        .image_fix {display:block;}

        /* Yahoo paragraph fix
        Bring inline: Yes. */
        p {margin: 1em 0;}

        /* Outlook 07, 10 Padding issue fix
        Bring inline: No.*/
        table td {border-collapse: collapse;}

        /* Remove spacing around Outlook 07, 10 tables
        Bring inline: Yes */
        table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }

    </style>

    <!-- Targeting Windows Mobile -->
    <!--[if IEMobile 7]>
    <style type="text/css">

    </style>
    <![endif]-->

    <!-- ***********************************************
    ****************************************************
    END MOBILE TARGETING
    ****************************************************
    ************************************************ -->

    <!--[if gte mso 9]>
        <style>
        /* Target Outlook 2007 and 2010 */
        </style>
    <![endif]-->
</head>
<body>
<!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
<table cellpadding="10px" cellspacing="0" border="0" id="backgroundTable" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; ">
    <tr>
        <td valign="top">
        <!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->
        <table cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
                <td width="100%" valign="top" style="font-family: Source Sans Pro, sans-serif; line-height: 1.5 !important">
                    <br />
                    <p style="margin: 1em 0; font-size: 4.25em; line-height: 1 !important; font-family: Source Code Pro, monospace; font-weight: 100 !important"><a href="http://smplmchn.com" style="color: #000 !important; text-decoration: none !important">SIMPLE MACHINE</a></p>
                    <br />
                    {% block content %}{% endblock %}
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
        </table>

        <!-- End example table -->

        <!-- Yahoo Link color fix updated: Simply bring your link styling inline.
        <a href="http://htmlemailboilerplate.com" target ="_blank" title="Styling Links" style="color: orange; text-decoration: none;">Coloring Links appropriately</a>-->

        <!-- Gmail/Hotmail image display fix
        <img class="image_fix" src="full path to image" alt="Your alt text" title="Your title text" width="x" height="x" />
        -->
        <!-- Working with telephone numbers (including sms prompts).  Use the "mobile" class to style appropriately in desktop clients
        versus mobile clients.
        <span class="mobile_link">123-456-7890</span>
         -->
        </td>
    </tr>
</table>
<!-- End of wrapper table -->
</body>
</html>
