{% extends "emails/email_base.html" %}
{% load tz %}
{% block content %}
<p style="margin: 1em 0; font-size: 1.333em">
    <br />
    Dear {{ film_owner }},
</p>
<br />
<p style="margin: 1em 0; font-size: 1.333em">{{ payer }} has paid you ${{ amount }} for film <a href="{{ film_url }}" style="text-decoration: none !important; color: #000 !important; font-weight: 900 !important; text-transform: uppercase">{{ film }}</a>!</p>
<br />
<br />
{{ profit_info }}
<br />
<p class="link" style="margin: 1em 0; font-weight: 100 !important; font-family: Source Code Pro, monospace; line-height: 1 !important">
    <a href="{{ conversation_url }}" style="font-size: 2.3333em; text-decoration: none !important; color: #000 !important">
        <span style="color: #F99 !important">+</span>VIEW CONVERSATION
    </a>
</p>
{% endblock %}
