{% extends "emails/email_base.html" %}
{% block content %}
<p style="margin: 1em 0; font-size: 1.333em">
    <br />
    {{ receiver_name }}, you have recieved a message from {{ from_user }} (you can respond by replying directly to this email):
</p>
<br />
<p style="margin: 1em 0; font-size: 1.333em">{{ message_text|safe }}</p>
<br />
<br />
<p class="link" style="margin: 1em 0; font-weight: 100 !important; font-family: Source Code Pro, monospace; line-height: 1 !important">
    <a href="{{ base_url }}/notifications/conversation/{{ conversation_id}}" style="font-size: 2.3333em; text-decoration: none !important; color: #000 !important">
        <span style="color: #F99 !important">+</span>VIEW CONVERSATION
    </a>
</p>
{% endblock %}