{% extends "emails/email_base.html" %}
{% block content %}
<p style="margin: 1em 0; font-size: 1.333em">
    <br />
    We weren't able to send your message, because the email address you used to send this message, {{ to_email }}, isn't linked to your Simple Machine account. Please, send messages from your registered email address.
</p>
<br />
{% endblock %}