{% extends "emails/email_base.html" %}
{% block content %}
<p style="margin: 1em 0; font-size: 1.333em">
    <br />
    Please click below to recover your password.
</p>
<br />
<br />
<p class="link" style="margin: 1em 0; font-weight: 100 !important; font-family: Source Code Pro, monospace; line-height: 1 !important">
    <a href="{{ base_url }}{% url "account_password_recovery_end" code=code %}" style="font-size: 2.3333em; text-decoration: none !important; color: #000 !important">
    <span style="color: #F99 !important">+</span>RECOVER PASSWORD
    </a>
</p>
{% endblock %}