{% extends "emails/email_base.html" %}
{% block content %}
<p style="margin: 1em 0; font-size: 1.333em">
    <br />
    {{ requester_info }} would like to watch <a href="{{ film_url }}" style="text-decoration: none !important; color: #000 !important; font-weight: 900 !important; text-transform: uppercase">{{ film }}</a>.  If you accept this request, we will provide {{ conversation.is_with.get_profile.name }} with the Vimeo link and password associated with your film. Do you accept?
</p>
<br />
<br />
<p class="link" style="margin: 1em 0; font-weight: 100 !important; font-family: Source Code Pro, monospace; line-height: 1 !important">
    <a href="{{ accept_prev_req_url }}" style="font-size: 2.3333em; text-decoration: none !important; color: #000 !important">  <span style="color: #F99 !important">+</span>YEA!
    </a>
    <br />
    <br />
    <br />
    <a href="{{ decline_prev_req_url }}" style="font-size: 2.3333em; text-decoration: none !important; color: #000 !important">
        <span style="color: #F99 !important">+</span>NO!!!
    </a>
</p>
{% endblock %}