{% extends "emails/email_base.html" %}
{% load tz %}
{% block content %}
<p style="margin: 1em 0; font-size: 1.333em">
	<br />
	Dear {{ venue_owner }},
</p>
<br />
<p style="margin: 1em 0; font-size: 1.333em">You still have not submitted your report for the screening of <a href="{{ film_url }}" style="text-decoration: none !important; color: #000 !important; font-weight: 900 !important; text-transform: uppercase">{{ film }}</a> at <a href="{{ venue_url }}" style="text-decoration: none !important; color: #000 !important; font-weight: 900 !important; text-transform: uppercase">{{ venue }}</a> on {{ screening_date_of_first_event|timezone:venue_timezone }}! Please do so ASAP.</p>
<br />
<br />
<p class="link" style="margin: 1em 0; font-weight: 100 !important; font-family: Source Code Pro, monospace; line-height: 1 !important">
	<a href="{{ conversation_url }}" style="font-size: 2.3333em; text-decoration: none !important; color: #000 !important">
		<span style="color: #F99 !important">+</span>SUBMIT REPORT
	</a>
</p>
{% endblock %}