{% extends "base.html" %}

{% block content %}

{% block menu %}


<nav class="dash">
    <a href="{% url "account_login_info" %}">BASIC INFO</a>
    <a href="{% url "show-payment-settings" %}">PAYMENTS</a>
    <!--<a href="{% url "account_eventbrite" %}">EVENTBRITE</a> -- DISABLED FOR NOW -->
    <!--<a href="{% url "account-vimeo" %}">VIMEO</a> -- DISABLED FOR NOW -->
    <a href="{% url "account_transaction_history" %}" style="display:none">TRANSACTION HISTORY</a>
    <a href="{% url "account_emails" %}">EMAIL</a>
    <a href="{% url "account_help" %}">HELP</a>
    <a href="{% url "auth_logout" %}">LOG OUT</a>
</nav>

{% endblock %}
    <div class="acc-page-content">
        {% block bellow_menu %}
        {% endblock %}
    </div>

{% endblock %}
