{% extends "account/base.html" %}

{% block bellow_menu %}

<div id="pq--email-settings">
    <h2>EMAIL NOTIFICATIONS</h2>
    <p>I would like to receive email notifications for:</p>

    <div class="control-group" style="margin-top: 2em">
        <h3 style="margin-top: 0em">MESSAGE RECEIVED</h3>
        <button id="message-received-yes" class="toggle-yes change-account-settings" type="button">YES!</button>
        <button id="message-received-no" class="toggle-no change-account-settings" type="button">NO!</button>
    </div>

    <div class="control-group" style="margin-top: 2em">
        <h3 style="margin-top: 0em">PREVIEW REQUESTS</h3>
        <button id="preview-request-yes" class="toggle-yes change-account-settings" type="button">YES!</button>
        <button id="preview-request-no" class="toggle-no change-account-settings" type="button">NO!</button>
    </div>

    <div class="control-group" style="margin-top: 2em">
        <h3 style="margin-top: 0em">DOWNLOAD REQUESTS</h3>
        <button id="download-request-yes" class="toggle-yes change-account-settings" type="button">YES!</button>
        <button id="download-request-no" class="toggle-no change-account-settings" type="button">NO!</button>
    </div>

    {% for email_list in email_lists %}
    <div class="control-group" style="margin-top: 2em">
        <h3 style="margin-top: 0em">{{ email_list.name|upper }}</h3>
        <button class="toggle-yes change-email-list-settings" data-id="{{ email_list.pk }}" type="button">YES!</button>
        <button class="toggle-no change-email-list-settings" data-id="{{ email_list.pk }}" type="button">NO!</button>
        <span class="spinner-box"></span>
    </div>
    {% endfor %}

</div>

{% endblock %}

{% block extra_js %}

<script type="text/javascript">
    $(window).ready(function(){
        {% if request.user.get_profile.message_received_email %}
            $("#message-received-yes").addClass("active");
        {% else %}
            $("#message-received-no").addClass("active");
        {% endif %}

        {% if request.user.get_profile.preview_request_email %}
            $("#preview-request-yes").addClass("active");
        {% else %}
            $("#preview-request-no").addClass("active");
        {% endif %}

        {% if request.user.get_profile.download_request_email %}
            $("#download-request-yes").addClass("active");
        {% else %}
            $("#download-request-no").addClass("active");
        {% endif %}

        {% for email_list in email_lists %}
            {% if email_list in request.user.email_lists.all %}
            $(".toggle-yes.change-email-list-settings[data-id='{{ email_list.pk }}']").addClass("active");
            {% else %}
            $(".toggle-no.change-email-list-settings[data-id='{{ email_list.pk }}']").addClass("active");
            {% endif %}
        {% endfor %}

        $(".change-account-settings").on("click", function(e){
            e.preventDefault();
            var settings_type = $(this).attr('id');
            $.ajax({
                type: 'post',
                url: '/account/emails/' + settings_type + '/',
                success: function(response) {
                    $(e.currentTarget).addClass('active');
                    $(e.currentTarget).siblings('button').removeClass('active');
                }
            });
        });

        $(".change-email-list-settings").on("click", function(e){
            e.preventDefault();
            var email_list_id = $(this).attr('data-id');
            var type = ($(this).hasClass('toggle-yes') ? 'subscribe' : 'unsubscribe');
            SM.addSpinner($(this).siblings("span.spinner-box"));
            var that = this;
            $.ajax({
                type: 'post',
                url: '/account/email_list/' + email_list_id + '/' + type + '/',
                success: function(response) {
                    $(e.currentTarget).addClass('active');
                    $(e.currentTarget).siblings('button').removeClass('active');
                    $(that).siblings("span.spinner-box").html('');
                }
            });
        });

    });
</script>

{% endblock %}
