{% extends "account/base.html" %}

{% block bellow_menu %}
<div id="pg--login-info">    
    <h2>NAME</h2>
    <div class="change-name">
        <p class="current">Your current name is {{ user.get_profile.name }}</p>
        {% include 'account/partials/_change_name_form.html' with form=change_name_form only %}
    </div>
    
    <h2>PASSWORD</h2>
    <div class="change-password">
        {% include 'account/partials/_change_pwd_form.html' with form=change_pwd_form only %}
    </div>
    
    <h2>EMAIL</h2>
    <div class="change-email">
        <p class="current">Your current email is {{ user.email }}</p>
            {% include 'account/partials/_change_email_form.html' with form=change_email_form only %}
    </div>
</div>

{% endblock %}
