{% extends "account/base.html" %}

{% block bellow_menu %}

    <div class="row-fluid">
        <div class="span12">
            <table style="width: 100%">
                {% for film in my_active_films %}
                    <tr class="account_title" style="margin-top: 40px; line-height: 1.2em">
                        <td style="text-align: left; width: 60%; font-weight: 300"><a href="{% url "film-details" film.id %}{{ film.title|slugify }}">{{ film.title|upper }}</a></td>
                        <td style="width:5%"></td>
                        <td style="text-align: left; width: 10%; font-weight: 900"><a href="{% url "edit-film" film.id %}">EDIT</a></td>
                        <td style="text-align: left; font-weight: 900; padding-left: 2%"><a href="{% url "delete-film" film.id %}" class="delete">DELETE</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}


{% block extra_js %}

<script type="text/javascript">
    $(window).ready(function(){
        $("a.delete").on("click", function(e){
            return confirm("Are you sure you want to delete this film?");
        });
    });
</script>

{% endblock %}
