{% extends "account/base.html" %}

{% block bellow_menu %}

    <div class="row-fluid">
        <div class="span12">
            <table style="width: 100%">
                {% for venue in my_active_venues %}
                    <tr class="account_title" style="margin-top: 40px; line-height: 1.2em">
                        <td style="text-align: left; width: 60%; font-weight: 300"><a href="{% url "venue-details" venue.id %}{{ venue.name|slugify }}">{{ venue.name|upper }}</a></a></td>
                        <td style="width:5%"></td>
                        <td style="text-align: left; width: 10%; font-weight: 900"><a href="{% url "edit-venue" venue.id %}">EDIT</a></td>
                        <td style="text-align: left; font-weight: 900; padding-left: 2%"><a href="{% url "delete-venue" venue.id %}" class="delete">DELETE</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}


{% block extra_js %}

<script type="text/javascript">
    $(window).ready(function(){
        $("a.delete").on("click", function(e){
            return confirm("Are you sure you want to delete this venue?");
        });
    });
</script>

{% endblock %}
