{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="pg--pass-recovery-start">
<div class="page-title">
    <h1>PASSWORD RECOVERY</h1>
</div>
    <form action="{% url "account_password_recovery_start" %}" method="post">
        {% csrf_token %}
        <p class="error">{{ form.errors.email|first }}</p>
        <p>{{ form.email }}</p>
        <button>RECOVER PASSWORD</button>
    </form>
</div>
{% endblock %}
