{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div id="pg--pass-recovery-end">
<div class="page-title">
    <h1>PASSWORD RECOVERY</h1>
</div>

<form action="{% url "account_password_recovery_end" code=code %}" method="post">
    {% csrf_token %}
        <p class="lead error" >{{ form.errors.new_password|first }}</p>
        {{ form.new_password }}

        <p class="lead error">{{ form.errors.new_password_rpt|first }}</p>
        {{ form.new_password_rpt }}

        <button>CHANGE PASSWORD</button>

</form>
</div>
{% endblock %}
