{% extends "account/base.html" %}
{% load common_tags %}

{% block bellow_menu %}

<div>
        <h2> PAYPAL INFORMATION </h2>
        <p> Enter the email associated with your paypal account here. That's all we need!</p>
        <form method="post" action="." id="paypal-email-form">
            {% csrf_token %}
            {% render_form form %}
            <button>SAVE</button>
        </form>
</div>
    
{% endblock %}


{% block extra_js %}


{% endblock %}
       

	
