{% extends "account/base.html" %}
{% load common_tags %}

{% block bellow_menu %}

<div>
    <h2> PAYPAL INFORMATION </h2>
    {% if email %}
    <p>You will send/recieve payments from the Paypal account associated with the following email address:</p>
    <p class="current">{{ email }}</p>
    <p class="button"><a href="{% url "change-payment-settings" %}">EDIT/CHANGE</a></p>
    {% else %}
    <p>PayPal provides an easy way to send and recieve screening fees. You do not need to send or accept payments through Simple Machine, but if you do want to, you will need to enter your PayPal email here. </p>
    <p class="button"><a href="{% url "change-payment-settings" %}">ADD PAYPAL EMAIL</a></p>
    {% endif %}
</div>


{% endblock %}
