{% extends "base.html" %}


{% block content %}

<div class="row" style="margin-top: 70px">
    <div class="span4 offset4">
        <p style="text-align: center">You requested a page that does not exist. You will be redirected to <a href="{% url "home" %}">home page</a> in 3 seconds...
    </div>
</div>

{% endblock %}


{% block extra_js %}

<script type="text/javascript">
    $(window).ready(function(){
        setTimeout(function(){
            window.location = "{% url "home" %}";
        }, 3000);
    });
</script>

{% endblock %}
