    {% if img %}
        {% if edit %}
        <div id="uploaded-image">
            <img id='profile_image' src='{{ img }}'/>
        </div>
        {% else %}
        <div id="uploaded-image">
            <img id='profile_image' src='/media/tmp/{{ img }}'/>
        </div>
        {% endif %}
    {% else %}
        <div id="uploaded-image">
        </div>
    {% endif %}
    <div id="uploader-info" {% if not img %} style="" {% endif %}>
            <div class="fileinput-button">
            <button id="upload-button" type="button"><span class="upload-button">+ UPLOAD HEADER IMAGE</span></button>
            <input id="fileupload" type="file" name="file" data-url="/file/tmp_upload/"/>
            </div>
        <div id="progress" style="width: 80%; display: none; margin: 0 auto; margin-top: 10px; margin-bottom: 0px;" class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
