{% load staticfiles %}
{% load compress %}
{% load django_select2_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <title>{% block title_outer %}{% block title %}{% endblock %} | Simple Machine{% endblock %}</title>

        <meta name="description" content="{% block metadesc %}{% endblock %}" />

        {% compress css %}
        <link rel="stylesheet" href="{% static "datepicker/datepicker.css" %}">
        <link rel="stylesheet" href="{% static "jcrop/css/jquery.Jcrop.min.css" %}">
        <link rel="stylesheet" href="{% static "fileupload/css/jquery.fileupload-ui.css" %}">
        <link rel="stylesheet" href="{% static "select2/select2.css" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "scss/global.scss" %}">
        {% endcompress %}
        <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:200,300' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,700' rel='stylesheet' type='text/css'>

        {% block extracss %}{% endblock %}

        {% compress js %}
        <script type="text/javascript" src="{% static "js/jquery-1.8.2.min.js" %}"></script>
        {% endcompress %}

        <!-- IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="{% static "favicon.ico" %}">
        {% block extra_head %}{% endblock %}

        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38248396-1']);
            _gaq.push(['_setDomainName', 'smplmchn.com']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <!-- start Mixpanel -->
        <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
            typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
            b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
        mixpanel.init("{{ MIXPANEL_TOKEN }}");</script>
        <!-- end Mixpanel -->
    </head>

    <body>
        {% include "messages.html" %}
        <div class="container">
        {% include "sidebar.html" %}
        {% include "header.html" %}
        {% block content %}{% endblock %}
        </div>
        </div>
        </div> <!-- added two extra closing div tags to fix sticky footer on search-results. No idea why it worked. -->
        <div style="clear:both"></div>

        <nav id="footer" {% if home_anon %} class="anon" {% endif %}> <!-- hack because home-anon has its own footer -->
            {% if user.is_authenticated %}
            <a href="{% url "auth_logout" %}">LOG OUT</a>
            {% else %}
            <a href="{% url "login" %}">LOG IN</a>
            {% endif %}
            <a href="{% url "contact" %}">CONTACT</a>
            <a href="http://medium.com/@smplmchn" target="_blank">MEDIUM</a>
            <a href="{% url "developer" %}">API</a>
            <a href="{% url "grants" %}">GRANTS</a>
            <a href="{% url "what_it_is" %}">WHAT IT IS?</a>
        </nav>
        {% compress js %}
        <script src="{% static "js/jquery-ui-1.9.2.custom.min.js" %}"></script><!-- used for accordion -->
        <script src="{% static "js/jquery.cookie.js" %}"></script>
        <script src="{% static "js/csrf_post_hook.js" %}"></script>
        <script src="{% static "js/underscore-min.js" %}"></script>
        <script src="{% static "js/file_upload_with_crop.js" %}"></script>
        <script src="{% static "js/file_size_formatter.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "jcrop/js/jquery.Jcrop.min.js" %}"></script>
        <script src="{% static "fileupload/js/vendor/jquery.ui.widget.js" %}"></script>
        <script src="{% static "fileupload/js/jquery.fileupload.js" %}"></script>
        <script src="{% static "fileupload/js/jquery.fileupload-process.js" %}"></script>
        <script src="{% static "fileupload/js/jquery.fileupload-validate.js" %}"></script>
        <script src="{% static "select2/select2.js" %}"></script>
        <script src="{% static "js/modernizr.js" %}"></script>
        <script src="{% static "js/moment.min.js" %}"></script>
        <script src="{% static "js/sm.js" %}"></script>
        <script src="{% static "datepicker/bootstrap-datepicker.js" %}"></script>
        <script src="{% static "jQuery.mmenu-master/src/js/jquery.mmenu.min.js" %}"></script>
        <script src="{% static "js/ie_placeholder.js" %}"></script>
        <script src="{% static "js/submit_form_spinner.js" %}"></script>
        <script src="{% static "js/sidebar.js" %}"></script>
        {% endcompress %}
        {% block extra_js %}{% endblock %}
        {% block extra_body %}{% endblock %}
    </body>
</html>
