{% extends "base.html" %}

{% block title %}Contact{% endblock %}
{% block metadesc %}Contact us, we'd love to hear from you!{% endblock %}

{% block content %}

</div>
<div id="pg--contact">
<div class="hero">
	<h1>MACHINE<span>[at]</span>SMPLMCHN.COM</h1>
    <p>+1.541.979.9714 </p>
</div>

<div class="basic-info">

<div>
<br/><br />
This is new. We're excited about it and would love to talk to you about everything we're doing, should be doing, could be doing, and aren't doing. <br/><br />

If you're a user and have any questions or concerns, you can write to us by messaging SIMPLE MACHINE (found under CONVERSATIONS on your home page) that comes right to our inbox. Or, if you prefer, you can always reach us via the information above. <br/><br />

We're also always looking for usability testers. If you've got some time to kill and are looking for earn a few bucks let us know - we'll record your screen and video-chat with you for an hour. <br/><br />
</div>

</div>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        $(window).ready(function(){
            mixpanel.track("contact page shown");
        });
    </script>
{% endblock %}
