{% extends "base.html" %}

{% block title %}Grants{% endblock %}
{% block metadesc %}{% endblock %}

{% block content %}

<div id="pg--grants">

<div class="page-title">
    <h1>GRANTS</h1>
</div>

<div class="faq">

<p>We are offering a $1,000 grant, every quarter, four times per year, to anyone who wants to throw a small, cheap, and innovative film festival. Read about our past winners and all previously submitted ideas <a href="https://medium.com/micro-festival-ideas" target="_blank">here</a>.</p>


<h2>What do you need to know?</h2>

<p>Just pitch us an idea; we're open to anything. Sell us on specific films or a process, on an audience or a space, on the reach or the intimacy, on the ambition or the simplicity. But be considerate; make sure it won’t take us more than 10 minutes to understand your concept. </p>

<h2>What are you actually looking for?</h2>

<p>We're looking to be surprised. That being said, we care about films, and we're probably going to be most hyped if you show that you will be assembling and exhibiting valuable films that impress, endear, offend, disgust, or for whatever reason, should be watched. But we could be wrong; we might find ourselves most excited about your setting, your name, your appetizers, or something else entirely.</p>

<h2>Do I need to use Simple Machine? </h2>

<p>No. </p>

<h2>Does this need to be a physical event?</h2>

<p>Yes.</p>

<h2>Do I need to spend all $1,000 on this film festival?</h2>

<p>We don't care how you spend your money. You get $1,000, we get a world with one more artistically valuable event. That's the deal.</p>

<h2>Can I spend more than $1,000 on this film festival? </h2>

<p>That would defeat our intention in offering this grant, but we won't ever know how much you actually spend.</p>

<h2>I work for a small film festival, and we could really use another $1,000 to do what we do. Should I apply?</h2>

<p>No. </p>

<h2>I work for a small film festival, and we would love to hold a separate, small, self-sufficient event for less than $1,000. Should I apply? </h2>

<p>Yes. </p>

<h2>Is this an international offer? </h2>

<p>Yes. Worldwide. </p>

<h2>Is there a deadline? </h2>

<p>April 15th </p>

<h2>How do I apply?</h2>

<p>Create a story on Medium describing your festival and submit it to our <a href="https://medium.com/micro-festival-ideas" target="_blank">Micro-Festival Ideas</a> collection. No idea is ever too old, and we promise we will never ask you to re-submit again; once a pitch is in the Micro-Festival Ideas collection, you're automatically eligible for all future grants. This collection will serve as a permanent home for your festival ideas, where they can be discussed, shared, and modified continually in a public forum.  </p>


</div>

</div>

{% endblock %}


{% block extra_js %}
{% endblock %}
