{% load staticfiles %}

<nav class="main">
{% if user.is_authenticated %}
        {% if home_page or '/account/' in request.path %}
            <a href="/">DASH</a>
            {% if '/' in request.path or '/account/' in request.path  %}
            <a href="{% url "account" %}" {% if '/account/' in request.path %}class="active"{% endif %}>ACCOUNT</a>
            {% endif %}
            <a href="{% url "search" %}">SEARCH</a>
            <a href="#" class="sidebar-menu">BROWSE<span class="filter-mark">*</span></a>
            
        {% else %}
            <a href="/">HOME</a>
            <a href="{% url "search" %}">SEARCH</a>
            <a href="#" class="sidebar-menu">BROWSE<span class="filter-mark">*</span></a>            
        {% endif %}
{% else %}
    {% if home_page  %}
        <a href="{% url "login" %}">LOG IN</a>
        <a href="{% url "register" %}">REGISTER</a>
    {% else %}
        <a href="/" class="sm">HOME</a>
        <a href="{% url "login" %}">LOG IN</a>
        <a href="{% url "register" %}">REGISTER</a>
        <a href="{% url "search" %}">SEARCH</a>
        <a href="#" class="sidebar-menu">BROWSE<span class="filter-mark">*</span></a>
    {% endif %}
{% endif %}
</nav>

<script type="text/javascript">
    $(window).ready(function(){
        $.each($("nav a"), function(index,el){
            if ($(el).attr("href") == window.location.pathname) {
                $(el).addClass("active");
            }
        })
    })
</script>
