{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block metadesc %}Simple Machine is a peer-to-peer marketplace that allows anyone to become a theater and anyone to list a film to be shown{% endblock %}



{% block content %}
</div>
<div id="pg--home-anon">

<div class="logo">SIMPLE MACHINE </div>

<div class="splash-links">
    <a href="#" class="sidebar-menu">FIND A FILM</a>
    <a href="{% url "register" %}">LIST A FILM</a>
</div>

<div class="whatitis">
    {% include "partials/_faq.html" %}

    <div class="splash-links-2">
        <a href="#" class="sidebar-menu">FIND A FILM</a>
        <a href="{% url "register" %}">LIST A FILM</a>
    </div>
    <nav id="footer">
            <a href="{% url "login" %}">LOG IN</a>
            <a href="{% url "contact" %}">CONTACT</a>
            <a href="http://medium.com/@smplmchn" target="_blank">MEDIUM</a>
            <a href="{% url "developer" %}">API</a>
            <a href="{% url "grants" %}">GRANTS</a>
    </nav>
</div>



</div>

<script type="text/javascript">
    $(document).ready(function () {
        mixpanel.track("landing page shown");
        $("form#new-curation input[name='title']").focus()
    });


</script>

{% endblock %}
