{% extends "base.html" %}

{% load tz %}

{% block title %}Home{% endblock %}
{% block metadesc %}Simple Machine is a peer-to-peer marketplace that allows anyone to become a theater and anyone to list a film to be shown{% endblock %}

{% block content %}


<div id="pg_home">


<!-- Dashboard -->

<nav class="dash">
    <a href="#my-films">FILMS</a>
    <!--<a href="#my-venues">EXHIBITIONS</a>-->
    <a href="#my-curations">LISTS</a>
    <!--<a href="#my-screenings">SCREENINGS</a>-->
    <a href="#my-conversations" class="active">CONVERSATIONS</a>
</nav>


    <div class="dashboard">
        <div id="my-films" style="display: none">
            <a href="{% url "add-film" %}" class="add-new">CREATE FILM</a><br />
            <ul>
                {% for film in films %}
                    <li>
                    <a href="{% url "film-details" film.id %}{{ film.title|slugify }}">{{ film.title }}{% if not film.is_public %}<span>   (private)</span>{% endif %}</a>
                    <a class="item-edit" href="{% url "edit-film" film.id %}">EDIT</a>
                    <br />
                    </li>
                {% empty %}
                <p class="help">Here you will see all the films that you have listed on Simple Machine. To list a new film, click above. You can choose to keep your film private if you are not ready for it to be found on this site.  </p>
                {% endfor %}
            </ul>
        </div>

        <div id="my-venues" style="display: none">
           <a href="{% url "add-venue" %}" class="add-new">CREATE EXHIBITION</a><br />
            <ul>
                {% for venue in venues %}
                    <li>
                    <a href="{% url "venue-details" venue.id %}{{ venue.name|slugify }}">{{ venue.name }}</a>
                    <a class="item-edit" href="{% url "edit-venue" venue.id %}">EDIT</a>
                    </li>
                 {% empty %}
                <p class="help">Here you will see all the exhibitions that you have created. Create an exhibition profile to show everyone how beautiful your space is, to tell everyone about your festival, or to create sharable event pages for your screenings. If you run a film festival that is already in our system, please contact us and we will give you control over that page! </p>
                {% endfor %}
            </ul>
        </div>

        <div id="my-curations" style="display: none">
            <a href="{% url "add-curation" %}" class="add-new">CREATE LIST</a><br />
            <ul>
                {% for curation in curations %}
                <li>
                <a href="{% url "curation-details" curation.id %}">{{ curation.title }}{% if not curation.is_public %}<span> (private)</span>{% endif %}</a>
                <a class="item-edit" href="{% url "edit-curation" curation.id %}">EDIT</a>
                </li>
                {% empty %}
                <p class="help">Here you will see all the lists you have made. Make private lists to organize films you want to remember, or public lists to share your curatorial work.</p>
                {% endfor %}
            </ul>
       </div>
        <!--
        <div id="my-screenings" style="display: none">
            <a href="{% url "add-screening" %}" class="add-new">CREATE SCREENING</a><br />
            <ul>
                {% for screening in screenings %}
                    <li>
                    <a href="{% url "screening-details" screening.id %}">
                        {{ screening.film.title}}
                        <span></span>
                        {{ screening.venue.name}}
                        <span></span>
                        {{ screening.schedule.all.0.time|timezone:screening.venue.timezone|date:"M d, Y" }}
                    </a>
                    </li>
                 {% empty %}
                <p class="help">Here you will see all the events you are involved in, both screenings of your own films, and screenings that you are hosting at your venues.   </p>
                {% endfor %}
            </ul>
        </div>
        -->
        <div id="my-conversations" class="active">
            <ul>
             {% for conversation in conversations %}
            <li>
            <a style="{% if conversation.is_unread %}font-weight: 700 {% endif %}" href="{% url "view-conversation" conversation.id %}">{{ conversation.is_with.userprofile.name }}{% if conversation.topic %} <span>({{ conversation.topic }})</span>{% endif %}</a><br />
            </li>
            {% endfor %}
            {% if conversations|length == 1 %}
            <p class="help">Here you will see all conversations you had with other users.</p>
            {% endif %}
            </ul>
        </div>

    </div>
</div>

</div>


{% endblock %}


{% block extra_js %}

<script type="text/javascript">
    $(document).ready(function () {
        $("nav.dash a").on("click", function(e){
            e.stopPropagation();
            e.preventDefault();
            var current_el = $(this);
            $("nav.dash a").removeClass("active");
            current_el.addClass("active");
            $("div.dashboard div").hide();
            window.location.hash = current_el.attr('href');
            $(current_el.attr('href')).show();
            return false;
        });

        // Show user last opened part of menu
        if(window.location.hash) {
            $("a[href='" + window.location.hash + "']").click();
        }

        mixpanel.identify("{{ user.id }}");
        mixpanel.people.set({
            "Name": "{{ user.get_profile.name }}",
            "Signup date": "{{ user.date_joined }}",
            "Venue owner": "{% if user.get_profile.has_venue %}true{% else %}false{% endif %}",
            "Film owner": "{% if user.get_profile.has_film %}true{% else %}false{% endif %}",
            "$email": "{{ user.email }}",
            "$username": "{{ user.get_profile.name }}"
        });

        mixpanel.register({
            "user_id": "{% if user.is_authenticated %}{{ user.id }}{% else %}0{% endif %}",
            "Venue owner": "{% if user.is_authenticated and user.get_profile.has_venue %}true{% else %}false{% endif %}",
            "Film owner": "{% if user.is_authenticated and user.get_profile.has_film %}true{% else %}false{% endif %}"
        });

        mixpanel.track("home page shown");
    });

</script>

{% endblock %}
