<div class="message-container">
{% if messages %}
		{% for message in messages %}
		<div class="alert alert-block {% if 'success' in message.tags %}alert-success{% endif %} {% if 'error' in message.tags %}alert-error{% endif %} {% if 'info' in message.tags %}alert-info{% endif %}">
			<a class="close" data-dismiss="alert" href="#">×</a>
			{{ message }}
		</div>
		{% endfor %}
{% endif %}
</div>
