<nav id="pg--sidebar" style="display: none">
   <ul>
        <li class="load-filter-params">
                <h2>FILTER<span class="filter-mark">*</span></h2>
                <span class="length">
                    <div class="length-slider">
                        <p>Minutes:</p>
                            <input type="text" id="min" min="1" max="180" value="1" onkeyup="setNewValueToSession()" onchange="changeMin()" />
                            <span class="dash">-</span>
                            <input type="text" id="max" min="1" max="180" value="180" onkeyup="setNewValueToSession()" onchange="changeMax()" />
                        <div style="clear: both"></div>
                    </div>
                </span>
                <span class="year">
                    <div class="year-slider">
                        <p>Year:</p>
                            <input type="text" id="minYear" min="" max="" value="" onkeyup="setNewValueToSession()" onchange="changeMinYear()" />
                            <span class="dash">-</span>
                            <input type="text" id="maxYear" min="" max="" value="" onkeyup="setNewValueToSession()" onchange="changeMaxYear()" />
                        <div style="clear: both"></div>
                    </div>
                </span>
                <!--
            <span style="display: block">
                <span class="countries">
                    <p>Country: </p>
                    <a href="#" class="active active-country" data-id="all">ALL COUNTRIES</a>
                    <div style="clear: both"></div>
                    <span class="countries-placeholder" style="display: none"></span>
                </span>
            </span>
            -->
        </li>
        <p class="explanation"><button type="reset" class="reset" style="display: none" id="reset-filters-button"><span class="filter-mark">*</span> Filters are on! They apply to the entire site until reset. Click here to reset.</button></p>
        
        <h2>SHOW FILMS</h2>
        <li class="collections"><a href="{% url "browse" %}">BY COLLECTION</a></li>
        <li class="all-films"><a href="{% url "browse-all-films" %}">ALL FILMS (A-Z)</a></li>
   </ul>
</nav>

<script type="text/javascript">
    var load_filter_data_url = "{% url "load-filter-data" %}";
</script>
