{% extends "base.html" %}

{% block title %}What it is?{% endblock %}
{% block metadesc %}Simple Machine is a peer-to-peer marketplace that allows anyone to become a theater and anyone to list a film to be shown{% endblock %}


{% load staticfiles %}

{% block content %}

</div>
<div id="pg--whatitis">
<div class="intro">
What is Simple Machine<span>?</span>
</div>

<div class="whatitis">

{% include "partials/_faq.html" %}

<div class="splash-links-2">

<a href="{% url "browse" %}">FIND A FILM</a>
<a href="
         {% if user.is_authenticated %}
            {% url "add-film" %}
         {% else %}
             {% url "register" %}
        {% endif %}
">LIST A FILM</a>

</div>


</div>
<!--
<div class="drawing">
<img src="{% static "whatitis.png" %}" />
</div>


<div class="whatitis_container">
	
    
    <nav class="dash">
        <a href="#faq">FAQ</a>
        <a href="#how">HOW</a>
        <a href="#who">WHO</a>
        <a href="#what" class="active">WHAT</a>
    </nav>
    
    
    <div id="what">
        <h1>WHAT IT IS?</h1>
        <p>
        Simple Machine is a website dedicated to people showing movies to people. It allows anyone to create a film festival and it allows anyone to list a film to be shown.
        </p>
    </div>

    <div id="who">
        <h1>WHO IS IT FOR?</h1>
        <table>
        <tr>
            <td style="width: 40%">
                <h2 style="color: #666"> VENUE-OWNERS </h2>
                <p>This is you, although you might not know it yet. All you need is a photo of your space, a projector of sorts, an audience thirsty for good movies, and a love of sharing what you discover.</p>
            </td>
        
            <td style="width: 20%">
                <p style="text-align:center; font-size: 8em; line-height: 1; color: #999"> + </p>
            </td>
        
            <td style="width: 40%">
                <h2 style="text-align: right"> FILM-OWNERS	</h2>
                <p style="float:right; text-align: right">
                You probably know if this is you. You own the theatrical rights to a film, wholly or partially, permanently or temporarily, and you're supportive of creative and inventive programming and exhibiting.
                </p>
            </td>
        </tr>
        </table>
    </div>

    <div id="how" class="container2" style="margin: 0px auto 20px auto;">
        <h1>HOW DOES IT WORK?</h1>
        <div style="display: inline">
        <span class="xbig-title" style="color: #000;"> VENUE </span>
        </div>
    
        <div style="display: inline; float: right">
        <span class="xbig-title" style="color: #AAA;%"> FILM</span>
        </div>
    
        <table style="width: 100%">
        <tr style="height: 2em"></tr>
        <tr style="vertical-align: top">
        <td class="col_number">
        <p class="num venue">1</p>
        </td>
        <td class="col_main">
        <h2 style="color: #666"> FIND </h2>
        <p>Browse collections of films loved by trusted curators and find one you like. Not sure about a movie? Request permission to watch it first.</p>
        </td>
    
        <td class="gutter">
        </td>
    
        <td class="col_main" style="text-align: right">
            <h2> LIST </h2>
            <p>List your film: add a trailer and stills, list festivals attended and online reviews you like, even link a secure online screener from Vimeo.</p>
        </td>
        <td class="col_number">
            <p class="num film">1</p>
        </td>
        </tr>
        <tr style="height: 2em"></tr>
        <tr style="vertical-align: top">
        
        <td class="col_number">
            <p class="num venue">2</p>
        </td>
        <td class="col_main">
            <h2 style="color: #666"> BOOK </h2>
            <p>Set a date and make the film-owner an offer. Payment can be arranged as a flat fee, a percentage of sales, percentage of donations, or no payment at all. Anything can work, as long as it’s agreeable to both parties.</p>
        </td>
    
        <td class="gutter">
        </td>
    
        <td class="col_main" style="text-align: right">
            <h2> GET </h2>
            <p>Get screening requests from exhibitors, look at their terms, and write them back. If you approve the request, your film is getting screened! You can screen in any format, but we host high-quality digital files if you want to avoid a trip to the post office.</p>
        </td>
        
        <td class="col_number">
            <p class="num film">2</p>
        </td>
        
        </tr>
        </table>
    
        <div style="width: 100%; left: 0; position: absolute; text-align: center; margin-top: 4em">
            <h2 style="color: #999; line-height: 1;"> SCREEN </h2>
            <p>Awe the masses.</p>
            </div>
            <div>
            <p class="num big"> 3 </p>
        </div>
    
        <table style="width: 100%">
            <tr style="vertical-align: top; width: 100%">
            <td class="col_number">
            <p class="num venue">4</p>
            </td>
            <td class="col_main">
            <h2 style="color: #666"> REPORT </h2>
            <p>You are required to report promptly after each screening: tell the film-owner how the screening went, pay them their fair due, and share photos taken at the event.</p>
            </td>
        
            <td class="gutter">
            </td>
            
        
            <td class="col_main" style="text-align: right">
            <h2> REVIEW </h2>
            <p>Write a few words about your experience working with the venue—tell everyone that you got paid and and let other film-owners know if it was worth your time.</p>
            </td>
            <td class="col_number">
            <p class="num film">4</p>
            </td>
            </tr>
        </table>
    
        <div style="width: 100%; left: 0; position: absolute; text-align: center; margin-top: 4em">
        <h2 style="color: #999; line-height: 1;"> REPEAT </h2>
        <p>Again and again.</p>
        </div>
        
        <div>
        <p class="num big"> 5 </p>
        </div>
    </div>
    
    
    <div id="ready">
    <h1>READY?</h1>
    <a href="{% url "browse" %}">BROWSE FILMS</a> 
    </div>
        
    <div id="faq" class="faq">
        <h1>MORE QUESTIONS?</h1>
    
    <div class="venue-questions">
        <h2>I've never screened a movie and I don’t own a movie theater. Can I still screen movies? </h2>
        <p>Yes! That’s why we created Simple Machine. Go for it, and let us know how we can help.  </p>
        
        <h2>I program a movie theater or film festival already. Can I use Simple Machine?</h2>
        <p>Theaters and festivals of all shapes and sizes are 100% welcome to use Simple Machine. Use it to enhance your regular programming, to create special eventized screenings, to reach new audiences, or in any other way you can dream up!</p>
        
        <h2>What equipment do I need in order to screen a film, and how can I obtain that equipment?</h2>
        <p>You’ll need something to create an image (projector) and something to create sound (speakers). Ask around—someone in town is bound to have a projector—and don’t be afraid to get creative. You’ll probably also want a few chairs, couches, or a comfy rug or lawn.</p>
        
        <h2>How do I book a film?</h2>
        <p>To secure permission to screen a particular film, click “book” on the film’s page and fill out a quick screening request detailing where and when you’d like to screen, and how you’d like to compensate the film-owner. This request is then sent to the film-owners; if they approve, you’re good to go. </p>
        
        <h2>Can I watch a film before booking it?</h2>
        <p>Yes, click “watch” on the film’s page to send a preview request to the film-owner. If approved, you’ll receive a link and password to a secure online Vimeo screener. If you’d like to watch select films (who have opted-in) without needing to send a request, send us an email; you could be approved as a “verified venue.”</p>
        
        <h2>How much does it cost to screen a film?</h2>
        <p>Screening fees vary from event to event. It’s up to you to propose a payment arrangement, and up to the film-owner to approve or negotiate. You’ll be required to indicate your proposed compensation when booking a film, where you can choose between an “up-front” flat-fee or a “profit-share” of any amount or percentage that fits your event. If you really don't know what to offer, you can always send the film-owner a message.</p>
        
        <h2>What if I have zero dollars and really, really, REALLY want to screen a film?</h2>
        <p>When filling out your screening request, select “no profit” as your profit model and write a super compelling pitch in the event description box. </p>
        
        <h2>How can I promote my event? </h2>
        <p>Each screening is given an event page, which you can share on Facebook and any other network. The page includes a trailer of the film, reviews, a Disqus discussion board, and information about the upcoming event. What other tools do you need? Let us know—we want to help your events succeed.</p>
        
        <h2>Can I do a Q&A with the filmmaker after the screening?</h2>
        <p>Have you considered alternative methods of filmmaker-audience interaction? Each event has a sharable SM page with a Disqus board; the audience is encouraged to visit the page during/after the screening & leave questions for the filmmaker. If your heart is set on a live Q&A, please be considerate & offer adequate compensation for the filmmaker’s time. </p>
        
        <h2>Do I need to do anything after the screening? </h2>
        <p>Yes, venues must submit a report after each screening. This includes posting photos of the event, paying the film-owner, and reflecting on the success of the screening. </p>
    
        <h2>What are lists?</h2>
        <P>Lists are a great place to start if you want to book a film series or mini-festival and don't know which films to play! A list is a group of films that play well together and fit a common theme. Users can create private lists for personal reference, or public lists to inspire others. </p>
    
    </div>
    
    <div class="film-questions">
        <h2>Who can list a film on Simple Machine?</h2>
        <p>Anyone! If you have the theatrical rights to a film, you can list it.</p>
        
        <h2>Does Simple Machine take any rights away? What rights are involved?</h2>
        <p>You retain the rights to your films. Listing a film only requires theatrical rights, so even if you’ve given away your digital rights (including DVD, VOD, and streaming), you can still list your film for theatrical & festival viewing. If you only have theatrical rights in certain territories, you can list those regions under “availability.”
    </p>
        
        <h2>What if I’m hoping a distributor will buy the theatrical rights to my film? </h2>
        <p>You can still use Simple Machine to screen at film festivals! </p>
    
        <h2>My film is currently being submitted to festivals. How will SM affect my festival run? </h2>
        <p>It can only help! Your film’s Simple Machine page provides festivals with all the required info & materials, saving you the trouble of writing loads of emails and uploading attachments. Better yet, you’ll be making your film available to festival programmers looking for new product, thus opening up more screening opportunities. </p>
        
        <h2>Can I use Simple Machine as an EPK or in place of a traditional website?</h2>
        <p>Yes! Think of it as a LinkedIn for your film. Your film’s page is designed as an online EPK where you can add reviews, stills, festivals, a secure Vimeo screener, a QT exhibition file, a trailer, and more. If you don’t want your film listed publicly, you can make your page private, where it can only be viewed via a direct link. </p>
    
        <h2>$$$$$$$?</h2> 
        <p>Screening fees vary from event to event. The venue may propose a profit split or an up-front flat fee in any percentage or amount; exact figures will be included in the screening request. You may choose to accept, reject, or negotiate this figure. Occasionally, someone may ask to hold a screening on a non-profit or donations-based basis. </p>
        
        <h2>My film hasn’t had any screening requests yet. What can I do to change this?</h2> 
        <p>Read <a href="http://filmmakermagazine.com/71753-start-showing-movies-a-calltoarms/" style="font-weight: 700">THIS.</a> </p>
    </div>
    
    </div>
    
    <div id="comments">
    <h1>COMMENTS WELCOME.</h1>
	<p>machine [at] smplmchn.com</p>
    </div>

    </div>
    </div>
</div>
-->

{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        $(window).ready(function(){
            mixpanel.track("what it is page shown", {
                "user_id": "0"
            });
        });
    </script>
{% endblock %}
