{% load staticfiles %}

{% for venue in venues %}
<div class="venue-module">
    <img src='{{ venue.profile_image.url }}' style="width: 100%"/>
    <div class="venue-module-header">
        <p class="profile-title">{{ venue.name|upper }}</p>
    </div>
    <p class="subtitle" ><span>
        {% if venue.city %}
        {{ venue.city }} <span class="infotitles vbar"> // </span>
        {% endif %}
        {% if venue.state %}
        {{ venue.state }} <span class="infotitles vbar"> // </span>
        {% endif %}
        {{ venue.country }}
    </span></p>
</div>
<br />
{% empty %}
<p style="text-align: center">No venues for this search. Please try another.</p>
{% endfor %}
