<div style="
            {% if screening.report.photos.all|length %}
            {% with s=screening.report.photos.all|first %}
            background-image: url('{{ s.image.url }}');
            {% endwith %}
            {% else %}
            background-image: url('{{ screening.film.profile_image_small.url }}');
            {% endif %}
            ">      
    <a href="{% url "screening-page" screening.id %}"><h1>{{ screening.film.title|upper }} at {{ screening.venue.name }}</h1>
    <p>{{ screening.report.description|truncatechars:650 }}</p></a>
    </div>