{% extends "base.html" %}

{% block content %}
<div class="registration-success">
	<h1> SUCCESS! </h1>
    <p>Activation is complete, you can now log in.</p>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(window).ready(function(){
            mixpanel.track("user activated account");
        });
    </script>
{% endblock %}
