{% extends "base.html" %}
{% load staticfiles %}
{% load common_tags %}

{% block title %}Login{% endblock %}
{% block metadesc %}Login{% endblock %}

{% block content %}

<div id="pg--login">

<div class="page-title">
        <h1>LOG IN</h1>
</div>

<div class="registration-form">
    <form method="post" action="{% url "login" %}" name="login_form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% render_form form %}
        <button name="submit" class="submit">SUBMIT</button>
        <p><a href="{% url "account_password_recovery_start" %}">FORGOT PASSWORD?</a></p>
        <p><a href="{% url "register" %}">REGISTER!</a></p>
    </form>
</div>

</div>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        $(window).ready(function(){
            mixpanel.track("login page shown", {
                "user_id": "0"
            });
        });
    </script>
{% endblock %}
