{% extends "base.html" %}
{% load staticfiles %}
{% load common_tags %}

{% block title %}Register{% endblock %}
{% block metadesc %}Register{% endblock %}

{% block content %}
<div id="pg--register">

<div class="page-title">
    <h1>SIGN UP</h1>
</div>

<div class="registration-form">
    <form method="post" action="{% url "register" %}">
      {% csrf_token %}
      {% render_form form %}
      <button name="submit" class="submit">SUBMIT</button>
      <p><a href="{% url "login" %}">ALREADY HAVE AN ACCOUNT?</a></p>
    </form>
</div>

</div>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
        $(window).ready(function(){
            mixpanel.track("registration page shown");
            setTimeout(function(){
              $('<input>')
                  .attr('type', 'hidden')
                  .attr('name', 'phonenumber')
                  .val('616')
                  .appendTo('div.registration-form form');
            }, 4000)
        });
    </script>
{% endblock %}
