{% extends "base.html" %}

{% block content %}
<div class="registration-success">
	<h1> ALMOST.</h1>
    <p>Registration is complete. Please check your email for instructions on how to activate your account.</p>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(window).ready(function(){
            mixpanel.alias("{{ user.id }}");
            mixpanel.track("user successfully registered");
        });
    </script>
{% endblock %}
