{% extends "base.html" %}
{% load staticfiles %}
{% load common_tags %}

{% block extracss %}
    <style>
        a {
            color: #AAA;
        }

        a:hover {
            color: #333;
        }
        input[type="text"], input[type="password"], input[type="email"] {
            height: 1.2em;
            font-size: 2em;
            width: 80%;
            box-shadow: none;
            border-width: 2px;
        }

        form a[name="submit"] {
            font-size: 4em;
            font-weight: 900;
        }
    </style>
{% endblock %}

{% block content %}

<div class="row" style="margin-top: 20px; text-align:center">
    <div class="span12">
        <p style="font-size: 6em; line-height: normal; font-weight: 100">LOG IN/SIGN UP</p>
    </div>
</div>

<div class="row" style="margin-top: 0px">
    <div class="span5 offset1" style="margin-bottom: 70px">
        <form method="post" action="{% url "register" %}" name="registration_form">
            {% csrf_token %}
            {% render_form registration_form %}
            <br />
            <br />
            <p><a name="submit" href="#">SIGN UP</a></p>
            <button type="submit" style="visibility: hidden" /></button>
        </form>
    </div>
    <div class="span5 offset1" style="text-align: right">
        <form method="post" action="{% url "login" %}" name="login_form">
            {% csrf_token %}
            {% render_form login_form %}
            <br />
            <p style="font-size: 1.2em"><a style="font-size: 1em; font-weight: 700;" href="{% url "account_password_recovery_start" %}">FORGOT PASSWORD</a></p>
            <br />
            <p><a name="submit" href="#">LOG IN</a></p>
            <button type="submit" style="visibility: hidden" /></button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(window).ready(function(){
            $("form[name='login_form'] a[name='submit']").on("click", function(){
                $("form[name='login_form']").submit();
            });
        });

        $(window).ready(function(){
            $("form[name='registration_form'] a[name='submit']").on("click", function(){
                $("form[name='registration_form']").submit();
            });
        });
    </script>
{% endblock %}
