{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ festival.name|truncatechars:50 }}{% endblock %}
{% block metadesc %}{{ festival.about|truncatechars:155 }}{% endblock %}

{% block content %}

<div id="pg--festival">
<!-- background-image: url('{{ festival.get_random_film.profile_image_small.url }}') -->

<div class="hero">
    <div class="title-container">
        <p>FILMS THAT PLAYED IN </p>
        <h1>{{ festival.name|upper }}</a></h1>
    </div>

</div>
<!--
{% if festival.website or festival.email %}
    <nav class="profile-menu">
        {% if festival.website %} <a href="{{ festival.website }}" target="_blank">OFFICIAL WEBSITE</a> {% endif %}
        {% if festival.email %} <a href="mailto:{{ festival.email }}" >EMAIL</a> {% endif%}
    </nav>
{% endif %}

<section class="basic-info">
        <div>
            {% if festival.about %}
            <h2>DESCRIPTION</h2>
            <p> {{ festival.about|linebreaks|truncatechars:1000 }} </p>
            {% endif %}
        </div>
</section>

-->
<div style="margin-top: 10em" id="film-results">
    <!-- Populated by AJAX request -->
</div>

<div id="discover-results">
    <!-- Populated by AJAX request -->
</div>

</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){

        // Load new page
        $("div#film-results").on("click", "a.page-link", function(ev){
            ev.preventDefault();
            var page = $(ev.currentTarget).attr("data-page");
            getFilteredResultsFestival(page);
        })

        $(window).on('filterValues.changed', function(){
            getFilteredResultsFestival(1);
        });

        function getFilteredResultsFestival(page){
            window.location.hash = page;
            SM.addSpinner("div#film-results");

            var filter_data = SM.getFiltersValues();
            filter_data.page = page;
            filter_data.per_page = 10;

            $.ajax({
                url: "{% url "festival-films" festival.id %}",
                data: filter_data,
                success: function(data){
                    $("div#film-results").html(data);
                }
            });
        }

        $(window).on('hashchange', function() {
            page = window.location.hash.substring(1);
            getFilteredResultsFestival(page);
        });

        // Initial load
        var page = 1;
        if (window.location.hash){
            page = window.location.hash.substring(1);
        }
        getFilteredResultsFestival(page);

        $.ajax({
            url: "{% url "load-discover-data" %}",
            data: SM.getFiltersValues(),
            success: function(data){
                $("div#discover-results").html(data);
            }
        });
    });
</script>
{% endblock %}
