{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block extracss %}
{% endblock %}

{% block content %}
</div>
<div id="pg--browse">

    <nav class="search">
        <form method="get" action="{% url 'films-by-tag-search' %}" id="search-form">
            <input type="text" class="search" placeholder="SEARCH BY TAG" value="{{ tag }}" name="tag">
        </form>
    </nav>
    <div style="clear:both"></div>

    <div id="browse-results" style="margin-top: 10em">
        {% include 'browse/partials/_film_results.html' %}
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}

