{% extends "base.html" %}
{% load fb_versions %}
{% load staticfiles %}

{% block title %}{{ film.title|truncatechars:40 }} by {{ film.director|truncatechars:40 }}{% endblock %}
{% block metadesc %}{{ film.metadesc|truncatechars:155 }}{% endblock %}

{% block extra_head %}
{% if not film.is_public %}
<meta name="robots" content="noindex">
{% endif %}
{% endblock %}

{% block extracss %}
	<style type="text/css">
        .hero{
            background-image: url('{{ film.profile_image.url }}');
        }
	</style>
{% endblock %}

{% block content %}
<!-- Profile Image -->
</div>
<div id="pg--film">

<div class="hero">
</div>
<div class="title-container">
        <h1>{{ film.title|upper }}</h1>
        <div class="basic-attributes">
            <span> {{ film.director|upper }} </span>
            {% if film.year %}
                <span> {{ film.year }} </span>
            {% endif %}
            {% if film.runtime %}
                <span> {{ film.runtime }}min </span>
            {% endif %}
            {% if film.language %}
                <span> {{ film.language }} </span>
            {% endif %}
                <span>
            {% for c in film.countries.all %}
                 {{ c }}{% if not forloop.last %} + {% endif %}
            {% endfor %}
                </span>
                <span> Listed By:<a href="{% url "user-page" film.user.id %}"> {{ film.user.get_profile.name }} </a></span>
        </div>
</div>

<!-- PINK MENU -->
<nav class="profile-menu">
    <div>
        {% include "partials/_film_menu.html" %}
    </div>
    <div id="submenu" class="submenu" style="display: none">
        {% if film.user == user %}
            <div id="preview-file" class="submenu-item" style="display:none">
                <!-- this is placeholder for form loaded with ajax, do not delete -->
            </div>
            <div id="exhibition-file-container" class="submenu-item" style="display:none">
                {% include "partials/_exhibition_file_upload.html" with film=film %}
            </div>
            <div id="curate-container" class="submenu-item" style="display:none">
                {% include "partials/_curate_on_film_details.html" %}
            </div>
        {% else %}
            <div id="prev-file-box" class="submenu-item" style="display:none">
                {% include "partials/_preview_file_box.html" %}
            </div>
            <div id="exhibition-file-container" class="submenu-item" style="display:none">
                {% include "partials/_exhibition_file_download.html" %}
            </div>
            <div id="pay-container" class="submenu-item" style="display:none">
                {% include "partials/_film_payment.html" %}
            </div>
            <div id="curate-container" class="submenu-item" style="display:none">
                {% include "partials/_curate_on_film_details.html" %}
            </div>
            <div id="exhibit" class="submenu-item" style="display:none">
                {% include "partials/_exhibit.html" %}
            </div>
            <div id="anon-msg" class="submenu-item" style="display:none">
                {% include "partials/_anon-msg.html" %}
            </div>
            <div id="review-box" class="submenu-item" style="display:none">
                {% include "partials/_review-box.html" %}
            </div>
        {% endif %}
        <button type="button" id="close-submenu">CLOSE</button>
    </div>
</nav>


<!-- BASIC INFO -->
<section class="basic-info">
        <div class="synopsis">
        <h2>SYNOPSIS</h2>
        <p>{{ film.synopsis|linebreaks|truncatewords:120 }}</p>
        </div>
        {% if film.availability %}
            <div>
            <h2>AVAILABILITY</h2>
            <p>{{ film.availability }}</p>
            </div>
        {% endif %}
</section>

<!-- TRAILER -->
{% if film.trailer_embed_code %}
<div class="trailer">
    <div class="container">
        <div class="play-trailer" style="background-image: url('{{ film.thumbnail_link }}')" data-id="{{ film.id }}">
            <img src='{% static "play_btn.png" %}' class="play-button">
        </div>
        <div class="embedded-player"></div>
    </div>
</div>
{% endif %}

<!-- FESTIVALS -->
{% if film.played_on.all %}
    <div class="festival-block">
        <h2>EXHIBITIONS</h2>
        {% for fof in film.played_on.all %}
        <a href="{% url "festival-details" fof.festival.id %}{{ fof.festival.name|slugify }}">{{ fof.festival.name }} <b>|{{ fof.festival.public_film_count }}</b></a> <br />
        {% endfor %}
    </div>
{% endif %}

<!--TAGS -->
{% if film.tags.count > 0 %}
<div class="tags">
    <h2>TAGS</h2>
    {% for tag in film.tags_with_film_count %}
    <a href="{% url "films-by-tag" tag %}">{{ tag }} <b>|{{ tag.film_count }}</b></a> <br />
    {% endfor %}
</div>
{% endif %}

<!-- REVIEWS -->
{% if film.reviews.all %}
<section class="reviews">
    <h2>REVIEWS</h2>
    {% for r in film.reviews.all %}
       <div class="pull-quote ">
            <div class="text">
                <a href="{{ r.url }}" target="_blank"><p>“{{ r.get_pull_quote }}”</p></a>
                <p class="by">
                {% if r.reviewer %}
                    <a href="{% url "reviewer-details" r.reviewer.id %}">–{{ r.reviewer|upper }}</a>
                    {% if r.organization %}<a href="{% url "organization-details" r.organization.id %}"><span>{{ r.organization|upper }}</span></a>
                    {% endif %}
                {% else %}
                <a href="{% url "organization-details" r.organization.id %}">–{{ r.organization|upper }}</a>
                {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
</section>
{% endif %}

<!-- AUX-INFO -->
<section class="aux-info" >
    <div class="aux-info">
        <nav class="aux-info" id="aux-info">
            <a href="#stills" id="show-stills">STILLS</a>
            <a href="#castcrew" id="show-castcrew">CAST+CREW</a>
            {% if film.directors_statement %}
            <a href="#dstatement" id="show-dstatement">DIRECTOR'S STATEMENT</a>
            {% endif %}
            {% if film.website %}
            <a href="{{ film.website }}" class="website" target="_blank">WEBSITE</a>
            {% endif %}
        </nav>
        <div id="stills">
            {% for still in film.stills.all %}
            <p style="text-align: left;">(Click image for full resolution)</p>
            <a href="{{ still.image.url }}" target="_blank"><img src="{{ still.medium.url }}" class="resizeable" alt="Still{{ forloop.counter }} for {{ film.title }}"/></a><br /><br />
            {% empty %}
                <p>This film has no stills.</p>
            {% endfor %}
        </div>

        <div id="castcrew">
            <h2>CAST</h2>
            <p>
            {% include "add_film_wizard/partials/_added_cast.html" with cast=film.ordered_cast %}
            </p>
            <h2>CREW</h2>
            <p>
            {% include "add_film_wizard/partials/_added_crew.html" with crew=film.ordered_crew %}
            </p>
        </div>

        <div id="dstatement">
            {{ film.directors_statement|linebreaks }}
        </div>
    </div>
</section>

<!-- TIMELINE -->
<section class="event-timeline" style="margin-top: 4em">
{% for screening in film.public_screenings %}
    {% include "partials/_event_module.html" with screening=screening %}
{% endfor %}
</section>


</div>

{% endblock %}

{% block extra_js %}

<script type="text/javascript">
    $(window).ready(function(){
        mixpanel.track("film page viewed", {
            "film_id": "{{ film.id }}"
        });


        $("a#stills-link").on("click", function(e){
            mixpanel.track("stills viewed", {
                "film_id": "{{ film.id }}"
            });
        });

        $("a#cast-link").on("click", function(e){
            mixpanel.track("cast viewed", {
                "film_id": "{{ film.id }}"
            });
        });

        $("a#show-reviews").on("click", function(e){
            mixpanel.track("film reviews viewed", {
                "film_id": "{{ film.id }}"
            });
        });

        $("button#reviewer-feature-yes").on("click", function(e){
            mixpanel.track("reviewer feature vote yes");
            $("span#reviewer-feature-survey").hide();
            $("span#reviewer-feature-feedback").show();
        });

        $("button#reviewer-feature-no").on("click", function(e){
            mixpanel.track("reviewer feature vote no");
            $("span#reviewer-feature-survey").hide();
            $("span#reviewer-feature-feedback").show();
        });

        $('img.play-button').on('click', function(e){
            var film_id = $(e.currentTarget).parents('div.play-trailer').attr('data-id');
            $.get('{% url "film-get-trailer-embed-code" film.id %}', function(data){
                $(e.currentTarget).parents('div.play-trailer').siblings('div.embedded-player').html(data);
            $(e.currentTarget).parents('div.play-trailer').hide();
            });
            mixpanel.track("trailer viewed", {
                "film_id": "{{ film.id }}"
            });
        });

        // Load preview embed player
        {% if film.preview_embed_code_autoplay %}
        $('a#preview-link').on('click', function(e){
            var watch_element = $(e.currentTarget).attr('href');
            var loaded = $(watch_element).attr('data-is-loaded');
            SM.addSpinner("div" + watch_element + " div.embedded-player");

            if (!loaded){
                $.get('{% url "film-get-preview-embed-code" film.id %}', function(data){
                    $(watch_element).find("div.embedded-player").html(data);
                    $(watch_element).attr('data-is-loaded', '1');
                })
            }
        });
        {% endif %}

        $("button#close-submenu").on("click", function(ev){
            $("div#submenu").hide();
            $("div#submenu > div").hide();
            $("a.menu-link").removeClass("active");
        });

        $.get("{% url "link-with-dropbox-url" film.id %}", function(data){
            $("a#link-with-dropbox-btn").attr('href', data);
        });

        $("nav#aux-info a:not(.website)").on("click", function(e){
            e.preventDefault();
            var element_id = $(e.target).attr("href");
            $("div.aux-info > div:not(" + element_id + ")").hide()
            $(element_id).toggle();
            $("nav#aux-info a").removeClass("active");
            if ($(element_id).is(":visible")){
                $(e.target).addClass("active");
            }
        });

        $("a.menu-link:not(.contact)").on("click", function(e){
            e.stopPropagation();
            e.preventDefault();
            var element_id = $(e.target).attr("href");
            $("div#submenu > div:not(" + element_id + ")").hide()
            $(element_id).toggle();
            $("a.menu-link").removeClass("active");
            if ($(element_id).css('display') != 'none'){
                $("div#submenu").show();
                $(e.target).addClass("active");
            }
            else {
                $("div#submenu").hide();
            }
            return false;
        });

        $('#send-preview-request').click(function(e){
            var current_el = $(this);
            $.post("{% url "send-preview-request" film.id %}", function(data){
                current_el.closest('div#prev-file-box').html(data.result);
                $('div#prev-file-box').append('<p class="send-personal-message"><a href="'+data.conversation_url+'">SEND PERSONAL MESSAGE</a></p>');
            });
        });

        $('#send-download-request').click(function(e){
            var current_el = $(this);
            $.post("{% url "send-download-request" film.id %}", function(data){
                current_el.closest('div#exhibition-file-container').html(data.result);
                $('div#exhibition-file-container').append('<p class="send-personal-message"><a href="'+data.conversation_url+'">SEND PERSONAL MESSAGE</a></p>');
            });
        });

    {% if film.user == user %}
        $.get("{% url "film-preview-form-handler" film_id=film.id %}",
            function(data){
                $('#preview-file').html(data.resp);
            }
        );
    {% endif %}
    });
</script>

{% endblock %}
