{% extends "base.html" %}

{% block title %}{{ reviewer.name }}{% endblock %}
{% block metadesc %}{{ reviewer.name }}{% endblock %}

{% block content %}

<div id="pg--reviewer">

    <div class="hero">
        <div class="title-container">
             <p>FILMS LIKED BY </p>
            <h1>{{ reviewer.name|upper }}</h1>
        </div>
    </div>
    <div style="margin-top: 10em" id="reviewed-films">
        <!-- {% for r in reviewer.reviews.all %}
            {% if r.film.is_public %}
                <div class="pull-quote">
                    <div class="text">
                    <p>“{{ r.get_pull_quote }}”
                    <a href="{% url "film-details" r.film.id %}">{{ r.film.title }}</a>
                    </p>
                    </div>
                    <div class="full-review"><a href="{{ r.url }}" target="_blank">READ FULL REVIEW </a></div>
                </div>
            {% endif %}
        {% endfor %} -->
    </div>
    <div id="discover-results">
        <!-- Populated by AJAX request -->
    </div>

</div>


{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    $(window).ready(function(){

        // Load new page
        $("div#reviewed-films").on("click", "a.page-link", function(ev){
            ev.preventDefault();
            var page = $(ev.currentTarget).attr("data-page");
            getFilteredResultsReviewer(page);
        })

        $(window).on('filterValues.changed', function(){
            getFilteredResultsReviewer(1);
        });

        function getFilteredResultsReviewer(page){
            window.location.hash = page;
            SM.addSpinner("div#reviewed-films");

            var filter_data = SM.getFiltersValues();
            filter_data.page = page;
            filter_data.per_page = 10;

            // TO DO: napraviti url-ove za reviewera i organizaciju i viewove za njih
            $.ajax({
                {% if reviewer.model_class == 'Organization' %}
                url: "{% url "publication-films" reviewer.id %}",
                {% elif reviewer.model_class == 'Reviewer' %}
                url: "{% url "critic-films" reviewer.id %}",
                {% endif %}
                data: filter_data,
                success: function(data){
                    $("div#reviewed-films").html(data);
                }
            });
        }

        $(window).on('hashchange', function() {
            page = window.location.hash.substring(1);
            getFilteredResultsReviewer(page);
        });

        // Initial load
        var page = 1;
        if (window.location.hash){
            page = window.location.hash.substring(1);
        }
        getFilteredResultsReviewer(page);

        $.ajax({
            url: "{% url "load-discover-data" %}",
            data: SM.getFiltersValues(),
            success: function(data){
                $("div#discover-results").html(data);
            }
        });
    });
</script>
{% endblock %}
