<form class="change-email-form" method="post" action="{% url "account_change_email_form_handler" %}">
    {% if success_msg %}<p class="text-success">{{ success_msg }}</p>{% endif %}

        <p class="error">{{ form.errors.email|first }}</p>
        {{ form.email }}

        <p class="error">{{ form.errors.password|first }}</p>
        {{ form.password }}

        <button type="button" class="change-email-form-post submit-spinner">CHANGE EMAIL</button>

</form>

<script type="text/javascript">
    $(function(){
        $('.change-email-form-post').click(function(e){
            var form = $('form.change-email-form');
            var action = form.attr('action');
            var data = {
                'email':  $('form.change-email-form input[name="email"]').val(),
                'password': $('form.change-email-form input[name="password"]').val()
            };
            $.post(action, data, function(resp){
                form.parent().html(resp);
            });
        });
    });

</script>
