<form class="change-name-form" method="post" action="{% url "account_change_name_form_handler" %}">
    {% if success_msg %}
    <p class="text-success">{{ success_msg }}</p>
    {% endif %}
        <p class="error">{{ form.errors.name|first }}</p>
        {{ form.name }}


        <p class="error">{{ form.errors.password|first }}</p>
        {{ form.password }}

        <button type="button" class="change-name-form-post submit-spinner">CHANGE NAME</button>

</form>

<script type="text/javascript">
    $(function(){
        $('.change-name-form-post').click(function(e){
            var form = $('form.change-name-form');
            var action = form.attr('action');
            var data = {
                'name':  $('input[name="name"]').val(),
                'password': $('input[name="password"]').val()
            };
            $.post(action, data, function(data){
                form.parent().html(data);
            });
        });
    });

</script>
