<form class="change-pwd-form" method="post" action="{% url "account_change_password" %}">

    {% if success_msg %}<p class="text-success">{{ success_msg }}</p>{% endif %}

        <p class="error">{{ form.errors.current_password|first }}</p>
        {{ form.current_password }}

        <p class="error">{{ form.errors.new_password|first }}</p>
        {{ form.new_password }}

        <p class="error">{{ form.errors.new_password_rpt|first }}</p>
        {{ form.new_password_rpt }}

        <button type="button" class="change-pwd-form-post submit-spinner">CHANGE PASSWORD</button>

</form>

<script type="text/javascript">
    $(function(){
        $('.change-pwd-form-post').click(function(e){
            var form = $('form.change-pwd-form');
            var action = form.attr('action');
            var data = {
                'current_password': $('input[name="current_password"]').val(),
                'new_password': $('input[name="new_password"]').val(),
                'new_password_rpt': $('input[name="new_password_rpt"]').val()
            }
            $.post(action, data, function(data){
                form.parent().html(data);
            });
        });
    });

</script>
