{% extends "account/base.html" %}
{% load staticfiles %}

{% block bellow_menu %}

<style>
    .bla {
        background: url({% static 'eventbrite-connect-button.png' %}) no-repeat center 0;
        display: inline-block;
        margin-top: 1em;
        width: 162px;
        height: 24px;
    }
    .bla:hover {
    	background-position: center -24px;
    }
</style>

<h2> EVENTBRITE </h2>
<div>
    {% if user.get_profile.eventbrite_access_token %}
    <p>Your account is linked with Eventbrite!</p>
    {% else %}
    <p>Link your Eventbrite account with SimpleMachine and create events on Eventbrite automatically.</p>
    <a href="{{ url }}" class="bla"></a>
    {% endif %}
</div>
{% endblock %}
