{% extends "account/base.html" %}
{% load staticfiles %}

{% block bellow_menu %}

<style>
    .vimeo-connect-button {
        background: url({% static 'vimeo-connect-button.png' %}) no-repeat center 0;
        display: inline-block;
        margin-top: 1em;
        width: 154px;
        height: 25px;
    }

    .vimeo-connect-button:hover {
        background-position: center -25px;
    }

    .vimeo-add-to-watch-later {
        margin-top: 20px;
    }
</style>

<h2> VIMEO </h2>
<div>
    {% if user.get_profile.is_linked_with_vimeo %}
        <p style="margin-bottom: 20px">Your account is linked with Vimeo account (display name <b>{{ vimeo_name }}</b>)!</p>
        <p><a href="{% url "unlink-vimeo" %}">Unlink</a> your Vimeo account from SimpleMachine or link with different Vimeo account.</p>
        <a href="{{ url }}" class="vimeo-connect-button"></a>
        <p class="vimeo-add-to-watch-later">
            Automatically add film preview video on Vimeo Watch later list: &nbsp;&nbsp;
            <a href="{% url "set-vimeo-watch-later" %}" {% if user.get_profile.vimeo_add_to_watch_later %}class="active"{% endif %}>
                YEA! &nbsp;
            </a>
            <a href="{% url "unset-vimeo-watch-later" %}" {% if not user.get_profile.vimeo_add_to_watch_later %}class="active"{% endif %}>
                NO!
            </a>
        </p>
    {% else %}
        <p>Link your Vimeo account with SimpleMachine.</p>
        <a href="{{ url }}" class="vimeo-connect-button"></a>
    {% endif %}
</div>
{% endblock %}
