%divider {
    content: ".";
	padding: 0 0em 0 .6em;
    display: inline-block;
    font-weight: 300 !important;
}
%divider-fancy {
    @extend %divider;
    content: "|";
    display: inline-block;
    vertical-align: 5%;
    padding: 0 .3em 0 .5em !important;
}

%nav-base {   
    & a:not(:last-of-type)::after {
        @extend %divider;
    }
}

%nav-base-fancy {
    & a:not(:last-of-type)::after {
        @extend %divider-fancy;
        color: $accent;
    }
}


