$bg-site: #FFF;
$font: source sans pro, sans-serif;
$font-alt: source code pro, monospace;

// --- COLORS
$orange: #F60;
$green: #0F9;
$purple: #C0F;  
$accent: #F99;



%font-00 {
    font-size: 0.56250em;
}
%font-0 {
    font-size: 0.75000em;
}
%font-1 {
    font-size: 1.00000em;
    line-height: 1.50000em;
}
%font-1b {
    font-size: 1.2em;
    line-height: 1.5em;
}
%font-2 {
    font-size: 1.31250em;
    line-height: 1.14286em;
}
%font-3 {
    font-size: 1.75000em;
    line-height: 1.71429em;
}
%font-4 {
    font-size: 2.33333em;
    line-height: 1.71429em;
}

%font-5 {
    font-size: 3.18750em;
    line-height: 1.41176em;
}

%font-6 {
    font-size: 4.25em;
    line-height: 1.15;
}


// --- BACKGROUNDS 

%bg-accent-secondary { 
    background-image: url(/static/p10_green.png); // Currently GREEN stripes - used for succesful alerts
}

%bg-sidebar {
    background-color: #FFF !important;
    //background-image: url(/static/diagonal-noise.png) !important;
}

// --- MISCELANEOUS

%box-shadow-main {
        box-shadow: none;
}

img.resizeable {
    width: 100%;
}

%faq-title {
    font-family: $font;
    margin-top: 2em;
    @extend %font-2;
    color: #000 !important;
    text-transform: uppercase;
    line-height: normal;
}