    <p class="menu-text"> Get in touch with the owner of <span>{{ film.title|upper }}</span>?</p>
    <p class="anon-login"><a href="{% url "login" %}?next={% url "film-details" film.id %}">LOG IN</a> or <a href="{% url "register" %}">REGISTER</a> to send {{ film.user.get_profile.name }} a message.</p>  
