<p>&nbsp;</p>
<h4>Cast & Crew</h4>
<table class="table table-condensed invite-list">
	<tbody>								
		{% for item in film.team.all %}
		{% with item.role as role %}
		<tr>
			<td width="100%">{{item.person}}</div>
			<td nowrap="nowrap">{{role}}</div>
		</tr>
		{% endwith %}
		{% empty %}
		<tr><td colspan="2">No cast or crew have been added.</td></tr>
		{% endfor %}
	</tbody>
</table>