{% if user.is_authenticated %}
    {% if user.get_profile.active_curations %}
        <p class="menu-text"> Add this film to one of your lists: </p>
    {% else %}
        <p class="menu-text"> You have not yet created a list! Add this film to a new list in order to remember it. You can make your list public or private, depending on how secretive you are. </p>
    {% endif %}
    <div class="curations">
        {% for curation in user.get_profile.active_curations %}
            {% if film not in curation.films.all %}
                <p class="add-to-curation"><a href="/curations/{{ curation.id }}/film/{{ film.id }}/add/">{{ curation.title|upper }}</a></p>
            {% endif %}
        {% endfor %}
        <p class="create-new-curation"><a href="/curations/add/with_film/{{ film.id }}/">CREATE NEW LIST</a></p>
    </div>
{% else %}

<p class="menu-text"> Add <span>{{ film.title|upper }}</span> to one of your lists? Make lists to organize the films you want to remember.</p>
<p class="anon-login"><a href="{% url "login" %}?next={% url "film-details" film.id %}">LOG IN</a> or <a href="{% url "register" %}">REGISTER</a> to add this film to a list.</p>

{% endif %}
