{% if user.is_authenticated %}
    {% if can_download %}
        {% if film.exhibition_file and film.exhibition_file.uploaded %}
            <div class="exhibition-file-download">
            <a href="{% url "download-exhibition-file" film.id %}">HTTP</a>
            <a id="ftp-download-video" href="#">FTP</a>
            {% if request.user.get_profile.dropbox_access_token %}
            <a id="dropbox-download-video" href="#">DROPBOX</a>
            {% else %}
            <p class="menu-text">If you would like to download the file to your Dropbox:<br /></p> <a href="#" id="link-with-dropbox-btn">LINK YOUR DROPBOX</a>
            {% endif %}
            </div>
        {% else %}
            <p class="menu-text">UhOh! We don't actually seem to have an exhibition file for this film. Once {{ film.user.get_profile.name }} uploads a file, you will be able to download it here! </p>
        {% endif %}
    {% else %}
        {% if download_request %}
            {% if not download_request.decision_made %}
                <p class="menu-text">You will be notified when {{ film.user.get_profile.name }} responds to your request</p>
            {% elif download_request.is_declined %}
                <p class="menu-text">Your request to download this film has been declined.</p>
            {% endif %}
        {% else %}
            {% if film.exhibition_file and film.exhibition_file.uploaded %}
                <div class="download-no-permission">
                    <p class="menu-text">Screening {{ film.title|upper }} at your event? Download an exhibition-quality quicktime file! Send a request and, if it is accepted, you will be able to download the file here. </p>
                    <button type="button" id="send-download-request">SEND DOWNLOAD REQUEST</button>
                </div>
            {% else %}
                <p class="menu-text">{{ film.user.get_profile.name }} hasn't uploaded an exhibition file for this film yet. Once they do, you will be able to send a request to download the high-quality quicktime file for exhibition purposes.</p>
            {% endif %}
        {% endif %}
    {% endif %}
{% else %}
    
    <p class="menu-text"> Playing <span>{{ film.title|upper }}</span> at an exhibition? Here you will be able to request permission to download a high-quality quicktime file to screen at your event. </p>
    <p class="anon-login"><a href="{% url "login" %}?next={% url "film-details" film.id %}">LOG IN</a> or <a href="{% url "register" %}">REGISTER</a> to send a download request.</p>  
    
{% endif %}
    

<script type="text/javascript">
    $(window).ready(function(){
        $("a#ftp-download-video").on("click", function(){
            $.get("{% url "download-exhibition-file-ftp" film.id %}", function(data){
                $('#exhibition-file-container').html(data);
            });
        })

        $("a#dropbox-download-video").on("click", function(e) {
            $.get("{% url "download-exhibition-file-dropbox" film.id %}", function(data){
                $('#exhibition-file-container').html("<p>" + data.msg + "</p>");
            });
        });
    });
</script>
