{% if film.exhibition_file %}
    {% if film.exhibition_file.uploaded %}
        <p class="menu-text">You have already uploaded a file for this film: <span style="font-weight: 700">{{ film.exhibition_file.file }}</span> <br /> <br />You can download it here:</p>
        {% include "partials/_exhibition_file_download.html" %}
    {% else %}
        <div id="dropbox-upload-progress">
        <div id="dropbox-progress" class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
        <div class="progress-info">
            <span id="upload-progress-filename"> </span>
            <span id="upload-progress-info"> </span>
            <span><a id="cancel-dropbox-upload" href="{% url "cancel-dropbox-upload" film.id %}">CANCEL</a></span>
        </div>
    </div>
    {% endif %}
{% else %}


    <!-- STEP 1: Upload video file -->
    <p id="upload-helptext" class="menu-text">Add a high-quality video file that venues can download to show your movie. Venues will download the exact file you choose to upload, so make sure your file is playable on most computers. We reccomend an h.264 file with a .mp4 extension. File must be less than 10GB.</p>
    <button type="button" id="add-video-file-link">ADD VIDEO FILE</button>

    <!-- STEP 2: Choose upload method -->
    <div id="choose-upload-method" style="display: none">
        <button type="button" id="upload-via-ftp">FTP </button>
        <button type="button" id="upload-via-dropbox"> DROPBOX </button>
        <button type="button" id="upload-via-http"> HTTP</button>
    </div>


    <!-- STEP 2: Upload method HTTP -->
    <div id="http-file-upload" style="display: none;">
        <div class="fileinput-button">
            <button id="upload-button"><span>CHOOSE VIDEO FILE</span></button>
            <input id="fileupload" type="file" name="file" data-url="{% url "upload-exhibition-file" film.id %}"/>
        </div>
        <div id="progress" style="display: none" class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
        <div class="progress-info" style="display: none">
            <span id="upload-progress-filename"> </span>
            <span id="upload-progress-info"> </span>
            <span><a id="cancel-http-upload" href="#" style="display: none">CANCEL</a></span>
        </div>
    </div>
    <div id="file-details" style="display: none">
        <p id="filename"></p>
    </div>


    <!-- STEP 2: Upload method Dropbox -->
    {% if not linked_with_dropbox %}
    <div id="dropbox-file-upload" style="display: none; text-align: left">
        <p class="menu-text">Uploading a file via dropbox is extremely convenient, but takes several steps:<br />

        1) Link your Dropbox account with your simplemachine account.<br />
        2) Put your video file into the "smplmchn" folder in your dropbox (don't worry, we'll create the folder for you).<br />
        3) Once the file is fully uploaded to your Dropbox, come right back here to pick the file and we'll get it from Dropbox and hold onto it for venues to download.</p>

        <p class="link-with-dropbox"><a href="#" id="link-with-dropbox">LINK YOUR DROPBOX ACCOUNT</a></p>
    </div>
    {% else %}
    <div id="dropbox-file-upload" style="display: none">
        <div id="dropbox-files">
            <h3> CHOOSE A FILE TO UPLOAD: </h3>
            <div class="loading-indicator">
                Loading...
            </div>
        </div>
    </div>
    {% endif %}

    <!-- STEP 2: Upload method FTP -->
    <div id="ftp-file-upload" style="display: none;">
    </div>

    <!-- STEP 3: Show upload progress -->
    <div id="dropbox-upload-progress" style="display: none">
        <div id="dropbox-progress" style="display: none" class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
        <div class="progress-info">
            <span id="upload-progress-filename"> </span>
            <span id="upload-progress-info"> </span>
            <span><a id="cancel-dropbox-upload" href="{% url "cancel-dropbox-upload" film.id %}">CANCEL</a></span>
        </div>
    </div>
{% endif %}


<script type="text/javascript">
    var updateDropboxUploadProgressBar = function(uploaded, total, percent, filename, time_elapsed){
        var formatted_uploaded = size_format(uploaded);
        var formatted_total = size_format(total);
        var formatted_speed = size_format(uploaded / time_elapsed) + '/s';

        $("div#dropbox-upload-progress span#upload-progress-info").html(formatted_uploaded + " of " + formatted_total + " (" + percent + "%) - " + formatted_speed);
        $("div#dropbox-upload-progress span#upload-progress-filename").html(filename);
        $("div#dropbox-upload-progress div#dropbox-progress .bar").css('width', percent+'%');
    };

    var showExhibitionFile = function(filename) {
        $("div#file-details").show();
        $("div#file-details p#filename").html(filename);
    };

    $(window).ready(function(){

        {% if film.exhibition_file.file and not film.exhibition_file.uploaded %}
            setInterval(function(){
                $.get("{% url "dropbox-upload-progress" film.id %}", function(data){
                    updateDropboxUploadProgressBar(data.uploaded, data.total, data.percent, data.filename, data.time_elapsed);
                })}, 2000);
        {% endif %}

        $("button#add-video-file-link").on("click", function(){
            $("button#add-video-file-link").hide();
            $("div#choose-upload-method").show();
        });

        $("button#upload-via-http").on("click", function(){
            $("button#add-video-file-link").hide();
            $("div#choose-upload-method").hide();
            $("div#http-file-upload").show();
        });

        $("button#upload-via-dropbox").on("click", function(){
            $.get('{% url "users-dropbox-files" %}', function(data){
                $("div#dropbox-files").append(data);
                $("div#dropbox-files div.loading-indicator").hide();
            });
            $("button#add-video-file-link").hide();
            $("div#choose-upload-method").hide();
            $("div#dropbox-file-upload").show();
            $.get("{% url "link-with-dropbox-url" film.id %}", function(data){
                $("a#link-with-dropbox").attr('href', data);
            });
        });

        $("button#upload-via-ftp").on("click", function(){
            $("button#add-video-file-link").hide();
            $("div#choose-upload-method").hide();
            $("div#ftp-file-upload").load("{% url "ftp-upload-info" film.id %}");
            $("div#ftp-file-upload").show();
        });


        $("div#dropbox-files").on("click", "button", function(elem){
            $.post("{% url "upload-from-dropbox" film.id %}", { path: $(elem.currentTarget).attr('id') });

            $("button#add-video-file-link").hide();
            $("div#choose-upload-method").hide();
            $("div#dropbox-file-upload").hide();
            $("div#dropbox-upload-progress").show();
            $("div#dropbox-progress").show();

            // Start updating progress
            var updateDropboxProgress = setInterval(function(){
                $.get("{% url "dropbox-upload-progress" film.id %}", function(data){
                    if (data.status == 'done'){
                        clearInterval(updateDropboxProgress);
                        $("div#dropbox-upload-progress").hide();
                        $("div#dropbox-progress").hide();
                        showExhibitionFile(data.filename);
                    }
                    else {
                        updateDropboxUploadProgressBar(data.uploaded, data.total, data.percent, data.filename, data.time_elapsed);
                    }
                })}, 2000);
        });

        $('#fileupload').fileupload({
            dataType: 'json',
            done: function(e, data){
                window.onbeforeunload = function(){
                    return null;
                };
                // Show filename and link for download
                $("a#cancel-http-upload").hide();
                $("div#http-file-upload").hide();
                $("div#file-details").show();
                $("p#filename").html(data.result.filename);
            },
            progress: function(e, data){
                // Upload progress
                var filename = data.files[0].name;
                $("span#upload-progress-filename").html(filename);

                var loaded_formatted = size_format(data.loaded);
                var total_formatted = size_format(data.total);
                var bitrate_formatted = size_format(data.bitrate / 10) + "/s";
                $("span#upload-progress-info").html(loaded_formatted + " of " + total_formatted + " (" + parseInt(data.loaded / data.total * 100, 10) + "%) - " + bitrate_formatted);
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
            },
            start: function(e){
                window.onbeforeunload = function(){
                    return "You have upload in progress, are you sure you want to leave this page?";
                };

                $("a#cancel-http-upload").show();
                $("div#progress").fadeIn(200);
                $("div#progress div.bar").css('width', '0px');
                $("div.fileinput-button").fadeOut(200);
                $("p#upload-helptext").hide();
                $("div.progress-info").show();
            }
        });

        $("#fileupload").fileupload('option', {
            acceptFileTypes: /(\.|\/)(mov|avi|mp4)$/i
        });

        $("#fileupload").bind('fileuploadprocessfail', function(e, data){
            alert('Invalid file type. Please upload mp4, avi or mov file.');
        });

        $("a#cancel-http-upload").on("click", function(){
            if (confirm('Are you sure you want to cancel this upload?') == true) {
                window.onbeforeunload = function(){
                    return null;
                };
                window.location.reload();
            };
        });


    });
</script>
