 {% if user.is_authenticated %}
    <p class="menu-text">Want to show this movie at your venue?</p>
    <p class="create-new-screening"><a href="{% url "add-screening" %}?for_film={{ film.id }}">CREATE NEW SCREENING</a></p>

{% else %}
    <p class="menu-text"> Book <span>{{ film.title|upper }}</span> to play at your festival or event?</p>
    <p class="anon-login"><a href="{% url "login" %}?next={% url "film-details" film.id %}">LOG IN</a> or <a href="{% url "register" %}">REGISTER</a> to create a venue called <span>{{ anonymous_curation_title }}</span> and book this film.</p>  

{% endif %}