{% for f in dropbox_files %}
<button id="{{ f.path }}">
<span class="path">{{ f.path }}</span>
<span class="size">{{ f.size }}</span>
<span class="modified">{{ f.modified }}</span>
</button>
{% empty %}
    You have no films in your smplmchn folder on Dropbox.
{% endfor %}
