{% load staticfiles %}
{% load common_tags %}

<script type="text/javascript">
    $(window).ready(function(){
        $('img.play-button').on('click', function(e){
            var film_id = $(e.currentTarget).parents('div.play-trailer').attr('data-id');
            $.get('/films/' + film_id + '/trailer/', function(data){
                $(e.currentTarget).parents('div.play-trailer').siblings('div.embedded-player').html(data);
            $(e.currentTarget).parents('div.play-trailer').hide();
            });
            mixpanel.track("trailer viewed", {
                "film_id": film_id
            });
        });

        $("a.toggle-curate-container").on('click', function(e){
            e.preventDefault();
            var container_class = $(e.currentTarget).attr('data-class');
            $("div." + container_class).toggle();
            $(e.currentTarget).parents('div.add').toggleClass('active');
            return false;
        })

        $("button#close-submenu").on('click', function(e){
            e.preventDefault();
            $(e.currentTarget).parents('div.film-curate-container').hide();
            $(e.currentTarget).parents('div.add').removeClass('active');
            return false;
        })
    });
</script>

{% with results=films %}
    {% include 'helpers/pagination.html' %}
{% endwith %}

{% for film in films %}
    <div class="film-module">
        <div class="container">
            <div class="trailer">
                {% if film.trailer_embed_code %}
                    <div class="play-trailer" style="background-image: url('{{ film.thumbnail_link }}')" data-id="{{ film.id }}">
                        <img src='{% static "play_btn.png" %}' class="play-button">
                    </div>
                    <div class="embedded-player"></div>
                {% else %}
                    <div class="play-trailer">
                        <div class="has-no-trailer">
                        <p>This film has no trailer.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="not-trailer">
                <div class="result-title">
                    <h3><a href="{% url "film-details" film.id %}">{{ film.title|upper }}</a></h3>
                    <p class="info"><span>{{ film.director|upper }}</span><span>{% for c in film.countries.all %}{{ c }}{% if not forloop.last %} + {% endif %}{% endfor %}</span><span>{{ film.year }}</span><span>{{ film.runtime }}min</span></p>
                    {% comment %}
                    <!--
                    <p class="tags">
                    {% for tag in film.tags.all %}
                        <a href="{% url "films-by-tag" tag %}">{{ tag }}</a>
                    {% endfor %}
                    </p>
                    -->
                    {% endcomment %}
                </div>
                <div class="add">
                    <nav>
                        <a href="{% url "film-details" film.id %}" class="learn-more">LEARN MORE</a>
                        <a href="#" data-class="curate-container-{{ film.id }}" class="toggle-curate-container">ADD</a>
                    </nav>
                    <div class="film-curate-container curate-container-{{ film.id }}">
                        {% include "partials/_curate_on_film_details.html" %}
                        <button type="button" id="close-submenu">CLOSE</button>
                    </div>
                </div>
                <div class="text">
                {% if reviewer_id %}
                    {% with reviews=film|sort_film_reviewer:reviewer_id %}
                        {% include "partials/_film_reviews_module.html" %}
                    {% endwith %}
                {% elif organization_id %}
                    {% with reviews=film|sort_film_organization:organization_id %}
                        {% include "partials/_film_reviews_module.html" %}
                    {% endwith %}
                {% else %}
                    {% with reviews=film.reviews.all %}
                        {% include "partials/_film_reviews_module.html" %}
                    {% endwith %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <p>No films in our database have been shown on this festival</p>
{% endfor %}

{% with results=films %}
    {% include 'helpers/pagination.html' %}
{% endwith %}
