<div style="border: 1px dotted gray; margin-bottom: 50px; height: 10em; padding: 5px">
    <div class="span3" style="padding-top: 30px">
        <a href="{% url "film-details" film.id %}{{ film.title|slugify }}" style="font-size: 2em;">{{ film.title|upper }}</a>
    </div>
    <div class="span8">
        <img src="/media/{{ film.profile_image }}" style="width: 100%; height: 9em"/>
    </div>
</div>
