{% for r in reviews|slice:":1" %}
    <div class="pull-quote">
        <a href="{{ r.url }}" target="_blank"><p>“{{ r.get_pull_quote|truncatechars:250 }}”</p></a>
        <p class="by">
            {% if r.reviewer %}
                <a href="{% url "reviewer-details" r.reviewer.id %}">–{{ r.reviewer|upper }}</a>
                {% if r.organization %}<a href="{% url "organization-details" r.organization.id %}"><span>{{ r.organization|upper }}</span></a>
                {% endif %}
            {% else %}
            <a href="{% url "organization-details" r.organization.id %}">–{{ r.organization|upper }}</a>
            {% endif %}
        </p>
    </div>
{% empty %}
<div class="pull-quote">
    <p>{{ film.synopsis|truncatechars:400 }}</p>
</div>
{% endfor %}
<div style="clear:both"></div>
{% if film.played_on.all %}
    <div class="fests">
        {% for fof in film.played_on.all|slice:":3" %}
        <a style="display: inline" href="{% url "festival-details" fof.festival.id %}{{ fof.festival.name|slugify }}">
        {{ fof.festival.name }}</a>
        {% endfor %}
    </div>
{% endif %}
    
