<div class="current-preview" {% if not preview or form.errors %}style="display: none"{% endif %} id='current-credentials'>
    {% if success_msg %}<p>{{ success_msg }}</p>{% endif %}
    <p class="menu-text">You have succesfully linked a Vimeo screener of your film! When you accept 'Preview Requests' from users on Simple Machine, they will now be able to watch your film, both here and on Vimeo.</p>
    <div class="vimeo-url">
        <a href="{{ preview.link }}" target="_blank">{{ preview.link }}</a>
    </div>
    <div class="edit-buttons">
        <button type="button" id="edit-preview-info">- EDIT URL/PASSWORD</button>
        <button type="button" id="unlink-preview-file">- UNLINK PREVIEW FILE</button>
    </div>
</div>

<form class="preview-form" method="post" action="{% url "film-preview-form-handler" film_id=film.id %}" style="text-align: left; {% if preview and not form.errors %}display: none{% endif %}">
    
    {{ form.allow_verified }}
    <div class="instructions">
        <p id="upload-helptext" class="menu-text">Enter the URL and Password to your secure Vimeo screener. This allows other users, upon your approval, to watch your film! <br />
        <span>NOTE: please be sure to allow embedding of your video. You can select this under the PRIVACY tab in the Vimeo settings. Allow it for the domain 'smplmchn.com'</span></p>
    </div>
    <div class="fields control-group {% if form.errors %} error {% endif %}">
        {{ form.link }}
        <span class="help-block">{{ form.errors.link|first }}</span>
        <span class="help-block">{{ form.errors.password|first }}</span>
        {{ form.password }}
    </div>
    <div class="verified">
        <p class="menu-text">Allow verified venues to watch this movie without asking?</p>
        <button type="button" id="allow-verified-yes" class="toggle-yes">YES!</button>
        <button type="button" id="allow-verified-no" class="toggle-no">NO!</button>
    </div>
    <div class="save">
        <button class="preview-form-post">SAVE</button>
    </div>
    
</form>

<script type="text/javascript">
    $(function(){
        var inputs_to_object = function(el){
            var output = {};
            output['link'] = $('input[name="link"]').val();
            output['password'] = $('input[name="password"]').val();
            output['allow_verified'] = $('input[name="allow_verified"]').val();
            return output
        };

        $('.preview-form').submit(function(){
            $('.change-email-form-post').click();
            return false;
        });

        $('.preview-form-post').click(function(e){
            var current_el = $(this);
            var form = current_el.closest('form');
            var action = form.attr('action');
            $.post(action, inputs_to_object(form), function(data){
                form.parent().html(data.resp);
                if (data.success) {
                    SM.showMessage('success', 'FILM PREVIEW CREDENTIALS UPDATED');
                }
            });
        });

        $('button#edit-preview-info').on('click', function(e){
            $('div#current-credentials').hide();
            $('form.preview-form').show();
        });

        {% if preview %}
        $("button#unlink-preview-file").on('click', function(e){
            e.stopPropagation();
            e.preventDefault();
            if (confirm("Are you sure you want to unlink this preview file?")) {
                $.post("{% url "unlink-preview-file" preview.id %}", function(data){
                    $('div#preview-file').html(data.resp);
                    if (data.success) {
                        SM.showMessage('success', 'PREVIEW FILE UNLINKED');
                    }
                });
            } else {
                return false;
            }
        });
        {% endif %}

        $("button#allow-verified-yes").on("click", function(e){
            e.preventDefault();
            $("input[name='allow_verified']").val("true");
            $("button#allow-verified-yes").addClass("active");
            $("button#allow-verified-no").removeClass("active");
        });

        $("button#allow-verified-no").on("click", function(e){
            e.preventDefault();
            $("input[name='allow_verified']").val("");
            $("button#allow-verified-no").addClass("active");
            $("button#allow-verified-yes").removeClass("active");
        });

        {% if form.allow_verified.value %}
        $("button#allow-verified-yes").addClass("active");
        {% else %}
        $("button#allow-verified-no").addClass("active");
        {% endif %}
    });

</script>
