{% if user.is_authenticated %}
    {% if film.user.get_profile.is_linked_with_paypal %}
        <form class="film-payment-form" action="{% url 'film-payment' film.id %}" method="post">
            {% csrf_token %}
            <p class="payment">$ <input name="amount" class="amount" placeholder="75.00" /></p>
            <p><button type="submit" class="pay-to-film-post">PAY NOW WITH PAYPAL</button></p>
        </form>
    {% else %}
        <p class="menu-text">User didn't connect his PayPal account. Send him a <a href="{% url "view-or-start-conversation" film.user.id %}" class="contact menu-link">MESSAGE</a>.</p>
    {% endif %}
{% else %}
    <p class="menu-text"> Owe <span>{{ film.title|upper }}</span> some cash? Here you will able to PayPal them the dough you owe instantly. </p>
    <p class="anon-login"><a href="{% url "login" %}?next={% url "film-details" film.id %}">LOG IN</a> or <a href="{% url "register" %}">REGISTER</a> to start paying films.</p>  
    

{% endif %}

<script type="text/javascript">
    $(window).ready(function(){
        $("form.film-payment-form").submit(function(){

            $("input[name='amount']").parent().siblings('p.error').remove();
            var amount = parseFloat($("input[name='amount']").val());
            if (amount > 0) {
                return true;
            }
            else {
                $("input[name='amount']").parent().after(
                    '<p class="error" style="color: red">INVALID AMOUNT</p>'
                );
                return false;
            }
        })
    });
</script>
