<form class="preview-request-form" action="{% url "film-preview-request-form" pk=film.id %}" method="post">
    {% if form.errors.requester_info %}
        <p class="error" style="color: red">{{ form.errors.requester_info|first }}</p>
    {% endif %}
    <p>{{ form.requester_info }}</p>
    {% if form.errors.request_message %}
        <p class="error" style="color: red">{{ form.errors.request_message|first }}</p>
    {% endif %}
    <p>{{ form.request_message }}</p>
    <p><a href="#" class="send-preview-request-post">+SEND REQUEST</a></p>
</form>

<script type="text/javascript">

    $(function(){

        function inputs_to_object(el) {
            var output = {};
            $(el).find('input, textarea').each(function(idx, item){
                var item = $(item);
                output[item.attr('name')] = item.val();
            });
            return output
        }

        $('.preview-request-form').submit(function(){
            $('.send-preview-request-post').click();
            return false;
        });

        $('.send-preview-request-post').click(function(e){
            var current_el = $(this);
            var form = current_el.closest('form');
            var action = form.attr('action');
            $.post(action, inputs_to_object(form), function(data){
                if (data == 'success') {
                    form.parent().html($('<p>').text('Request sent.'));
                }
                else {
                    form.parent().html(data);
                }
            });
        });

    });

</script>

<style type="text/css">
    .preview-request-form p.error {
        font-size: 0.5em;
    }
</style>
