{% if film.deleted %}
    <div>
        <p class="inactive">INACTIVE</p>
    </div>
{% elif film.user == user %}
    <div>
        {% if not film.is_public %}
        <a href="{% url "add-film-logistics" film.id %}">(UNLISTED)</a>
        {% endif %}
        <a href="#preview-file" class="menu-link">PREVIEW FILE</a>
        <a href="#exhibition-file-container" class="menu-link">EXHIBITION FILE</a>
        <a href="{% url "edit-film" film.id %}">EDIT FILM INFO</a>
        <a href="#curate-container" class="menu-link" id="profile-menu-add">ADD</a>
    </div>
{% else %}
    <div>
        <a href="#exhibition-file-container" id="exhibit-link" class="menu-link">QT FILE</a>
        <a href="#prev-file-box" id="preview-link" class="menu-link">WATCH</a>
        <!--<a href="#pay-container" id="pay-link" class="menu-link">PAY</a>-->
        <!--<a href="#exhibit" id="exhibit-link" class="menu-link">BOOK</a>-->
        {% if user.is_authenticated %}
        <a href="{% url "view-or-start-conversation" film.user.id %}" class="contact menu-link">MESSAGE</a>
        {% else %}
        <a href="#anon-msg" id="anon-msg-link" class="menu-link">MESSAGE</a>
        {% endif %}
        <!--<a href="#review-box" id="review-box-link" class="menu-link">REVIEW</a>-->
        <a href="#curate-container" class="menu-link" id="profile-menu-add">ADD</a>
    </div>
{% endif %}
