{% if error %}
<p>{{ error }}</p>
{% else %}
<p class="menu-text">Here are credentials for your file {% if download %}download{% else %}upload{% endif %}.</p>
<br />
<p>
Server: {{ server }}
<br />
Username: {{ username }}
<br />
Password: {{ password }}
<br />
Port: 21 (default)
</p>
{% endif %}
