{% load fb_versions %}

{% with film.images.all as images %}
{% with film.videos.all as videos %}
{% if images or videos %}
<hr>
<h4>Media</h4>
	{% if images %}	
	<div class="row">
		{% for item in images %}
		<div class="span2">
			<img src="#" id="image-item-{{item.id}}" class="media-item" />
			<p>
				<span class="label pull-left media-item-label">{{item.get_type_display}}</span>
				{% if is_admin %}&nbsp;<a href="{% url "film_image_delete" item.id %}"><span class="label label-important pull-right">X</span></a>{% endif %}
			</p>
			
			{% if item.description %}
			<script>
				$(window).ready(function(){
					$('#image-item-{{item.id}}').popover({
						'title': '{{item.get_type_display}}',
						'content': '{{item.description|linebreaksbr}}',
						'placement': 'top',
						'trigger': 'hover'
					});
				});
			</script>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	{% endif %}

	{% if videos %}
	<div class="row">
		{% for item in videos %}
		<div class="span2">
			<iframe width="170" height="96" src="{{ item.get_video_url }}" frameborder="0" class="media-item" allowfullscreen></iframe>
			<p>
				<span id="video-item-{{item.id}}" class="label pull-left media-item-label">{{item.get_type_display}}</span>
				{% if is_admin %}&nbsp;<a href="{% url "film_video_delete" item.id %}"><span class="label label-important pull-right">X</span></a>{% endif %}
			</p>
			{% if item.description %}
			<script>
				$(window).ready(function(){
					$('#video-item-{{item.id}}').popover({
						'title': '{{item.get_type_display}}',
						'content': '{{item.description|linebreaksbr}}',
						'placement': 'top',
						'trigger': 'hover'
					});
				});
			</script>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	{% endif %}
{% endif %}
{% endwith %}
{% endwith %}
