<p class="menu-text" style="margin-bottom: 10px">You must be logged in order to do this!</p>
<p class="menu-text" style="margin-bottom: 2em">Please <a style="font-weight: 900" href="{% url "login" %}?next={% url "film-details" film.id %}">LOG IN</a> or <a style="font-weight: 900" href="{% url "register" %}">REGISTER</a></p>  