{% load staticfiles %}

{% if user.is_authenticated %}
    <div class="preview-file-box">
    <p id="results" class="menu-text"></p>
    {% if film.preview_embed_code_autoplay %}
        {% if film.preview.allow_verified and user.get_profile.is_verified %}
            <div class="watch-film-preview">
            {% if film.preview.password %}
            <p class="preview-password">PASSWORD: <span>{{ film.preview.password }}</span></p>
            {% endif %}
            <div class="embedded-player"></div>
            </div>
        {% elif not preview_request %}
            <div class="watch-no-permission">
                <p class="menu-text">You do not yet have permission to preview this film</p>
                <button type="button" id="send-preview-request">SEND PREVIEW REQUEST</button>
            </div>
        {% else %}
            {% if not preview_request.decision_made %}
                <p class="menu-text" >You will be notified when {{ film.user.get_profile.name }} responds to your request</p>
            {% else %}
                {% if preview_request.is_accepted %}
                    <div class="watch-film-preview">
                    {% if film.preview.password %}
                    <p class="preview-password">PASSWORD: <span>{{ film.preview.password }}</span></p>
                    {% endif %}
                    <div class="embedded-player"></div>
                    </div>
                {% elif preview_request.is_declined %}
                    <p class="menu-text" >Your request to preview this film has been declined.</p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        <p class="menu-text"> {{ film.user.get_profile.name }} has not yet linked a preview video for this film. Try sending a message.</p>
    {% endif %}
    </div>

{% else %}
<div id="anon-preview-box">
<p class="menu-text"> Considering <span>{{ film.title|upper }}</span> for your festival or event? Watch it first.</p>
<p class="anon-login"><a href="{% url "login" %}?next={% url "film-details" film.id %}">LOG IN</a> or <a href="{% url "register" %}">REGISTER</a> to request access to view this film.</p>
</div>
{% endif %}
