    <span id="reviewer-feature-survey">
        <p class="menu-text"> Are you reviewing {{ film.title|upper }} on your website? You will soon be able to grab a code-snippet here, linking your review to the film and giving you access to analytics and trending tools. Additionally, you can choose to add text at the end of your review listing the streaming sites where the film is available, the times and locations of future screenings, and including a link for your readers to add their email to the film's contact list. This text is loaded dynamically by us , so it is always kept up to date with the latest information from the film-owner. It forms a small paragraph that blends seamlessly into your review. </p>
        <p class="menu-text"> Would this feature be useful to you?</p>
        <button type="button" id="reviewer-feature-yes" class="toggle-yes">YES!</button>
        <button type="button" id="reviewer-feature-no" class="toggle-no">NO!</button>
    </span>
    <span id="reviewer-feature-feedback" style="display: none">
        <p class="menu-text">Thank you for your feedback!</p>
    </span>




