{% load fb_versions %}

{% with film.get_reviews as reviews %}
{% if reviews %}
<hr>
<h4>Reviews</h4>
	{% for item in reviews %}
	<div class="row">
		<div class="span6">
			{% if item.title %}<h5>{{item.title|striptags|safe}}</h5>{% endif %}
			<p>
				{{item.text|striptags|safe}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			{% if item.critic %}
				<a href="{% url "film_reviewer_list" %}?reviewer={{item.critic}}&type=person">{{item.critic}}</a>&nbsp;

				{% if item.organization %}
					from <a href="{% url "film_reviewer_list" %}?reviewer={{item.organization}}&type=organization">{{item.organization}}</a>&nbsp;
				{% endif %}
			{% else %}
				{% if item.organization %}
					from <a href="{% url "film_reviewer_list" %}?reviewer={{item.organization}}&type=organization">{{item.organization}}</a>&nbsp;
				{% else %}
					<a href="{% url "film_reviewer_list" %}?reviewer={{item.provider.id}}&type=provider">{{item.provider}}</a>&nbsp;
				{% endif %}
			{% endif %}
		</div>
		<div class="span3 text-right"><a href="{{item.url}}" target="_blank">Original link</a>&nbsp;{% if is_admin %}|&nbsp;<a href="{% url "film_review_delete" item.id %}">Delete</a>{% endif %}</div>
	</div>
	{% if not forloop.last %}
	<div class="row margin-top">&nbsp;</div>
	{% endif %}
	
	{% endfor %}
{% endif %}
{% endwith %}
