<div class="row list-buttons">
	<a id="show-this-film-btn" href="javascript:;" class="btn btn-success span2"><i class="icon-ok icon-white"></i> I want to show this Film</a>		
</div>
<script type="text/javascript">
	$(window).ready(function(){
		$('#show-this-film-btn').popover({
			placement: 'left', 
			trigger: 'click',
			title: 'Select event to invite',
			content: 
			'<div class="row">'+
				{% for event in my_events %}
					'<a href="{% url "event_invite_add" event.slug %}?invite_film={{object.slug}}" class="btn btn-small span2">{{event}}</a><br/>' +
				{% endfor %}
				'<a href="{% url "event_add" %}?invite_film={{object.slug}}" class="btn btn-small span2"><i class="icon-plus"></i> Create new event</a><br/>' +
			'</div>'
		});
	});
</script>