<div class="video-container">
    <iframe src="https://player.vimeo.com/video/{{ id }}?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autoplay={% if autoplay %}1{% else %}0{% endif %}"
        width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
    </iframe>
</div>

<style type="text/css">
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 0px; height: 0; overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
