<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ id }}?autoplay={% if autoplay %}1{% else %}0{% endif %}" frameborder="0" allowfullscreen></iframe>
</div>

<style type="text/css">
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 0px; height: 0; overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
